

body{
	    line-height: 2px;
    }
    
    img{
        
               filter: grayscale(100%);

        }
        
        
        #topicalertmoderator, .replywithquote, li{
            
            display: none;
            }
            
            
