*<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
*        <filter id="greyscale">
*        <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
*                0.3333 0.3333 0.3333 0 0
*                0.3333 0.3333 0.3333 0 0
*                0 0 0 1 0" />
*        </filter></svg>

<div class="pagepresuiv"></div><div class="pagepresuiv"></div><div class="pagepresuiv"><a href="#bas" class="cHeader">Bas de page</a>&nbsp;</div></td></tr><tr class="cBackHeader fondForum2Title"><th scope="col" class="messCase1" width="180">Auteur</th><th scope="col" class="padding md-width-type"><div class="left">&nbsp;Sujet : <h3>Mon chat ne meurt pas</h3></div>                        <div class="right"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYw== DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></a>&nbsp;</div></th></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819186"><tr class="message cBackCouleurTab2"><td class="none"><input type="hidden" id="search_first_id_post" value="2819186" /></td><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819186"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon16.gif?v=1477700583" width="15" height="15" alt="n°2819186"  title="n°2819186"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9tcnRlbWlsLw== DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="11289558" >MrTéMil</span></b></div><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9tcnRlbWlsLw== DOC_cryptlink cHeader" rel="nofollow"><img src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png" alt="mrtemil" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819186"></a><div class="toolbar"><div class="left"><ol 
class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;04:01:42&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9tcnRlbWlsLw== DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxODYmcmVmPTEmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxODY= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819186" class="post_content"><div>Salut à tous,<br />Je viens ici pour poser une question concernant mon chat.<br />Est-ce normal que mon chat ne meurt pas?<br /><br />Je m'explique: J'ai eu mon chat lorsque j'avais environs 8 ans, ma famille l'a adopté d'une amie à ma mère qui avait eu une porté de chat






. Lorsque j'ai grandit, le chat m'a suivi dans mes nombreux déménagements et il a traversé mes études avec moi, l'université, 5-6 emplois, mon mariage, etc. J'ai maintenant 2 enfants et le chat fait encore partie de la famille. Je ne souhaite absolument pas sa mort, il est un membre de la famille, mais l'espérance de vie d'un chat n'est-elle pas de 15-18 ans normalement? J'ai 41 ans!! LE PUTAIN DE CHAT A 33 ANS ET IL NOUS RAPPORTE ENCORE UN OISEAU MORT À TOUS LES JOURS!!!<br />Il est en pleine forme et il est présentement en train de ronronner à côté de moi au moment où j'écris ce message.<br /><br />Connaissez-vous des personnes qui ont eu un chat comme le mien?<div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTEwJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MTg2JnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 2 fois</span></div><div class="clear"></div></div></td></tr><tr class="message cBackCouleurTab2"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819186" class="rating_block"><span id="post_rating_1_2819186" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819186" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1


vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxODY= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxODY= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable"><tr class="message cBackCouleurTab1"><td class="messCase2 center" valign="top" style="text-align:center"><div class="toolbarpub">(Publicité)</div><div align="center"><script type="text/javascript"><!-- OAS_AD('Position2'); //--> </script></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819188"><tr class="message cBackCouleurTab2"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819188"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819188"  title="n°2819188"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9paS1sZW8taWkv DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="11288621" >ii Leo ii</span></b></div><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9paS1sZW8taWkv DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/6/2/1/11288621/2173082/tns1-2173082.png?v=1" alt="ii-leo-ii" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819188"></a><div class="toolbar"><div class="left"><o


l class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;06:56:57&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9paS1sZW8taWkv DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxODgmcmVmPTImcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxODg= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819188" class="post_content"><div><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9tcnRlbWlsLw== DOC_cryptlink CF_user_mention" rel="nofollow" data-id_user="11289558">MrTéMil</span><br />Suis mort de rire,tu m'a tué xD<br />Mon chat à que deux ans il est un zombie,mort mais vivant,tt e temp


s malade alors que ton chat a 33 ans est en pleine santé,c'est incroyable quand même, il veut pas lâché sa vie mdr.....faut qu'il aura votre nom de famille,il a le droit de l'avoir + que tes enfants.,nn mais srx!!!<div class="clear"></div></p></div></td></tr><tr class="message cBackCouleurTab2"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819188" class="rating_block"><span id="post_rating_1_2819188" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819188" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxODg= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxODg= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819190"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a


 href="#t2819190"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819190"  title="n°2819190"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9raWFyYW4v DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="4647319" >kiaran</span></b></div><span class="MoodStatus"><b>Profil : </b>Doctinaute de diamant</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9raWFyYW4v DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/3/1/9/4647319/1615359/tns1-1615359.jpg?v=5" alt="kiaran" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819190"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;09:02:28&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9raWFyYW4v DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxOTAmcmVmPTMmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum


-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxOTA= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819190" class="post_content"><div><div class="quote"><b>Citation :</b><br /><br /><br />Par exemple, la longévité potentielle d'un chat (Felis silvestris catus) est estimée à 20 ans. Le record de longévité attesté est de 38 ans et 3 jours, il s'agissait d'un chat de compagnie ; mais un chat errant exposé aux dangers extérieurs a une longévité moyenne de trois ans à l'époque moderne.<br /></div><br /><a rel="nofollow" target="_blank" href="https://fr.wikipedia.org/wiki/Long%C3%A9vit%C3%A9#cite_note-Education_de_votre_chat-1">https://fr.wikipedia.org/wiki/​ [...] tre_chat-1</a><br /><br /><div class="quote"><b>Citation :</b><br /><br /><br />Au Texas, le 26 mars 1986, à une époque où les «&nbsp;lolcats&nbsp;» n’existaient pas, un chat siamois pointait le bout de son museau. Trente ans plus tard, le prénommé Scooter est toujours en vie et est devenu, ce 9 mai 2016, le chat le plus vieux du monde.<br /></div><br /><a rel="nofollow" target="_blank" href="http://www.20minutes.fr/planete/1844779-20160512-chat-plus-vieux-monde-30-ans-appelle-scooter">http://www.20minutes.fr/planet​ [...] le-scooter</a><br /><br />Conclusion : si tu peux prouver sa date de naissance, appelle le guinness book, ils vont aimer !<div class="clear"></div></p></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-tool


bar-icons"><li><div><div id="post_rating_2819190" class="rating_block"><span id="post_rating_1_2819190" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819190" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTA= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTA= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819194"><tr class="message cBackCouleurTab2"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819194"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819194"  title="n°2819194"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9jcmF6eWthdGllLw== DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="11114488" >Crazykatie</span></b></div><span class="MoodStatus"><b>Profil : </b>Habitué</span><div


 class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9jcmF6eWthdGllLw== DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/4/8/8/11114488/2112227/tns1-2112227.gif?v=1" alt="crazykatie" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819194"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;09:11:33&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9jcmF6eWthdGllLw== DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxOTQmcmVmPTQmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxOTQ= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=14777


00583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819194" class="post_content"><div>T'es sûre que ç'a été le même tout du long? <img title="heink:" alt="heink:{}" src="http://images.doctissimo.fr/design/smilies/custom/heink.gif" class="wysiwyg_smiley" /> J'ai eu une copine qui croyait avoir un hamster d'une longévité exceptionnelle alors que ses parents en avaient racheté un (le premier s'était électrocuté en rongeant un fil électrique... ) <img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /><div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTEwJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MTk0JnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 1 fois</span></div><div class="clear"></div></div></td></tr><tr class="message cBackCouleurTab2"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819194" class="rating_block"><span id="post_rating_1_2819194" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819194" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLm


ZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTQ= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTQ= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819196"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819196"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819196"  title="n°2819196"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9kYWVtb25jYXQwMDcv DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="8423506" >DaemonCat0​07</span></b></div><span class="MoodStatus"><b>Profil : </b>Doctinaute Hors Compétition</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9kYWVtb25jYXQwMDcv DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/5/0/6/8423506/2171676/tns1-2171676.jpg?v=2" alt="daemoncat007" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819196"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;09:14:11&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9kYWVtb25jYXQwMDcv DOC_cryptlink gotoprofile" rel="nofollow" 


data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxOTYmcmVmPTUmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxOTY= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819196" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819194" class="Topic">Crazykatie a écrit :</a></b><br /><br /><p><br />T'es sûre que ç'a été le même tout du long? <img title="heink:" alt="heink:{}" src="http://images.doctissimo.fr/design/smilies/custom/heink.gif" class="wysiwyg_smiley" /> J'ai eu une copine qui croyait avoir un hamster d'une longévité exceptionne


lle alors que ses parents en avaient racheté un (le premier s'était électrocuté en rongeant un fil électrique... ) <img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /> <br /><br /></p></td></tr></table></div><p><br /><br />&nbsp;<img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /> <img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /> <img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /> <img title="lol:" alt="lol:{}" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif" class="wysiwyg_smiley" /> <img title="whistle:" alt="whistle:{}" src="http://images.doctissimo.fr/design/smilies/custom/whistle.gif" class="wysiwyg_smiley" /><div class="clear"></div></p></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819196" class="rating_block"><span id="post_rating_1_2819196" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819196" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTY= DOC_cryptlink " rel="nofollow">Se 


connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTY= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable"><tr class="message cBackCouleurTab2"><td class="messCase2 center" valign="top" style="text-align:center"><div class="toolbarpub">(Publicité)</div><div align="center"><script type="text/javascript"><!-- OAS_AD('Position4'); //--> </script></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819197"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819197"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819197"  title="n°2819197"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="7874402" >lazulite</span></b></div><span class="MoodStatus"><b>Profil : </b>Doctinaute Hors Compétition</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/4/0/2/7874402/1687876/tns1-1687876.jpg?v=5" alt="lazulite" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819197"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2


016&nbsp;à&nbsp;09:18:23&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkxOTcmcmVmPTYmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkxOTc= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819197" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819186" class="Topic">MrTéMil a écrit :</a></b><br /><br /><p><br />LE PUTAIN DE CHAT A 33 ANS<br /><br /></p></td></tr></table></div><p><br />&nbsp


;<img title="wahoo:" alt="wahoo:{}" src="http://images.doctissimo.fr/design/smilies/custom/wahoo.gif" class="wysiwyg_smiley" /> Es-tu sûr que ton chat ne t'a pas été insidieusement échangé contre un sosie plus jeune à une époque de ta vie ?<br />Sinon, ah, c'est le Jeanne Calment des chats ! <img title=";)" alt=";)" src="http://images.doctissimo.fr/design/smilies/wink.gif" class="wysiwyg_smiley" /> <br />Si tu peux prouver sa date de naissance, tu peux le signaler pour le livre des records de longévité des chats. Il se pourrait qu'il soit actuellement le plus vieux des chats connus au monde.<br />On peut te soupçonner ici de faire une blague, d'avoir lancé ce message pour rigoler mais si tu dis vrai, ton chat est un cas très rare mais non unique, cela s'est déjà vu.<br />Il y a déjà plusieurs années, j'avais vu dans l'émission télévisée <i>30 millions d'amis</i>, un couple de personnes de 90 ans ayant plusieurs chats dont un âgé de 30 ans d'après les dires du monsieur...<br />Était-ce vrai ?<br />En tout cas, le chat paraissait vraiment très vieux : un grand tigré à poils longs mais miteux...<br />À part, il existe des cas ayant été reconnus...<br />À voir :<br /><a rel="nofollow" target="_blank" href="http://wamiz.com/chats/actu/age-de-33-ans-le-chat-le-plus-vieux-du-monde-est-mort-6852.html">http://wamiz.com/chats/actu/ag​ [...] -6852.html</a><br /><br /><a rel="nofollow" target="_blank" href="http://dinosoria.com/chat-record.html">http://dinosoria.com/chat-reco​rd.html</a><br /><img title="&#91;&#58;general boll&#93;" alt="&#91;&#58;general boll&#93;" src="http://imdoc.fr/forum/images/perso/general%20boll.gif" class="wysiwyg_smiley smileyperso" /><div class="clear"></div></p><br /><span class="signature"> ---------------                         <br />Éthique et animaux :<br /><span class="DOC_cryptlinkaHR0cDovL3d3dy5sMjE0LmNvbS8= DOC_cryptlink " rel="nofollow" data-target="_blank">http://www.l214.com/</span><br />La psychologie du crime :<br /><span class="DOC_cr

<!-- BREAK -->
yptlinkaHR0cDovL2luZm9raW9zcXVlcy5uZXQvbGlyZS5waHA/aWRfYXJ0aWNsZT0yMTU= DOC_cryptlink " rel="nofollow" data-target="_blank">http://infokiosques.net/lire.p​hp?id_article=215</span><br />La liaison avec le mot euro :<br /><span class="DOC_cryptlinkaHR0cDovL3Zpbmd0c2NlbnRzLmZyZWUuZnIv DOC_cryptlink " rel="nofollow" data-target="_blank">http://vingtscents.free.fr/</span><div class="clear"></div></span></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819197" class="rating_block"><span id="post_rating_1_2819197" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819197" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTc= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkxOTc= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="mes


sagetable" id="message_position_2819232"><tr class="message cBackCouleurTab2"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819232"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819232"  title="n°2819232"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="9670381" >Ninova</span></b></div><span class="MoodStatus">Le swag est mort le 9.11.2016<br/><b>Profil : </b>Doctinaute d'or</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/3/8/1/9670381/2082546/tns1-2082546.jpg?v=1" alt="ninova" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819232"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;17:07:29&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkyMzImcmVmPTcmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/imag


es_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkyMzI= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819232" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819186" class="Topic">MrTéMil a écrit :</a></b><br /><br /><p><br />Salut à tous,<br />Je viens ici pour poser une question concernant mon chat.<br />Est-ce normal que mon chat ne meurt pas?<br /><br />Je m'explique: J'ai eu mon chat lorsque j'avais environs 8 ans, ma famille l'a adopté d'une amie à ma mère qui avait eu une porté de chat. Lorsque j'ai grandit, le chat m'a suivi dans mes nombreux déménagements et il a traversé mes études avec moi, l'université, 5-6 emplois, mon mariage, etc. J'ai maintenant 2 enfants et le chat fait encore partie de la famille. Je ne souhaite absolument pas sa mort, il est un membre de la famille, mais l'espérance de vie d'un chat n'est-elle pas de 15-18 ans normalement? <b>J'ai 41 ans!! LE PUTAIN DE CHAT A 33 ANS</b> ET IL NOUS RAPPORTE ENCORE UN OISEAU MORT À TOUS LES JOURS!!!<br />Il est en pleine forme et il est présentement en train de ronronner à côté de moi au moment où j'écris ce message.<br /><br />Connaissez-vous des personnes qui ont eu un chat comme le mien?<


br /><br /></p></td></tr></table></div><p> <img title="non:" alt="non:{}" src="http://images.doctissimo.fr/design/smilies/custom/non.gif" class="wysiwyg_smiley" /> pas tout de suite, il doit encore se taper ton divorce, ta dépression et ton chômage !<div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTEwJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MjMyJnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 1 fois</span></div><div class="clear"></div></div></td></tr><tr class="message cBackCouleurTab2"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819232" class="rating_block"><span id="post_rating_1_2819232" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819232" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyMzI= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaG


F0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyMzI= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819290"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819290"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819290"  title="n°2819290"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci90ZWVtdGVlbS8= DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="11217774" >teemteem</span></b></div><span class="MoodStatus"><b>Profil : </b>Doctinaute d'or</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci90ZWVtdGVlbS8= DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/7/7/4/11217774/2148780/tns1-2148780.jpg?v=2" alt="teemteem" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819290"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;22:50:05&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci90ZWVtdGVlbS8= DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW


8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkyOTAmcmVmPTgmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkyOTA= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819290" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819232" class="Topic">Ninova a écrit :</a></b><br /><br /><p><br />&nbsp;<img title="non:" alt="non:{}" src="http://images.doctissimo.fr/design/smilies/custom/non.gif" class="wysiwyg_smiley" /> pas tout de suite, il doit encore se taper ton divorce, ta dépression et ton chômage !<br /><br /></p></td></tr></table></div><p><br /><br />Tu promets un bel avenir à notre internaute.<br />Moi je note &#034;ce putain de chat&#034; ... euh. <img title="&#91;&#58;cotrente&#93;" alt="&#91;&#58;cotrente&#93;" src="http://imdoc.fr/forum/images/perso/cotrente.gif" class="wysiwyg_smiley smileyperso" /><div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTE


wJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MjkwJnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 2 fois</span></div><div class="clear"></div></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819290" class="rating_block"><span id="post_rating_1_2819290" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819290" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyOTA= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyOTA= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable"><tr class="message cBackCouleurTab2"><td class="messCase2 center" valign="top" style="text-align:center"><div class="toolbarpub">(Publicité)</d


iv><div align="center"><script type="text/javascript"><!-- OAS_AD('x04'); //--> </script></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819291"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819291"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819291"  title="n°2819291"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9zdHVkaWVzZ2lybC8= DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="7190016" >studiesgir​l</span></b></div><span class="MoodStatus"><b>Profil : </b>Habitué</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9zdHVkaWVzZ2lybC8= DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/0/1/6/7190016/2161042/tns1-2161042.jpg?v=1" alt="studiesgirl" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819291"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 24/11/2016&nbsp;à&nbsp;22:58:38&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9zdHVkaWVzZ2lybC8= DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MT


kyOTEmcmVmPTkmcGFnZT0xJnN1YmNhdD0xMCZzb25kYWdlPSZvd250b3BpYz0wJm5ldz0jZm9ybXVsYWlyZQ== DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkyOTE= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819291" class="post_content"><div>Oui moi aussi, cette expression m a interpellée<div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTEwJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MjkxJnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 1 fois</span></div><div class="clear"></div><br /><span class="signature"> ---------------                         <br /><span class="DOC_cryptlinkaHR0cDovL3RpY2tlcnMuZG9jdGlzc2ltby5mci8= DOC_cryptlink " rel="nofollow" data-target="_blank"> <img src="http://tickers.doctissimo.fr/get_ticker.html?who=&amp;tkr_type=personnalises&amp;fond_ticker=ruler_14_036.jpg&amp;tick_ticker=ico_14_037.png&amp;jour=1&amp;mois=4&amp;annee=2015&amp;inputtexte=Pistache" /> </span><br /><br /><span class="DOC_cryptlinkaHR0cDovL3RpY2tlcnMuZG9jdGlzc2ltby5mci8= DOC_cryptlink " rel="nofollow" data-target="_blank"> <img src="http://tickers.docti


ssimo.fr/get_ticker.html?who=&amp;tkr_type=personnalises&amp;fond_ticker=ruler_14_032.jpg&amp;tick_ticker=ico_14_032.png&amp;jour=1&amp;mois=5&amp;annee=2016&amp;inputtexte=Plume" /> </span><div class="clear"></div></span></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819291" class="rating_block"><span id="post_rating_1_2819291" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819291" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyOTE= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkyOTE= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819304"><tr class="message cBackCouleurTab2"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819304"><im


g src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819304"  title="n°2819304"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="9670381" >Ninova</span></b></div><span class="MoodStatus">Le swag est mort le 9.11.2016<br/><b>Profil : </b>Doctinaute d'or</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/3/8/1/9670381/2082546/tns1-2082546.jpg?v=1" alt="ninova" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819304"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 25/11/2016&nbsp;à&nbsp;00:04:37&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9uaW5vdmEv DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkzMDQmcmVmPTEwJnBhZ2U9MSZzdWJjYXQ9MTAmc29uZGFnZT0mb3dudG9waWM9MCZuZXc9I2Zvcm11bGFpcmU= DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class


="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkzMDQ= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819304" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819290" class="Topic">teemteem a écrit :</a></b><br /><br /><p><br /><br />Tu promets un bel avenir à notre internaute.<br />Moi je note &#034;ce putain de chat&#034; ... euh. <img title="&#91;&#58;cotrente&#93;" alt="&#91;&#58;cotrente&#93;" src="http://imdoc.fr/forum/images/perso/cotrente.gif" class="wysiwyg_smiley smileyperso" /><br /><br /></p></td></tr></table></div><p>Ben oui justement à cause de <b>ce putain de chat</b> qui en plus lui apporte des cadeaux tous les jours <img title=";)" alt=";)" src="http://images.doctissimo.fr/design/smilies/wink.gif" class="wysiwyg_smiley" /><div class="clear"></div></p></div></td></tr><tr class="message cBackCouleurTab2"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819304" class="rating_block"><span id="post_rating_1_2819304" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819304" /></span><span class="p


ost_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkzMDQ= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkzMDQ= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819308"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819308"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819308"  title="n°2819308"  /></a></div><div><b class="s2"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9qb2xvY2xvLw== DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="7257763" >joloclo</span></b></div><span class="MoodStatus">Parce que c'etait lui parce que c'etait moi.<br/><b>Profil : </b>*** Doctinaute d'Honneur ***</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9qb2xvY2xvLw== DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/7/6/3/7257763/972678/tns1-972678.jpg?v=2" alt="joloclo" style="max-width:150px; max-height:150px" /></span></div></td><td class


="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819308"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 25/11/2016&nbsp;à&nbsp;08:39:35&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9qb2xvY2xvLw== DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkzMDgmcmVmPTExJnBhZ2U9MSZzdWJjYXQ9MTAmc29uZGFnZT0mb3dudG9waWM9MCZuZXc9I2Zvcm11bGFpcmU= DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkzMDg= DOC_cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819308" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-


soins-chats/chat-meurt-sujet_56459_1.htm#t2819290" class="Topic">teemteem a écrit :</a></b><br /><br /><p><br /><br />Tu promets un bel avenir à notre internaute.<br />Moi je note &#034;ce putain de chat&#034; ... euh. <img title="&#91;&#58;cotrente&#93;" alt="&#91;&#58;cotrente&#93;" src="http://imdoc.fr/forum/images/perso/cotrente.gif" class="wysiwyg_smiley smileyperso" /><br /><br /></p></td></tr></table></div><p><br /></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819291" class="Topic">studiesgirl a écrit :</a></b><br /><br /><p><br />Oui moi aussi, cette expression m a interpellée<br /><br /></p></td></tr></table></div><p>Idem,je veux bien croire à de l'humour mais bon perso ça m'a choquée <img title=";)" alt=";)" src="http://images.doctissimo.fr/design/smilies/wink.gif" class="wysiwyg_smiley" /><div class="clear"></div></div><div class="edited"><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvZm9ydW0yLnBocD9jb25maWc9YW5pbWF1eC5pbmMmY2F0PTEmc3ViY2F0PTEwJnBvc3Q9NTY0NTkmcGFnZT0xJnNvbmRhZ2U9MCZvd250b3BpYz0wJnRyYXNoPTAmdHJhc2hfcG9zdD0wJnByaW50PTAmbnVtcmVwb25zZT0yODE5MzA4JnF1b3RlX29ubHk9MSZuZXc9MCZub2pzPTA= DOC_cryptlink cLink" rel="nofollow">Message cité 1 fois</span></div><div class="clear"></div><br /><span class="signature"> ---------------                         <br /><span class="DOC_cryptlinkaHR0cDovL3RpY2tlcnMuZG9jdGlzc2ltby5mci8= DOC_cryptlink " rel="nofollow" data-target="_blank"> <img src="http://tickers.doctissimo.fr/make2.php?who=&amp;button=perso&amp;fond_ticker=ruler_14_034.jpg&amp;tick_ticker=ico_15_026.png&amp;jour=8&amp;mois=7&amp;annee=2010&amp;tkr_type=privee&amp;inputtexte=Adieu%20Namour&amp;nombebe=" /> </span><br /><span class="DOC_cryptlinkaHR0cDovL3Jlc2N1ZS1hbmltYXV4LWNvcnNlLmZvcnVtYWN0aWYub3JnL3Q3OTItbm90cmUtaGlzdG9pcmUtbm9zLWFjdGlvbnMtZW4tcGhvdG9z DOC_cryptlink " rel="nofollow"


 data-target="_blank">http://rescue-animaux-corse.fo​ [...] -en-photos</span><br /><img title="&#91;&#58;angie078&#93;" alt="&#91;&#58;angie078&#93;" src="http://imdoc.fr/forum/images/perso/angie078.gif" class="wysiwyg_smiley smileyperso" /> <img title="&#91;&#58;kiara1705&#93;" alt="&#91;&#58;kiara1705&#93;" src="http://imdoc.fr/forum/images/perso/kiara1705.gif" class="wysiwyg_smiley smileyperso" /> <img title="&#91;&#58;zsazsa&#93;" alt="&#91;&#58;zsazsa&#93;" src="http://imdoc.fr/forum/images/perso/zsazsa.gif" class="wysiwyg_smiley smileyperso" /> <img title="&#91;&#58;carnounette89&#93;" alt="&#91;&#58;carnounette89&#93;" src="http://imdoc.fr/forum/images/perso/carnounette89.gif" class="wysiwyg_smiley smileyperso" /><br /><br />ANIMALERIES <span class="DOC_cryptlinkaHR0cDovL3d3dy5iZXN0Lm9mLmdob3N0ZGFuY2UuamVkLnN0L2FuaW1hbGVyaWVzLmh0bQ== DOC_cryptlink " rel="nofollow" data-target="_blank">http://www.best.of.ghostdance.​ [...] leries.htm</span><br /><br />ADOPTEZ STERILISEZ CESSEZ DE LES EXPLOITER!<br /><br /><span class="DOC_cryptlinkaHR0cDovL3d3dy5hc3NvY2lhdGlvbnNvc2RlY2hhcmdlLm9yZy8= DOC_cryptlink " rel="nofollow" data-target="_blank">http://www.associationsosdecha​rge.org/</span><br /><br /><span class="DOC_cryptlinkaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2dyb3Vwcy9zb3NkZWNoYXJnZS8/bXVsdGlfcGVybWFsaW5rcz02NjI5NDk1NTM4NDg1Mzc= DOC_cryptlink " rel="nofollow" data-target="_blank">https://www.facebook.com/group​ [...] 9553848537</span><br /><br /><br /><br />mi manchi Ribellu 03.04.2014 <img title="&#91;&#58;amelie42&#93;" alt="&#91;&#58;amelie42&#93;" src="http://imdoc.fr/forum/images/perso/amelie42.gif" class="wysiwyg_smiley smileyperso" /><div class="clear"></div></span></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><div id="post_rating_2819308" class="rating_block"><span id="post_rating_1_2819308" class="post


_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819308" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sb2dpbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkzMDg= DOC_cryptlink " rel="nofollow">Se connecter</span></dd>                                                <dd><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9pbnNjcmlwdGlvbi5odG1sP3JlZmVyZXJfdXJsPWh0dHAlM0ElMkYlMkZmb3J1bS5kb2N0aXNzaW1vLmZyJTJGYW5pbWF1eCUyRkNoYXRzJTJGU2FudGUtc29pbnMtY2hhdHMlMkZjaGF0LW1ldXJ0LXN1amV0XzU2NDU5XzEuaHRtJTIzdDI4MTkzMDg= DOC_cryptlink " rel="nofollow">Créer un compte</span></dd>                                        </dl></div></div></li></ol></div></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable"><tr class="message cBackCouleurTab2"><td class="messCase2 center" valign="top" style="text-align:center"><div class="toolbarpub">(Publicité)</div><div align="center"><script type="text/javascript"><!-- OAS_AD('x05'); //--> </script></div></td></tr></table><table cellspacing="0" cellpadding="4" width="100%" class="messagetable" id="message_position_2819377"><tr class="message cBackCouleurTab1"><td class="messCase1" width="180" valign="top" rowspan="2"><div class="right"><a href="#t2819377"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/icon1.gif?v=1477700583" width="16" height="16" alt="n°2819377"  title="n°2819377"  /></a></div><div><b class="s2"><span class="DOC_cryptl


inkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink CF_user_mention" rel="nofollow"  data-id_user="7874402" >lazulite</span></b></div><span class="MoodStatus"><b>Profil : </b>Doctinaute Hors Compétition</span><div class="avatar_center" style="clear:both"><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink cHeader" rel="nofollow"><img src="http://aws-cf.imdoc.fr/prod/avatars/4/0/2/7874402/1687876/tns1-1687876.jpg?v=5" alt="lazulite" style="max-width:150px; max-height:150px" /></span></div></td><td class="messCase2" valign="top"  style="border-bottom:0" ><a id="t2819377"></a><a id="bas"></a><div class="toolbar"><div class="left"><ol class="forum-toolbar-icons"><li><span class="topic_posted">Posté le 25/11/2016&nbsp;à&nbsp;18:44:55&nbsp;&nbsp;</span></li><li><span class="DOC_cryptlinkaHR0cDovL2NsdWIuZG9jdGlzc2ltby5mci9sYXp1bGl0ZS8= DOC_cryptlink gotoprofile" rel="nofollow" data-target="blank" title="&lt;img src=&quot;http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583&quot; width=&quot;16&quot; height=&quot;15&quot; alt=&quot;&quot;  title=&quot;Voir son profil&quot;  /&gt;"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/profile.gif?v=1477700583" width="16" height="15" alt=""  title="Voir son profil"  /></span></li><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvbWVzc2FnZS5waHA/Y29uZmlnPWFuaW1hdXguaW5jJmNhdD0xJnBvc3Q9NTY0NTkmbnVtcmVwPTI4MTkzNzcmcmVmPTEyJnBhZ2U9MSZzdWJjYXQ9MTAmc29uZGFnZT0mb3dudG9waWM9MCZuZXc9I2Zvcm11bGFpcmU= DOC_cryptlink " rel="nofollow"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/quote.gif?v=1477700583" width="18" height="14" alt="answer"  title="Répondre à ce message"  class="replywithquote"/></span></li></ol></div><div class="right"><ol class="forum-toolbar-icons"><li><span class="DOC_cryptlinkaHR0cDovL2ZvcnVtLmRvY3Rpc3NpbW8uZnIvdXNlci9tb2RvLnBocD9jYXQ9MSZwb3N0PTU2NDU5JmNvbmZpZz1hbmltYXV4LmluYyZudW1yZXBvbnNlPTI4MTkzNzc= DOC_


cryptlink alertmoderator" id="topicalertmoderator" onclick="return DOC_popup(this);" rel="nofollow" title="Prévenir les modérateurs en cas d&#039;abus"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/exclam.gif?v=1477700583" width="21" height="17" alt="Prévenir les modérateurs en cas d'abus"  /></span></li></ol></div><div class="spacer">&nbsp;</div></div><div id="para2819377" class="post_content"><div></p><div class="container"><table class="citation"><tr class="md_without_border"><td><b class="s1"><a href="http://forum.doctissimo.fr/animaux/Chats/Sante-soins-chats/chat-meurt-sujet_56459_1.htm#t2819308" class="Topic">joloclo a écrit :</a></b><br /><br /><p><br />Idem,je veux bien croire à de l'humour mais bon perso ça m'a choquée <img title=";)" alt=";)" src="http://images.doctissimo.fr/design/smilies/wink.gif" class="wysiwyg_smiley" /> <br /><br /></p></td></tr></table></div><p><br />Je n'aime pas ce mot, non plus, je déplore qu'il soit désormais entré dans le vocabulaire courant en tant qu'interjection.<br />À prendre en tant que tel...<div class="clear"></div></p><br /><span class="signature"> ---------------                         <br />Éthique et animaux :<br /><span class="DOC_cryptlinkaHR0cDovL3d3dy5sMjE0LmNvbS8= DOC_cryptlink " rel="nofollow" data-target="_blank">http://www.l214.com/</span><br />La psychologie du crime :<br /><span class="DOC_cryptlinkaHR0cDovL2luZm9raW9zcXVlcy5uZXQvbGlyZS5waHA/aWRfYXJ0aWNsZT0yMTU= DOC_cryptlink " rel="nofollow" data-target="_blank">http://infokiosques.net/lire.p​hp?id_article=215</span><br />La liaison avec le mot euro :<br /><span class="DOC_cryptlinkaHR0cDovL3Zpbmd0c2NlbnRzLmZyZWUuZnIv DOC_cryptlink " rel="nofollow" data-target="_blank">http://vingtscents.free.fr/</span><div class="clear"></div></span></div></td></tr><tr class="message cBackCouleurTab1"><td class="messCase2 " valign="bottom" height="2"  style="border-top:0" ><div class="toolbarB"><div class="right"><ol class="forum-toolbar-icons"><li><div><


div id="post_rating_2819377" class="rating_block"><span id="post_rating_1_2819377" class="post_rating_container"><span class="icons_container">    <span class="icon_counter_1"><img src="http://imdoc.fr/forum/themes_static/images_forum/56/rating_1.gif?v=1477700583" width="83" height="25" alt="j'aime"  title="j'aime"   id="post_rating_1_2819377" /></span><span class="post_rating_counter">0</span></span></span><dl class="rating_menu_logout">                                                <dt>Votez pour ce message</dt>                                                <dd><span 


