@font-face {
        font-weight: normal;
        font-style: normal;
}

html, body{
        position: absolute;
        margin: 0; padding: 0;
        width: 100%;
        background: -moz-linear-gradient(right, black, lightgrey);
        }
        
.clear{
        clear: both;
}        


#sujet{
        
}

#nevermorebox{
        
}

.profile{
        
}

.avatar{
        
}

#nevermoreprofile{
        
}

#nevermoretext{
        
}

#nevermore1{
        
}

#nevermore2{
        
}

#nevermore3{
        
}

#nevermore4{
        
}

#answers{
        
}

#answersprofile{
        
}

#bloc2{
        
}

#bloc3{
        
}

#bloc4{
        
}

#bloc5{
        
}

#answerstext{
        
}

#enkore{
        
}

#bonjourbonsoir{
        
}

#bonjourbonsoir1{
        
}

#bonjourbonsoir2{
        
}

#bonjourbonsoir3{
        
}

#pouletvengeur{
        
}

#valium{

}
