@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        font-size: 12pt;
        background-color: lightblue;
        
-moz-column-gap: 0.25cm;
-webkit-column-gap:0.25cm;
column-gap:0.25cm;

}

img{
	 width:350%;
}

h1{
	font-size:40pt;
	 margin-left: 15%;  

    }
     
h2{
       margin-left: 15%;  
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        

.image{
    position: float;
    width: 20%;
    margin-left: 15%; 
    
}
   


        

