 @font-face{
      font-family: 'aileron';
 src: url('fontes/Averia-Bold.ttf');
 }
 
 h3{
	    font-size: 100px; 
	line-height: 50px;
     }

body{
	    line-height: 2px;
	font-size: 24px;
	font-family: 'aileron';
	
    }
    
    a:link, a:active, a:visited{
	    color: black;
	text-transform: uppercase;    
    }
    
    img{
        
             display: none;
        }
        
        
        #topicalertmoderator, .replywithquote, li{
            
            display: none;
            }
            
            
