
	@font-face{
    font-family: 'selectric';
    src: url('http://localhost/2016/imprimons-internet/fontes/SelectricMono-webfont.ttf');
}

@font-face{
    font-family: 'karla';
    src: url('http://localhost/2016/imprimons-internet/fontes/Karla-Italic.ttf');
}

svg{
    height: 0;
}

.mw-editsection{
    display: none;
}

img{
    filter: grayscale(100%);
  }

h1, h2{
    font-weight; normal;
    font-style: normal;
    font-family: 'karla';
}

h1{
    text-align: left;
    position: absolute;
    hyphens: none;
    -webkit-hyphens: none;
    font-size: 250pt;
    transform: rotate(-33deg);
    transform-origin: 0 0;
    margin-bottom: 0.5cm;
    left: -2cm;
    top: 6cm;
    font-family: 'karla';
    z-index: -100;
}

h2{
    text-align: center;
}

p{
  font-size: 12pt;
  font-family: 'selectric';
  -moz-column-count: 2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-gap: 10px;
	-webkit-column-gap:10px;
	column-gap:10px;
	margin: 0 1cm;
}

p a{
    color: black;
    text-decoration: none;
    }

p.top{
    margin-top: 1cm;
    }

img{
    display: block;
    width: 80%;
    margin-left: 10%;
    padding: 0.2cm 0;
}

.horschamps{
    position:absolute;
    width: 100%;
    margin-left: 0cm;
    bottom: -0.5cm;
    filter: grayscale(100%);
}
