<svg>
  <filter id="monochrome" color-interpolation-filters="sRGB"
          x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix"
      values="1 0 0 0  0 
              0 0 0 0  0  
              0 0 0 0  0 
                0  0 0 1  0" />
  </filter>
</svg>
<h1>Hello&nbsp;ours</h1>
<p>Les <b>ours</b> forment la <a href="/wiki/Famille_(biologie)" title="Famille (biologie)">famille</a> de <a href="/wiki/Mammif%C3%A8res" class="mw-redirect" title="Mammifères">mammifères</a> des <b>ursidés</b> (<b><span class="lang-la" lang="la">Ursidae</span></b>), de l'ordre des <a href="/wiki/Carnivora" title="Carnivora">carnivores</a> (<a href="/wiki/Carnivora" title="Carnivora">Carnivora</a>). Le <a href="/wiki/Grand_panda" class="mw-redirect" title="Grand panda">Grand panda</a>, dont la classification a longtemps fait débat, est aujourd'hui considéré comme un ours <a href="/wiki/Herbivore" title="Herbivore">herbivore</a> au sein de cette famille<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span class="cite_crochet">[</span>1<span class="cite_crochet">]</span></a></sup><sup class="reference cite_virgule">,</sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span class="cite_crochet">[</span>2<span class="cite_crochet">]</span></a></sup>. Il n'existe que huit espèces d'ours vivantes réparties dans une grande variété d'<a href="/wiki/Habitat_(%C3%A9cologie)" title="Habitat (écologie)">habitats</a>, à la fois dans l'hémisphère Nord et dans une partie de l'hémisphère Sud. Les ours vivent sur les continents d'<a href="/wiki/Europe" title="Europe">Europe</a>, d'<a href="/wiki/Am%C3%A9rique_du_Nord" title="Amérique du Nord">Amérique du Nord</a>, d'<a href="/wiki/Am%C3%A9rique_du_Sud" title="Amérique du Sud">Amérique du Sud</a>, et en <a href="/wiki/Asie" title="Asie">Asie</a>.</p><p>Les ours modernes ont comme caractéristiques un corps grand, trapu et massif, un long museau, un pelage dense, des pattes plantigrades à cinq griffes non rétractiles, et une queue courte. L'<a href="/wiki/Ours_polaire" class="mw-redirect" title="Ours polaire">ours polaire</a> est principalement carnassier. Le <a href="/wiki/Panda_g%C3%A9ant" title="Panda géant">panda géant</a> se nourrit presque exclusivement de <a href="/wiki/Bambou" title="Bambou">bambou</a>. Les six autres espèces sont <a href="/wiki/Omnivore" title="Omnivore">omnivores</a>, leur alimentation variée comprend essentiellement des plantes et des animaux.</p><p>Sauf en période de <a href="/wiki/Reproduction_(biologie)" title="Reproduction (biologie)">reproduction</a> et d'éducation des jeunes, les ours sont solitaires. Ils sont généralement <a href="/wiki/Diurne_(comportement_animal)" title="Diurne (comportement animal)">diurnes</a>, mais également actifs la nuit ou au crépuscule, notamment autour des zones d'habitation humaine. On les dit parfois «&#160;<a href="/wiki/Nocturne_(comportement_animal)" title="Nocturne (comportement animal)">nocto</a>-<a href="/wiki/Diurne_(comportement_animal)" title="Diurne (comportement animal)">diurnes</a>&#160;».<br />Aidé par un odorat développé, malgré sa corpulence l'ours peut courir rapidement et nager, et escalader certaines parois ou des arbres. Cavernicole, il se réfugie volontiers dans des grottes, cavernes et tanières. La plupart des espèces y passent la saison froide à dormir (<a href="/wiki/Hivernation" title="Hivernation">hivernation</a>).</p><p>Les ours sont chassés depuis la <a href="/wiki/Pr%C3%A9histoire" title="Préhistoire">préhistoire</a> pour leur viande et leur fourrure. Ils ont joué un rôle de premier plan dans la culture (mythologie, légendes...) et <a href="/wiki/Ours_dans_l%27art" title="Ours dans l'art">les arts</a>. À l'époque moderne, les populations d'ours sont victimes de pressions (comme celles des éleveurs dans les Pyrénées), de l'empiètement de l'homme sur son habitat naturel, de l'<a href="/wiki/Artificialisation" title="Artificialisation">artificialisation</a> et de la <a href="/wiki/Fragmentation_des_for%C3%AAts" class="mw-redirect" title="Fragmentation des forêts">fragmentation des forêts</a> et du commerce illicite, notamment le marché asiatique de la <a href="/wiki/Bile" title="Bile">bile</a> d'ours. L'UICN a classé six espèces d'ours comme vulnérables ou menacées d'extinction.




<img src="http://img1.mxstatic.com/wallpapers/03b7f87575ec6083c392118d3d69b914_large.jpeg" />
 L'ours brun est menacé de disparition dans certains pays européens. Le braconnage et le commerce international des populations les plus menacées sont interdits, mais se pratiquent toujours.</p><p>L'ours a largement marqué la culture humaine, à travers des rites et des traditions attestés de l'<a href="/wiki/Europe" title="Europe">Europe</a> aux <a href="/wiki/Am%C3%A9rique" title="Amérique">Amériques</a> ou en <a href="/wiki/Asie" title="Asie">Asie</a>, et une abondante culture populaire. <a href="/wiki/Th%C3%A9ophraste" title="Théophraste">Théophraste</a>, dans son traité <i><a href="/wiki/Causes_des_plantes" title="Causes des plantes">des Odeurs</a></i>, dit que la chair de l'animal croît si on la conserve, même cuite, pendant le temps de leur retraite. Il dit encore que lors de l'hibernation, on ne trouve aucune trace d'aliments et que leur ventre ne contient qu'une très petite quantité de liquide&#160;; de même dans leur <a href="/wiki/C%C5%93ur" title="Cœur">cœur</a> pour le sang<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span class="cite_crochet">[</span>3<span class="cite_crochet">]</span></a></sup> et que le reste du corps n'en contient pas du tout. À leur sortie, au printemps, ils consomment une certaine herbe nommée aros (en <a href="/wiki/Grec_ancien" title="Grec ancien">grec ancien</a> <span class="lang-grc" lang="grc">αρος</span><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span class="cite_crochet">[</span>4<span class="cite_crochet">]</span></a></sup>).</p>

<h2><span class="mw-headline" id="Caract.C3.A9ristiques_physiques_.26_biologiques">Caractéristiques physiques &amp; biologiques</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Ursidae&amp;veaction=edit&amp;vesection=1" class="mw-editsection-visualeditor" title="Modifier la section : Caractéristiques physiques &amp; biologiques">modifier</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Ursidae&amp;action=edit&amp;section=1" title="Modifier la section : Caractéristiques physiques &amp; biologiques">modifier le code</a><span class="mw-editsection-bracket">]</span></span></h2><p>Tous les ours ont: un grand corps trapu et massif, des membres puissants, un <a href="/wiki/Fourrure" title="Fourrure">pelage</a> dense et hirsute, une <a href="/wiki/Queue_(animal)" class="mw-redirect" title="Queue (animal)">queue</a> courte, des oreilles rondes, un long museau, de grandes capacités olfactives (lui permettant de détecter une présence à <span class="nowrap">50&#160;mètres</span>) et d'audition, de larges pattes plantigrades à cinq <a href="/wiki/Griffe_(anatomie_animale)" class="mw-redirect" title="Griffe (anatomie animale)">griffes</a> non rétractiles. Un ours vit de 25 à 40 ans.</p>

<p>En 2011, des chercheurs espagnols annoncent la découverte d'une nouvelle espèce d'ursidés anciens baptisée <i><a href="/w/index.php?title=Agriarctos_beatrix&amp;action=edit&amp;redlink=1" class="new" title="Agriarctos beatrix (page inexistante)">Agriarctos beatrix</a></i><sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span class="cite_crochet">[</span>12<span class="cite_crochet">]</span></a></sup> (aujourd'hui <i><a href="/w/index.php?title=Kretzoiarctos_beatrix&amp;action=edit&amp;redlink=1" class="new" title="Kretzoiarctos beatrix (page inexistante)">Kretzoiarctos</a></i>)<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span class="cite_crochet">[</span>13<span class="cite_crochet">]</span></a></sup>. qui aurait vécu en <a href="/wiki/Espagne" title="Espagne">Espagne</a> au <a href="/wiki/Mioc%C3%A8ne" title="Miocène">Miocène</a>.</p>
<!-- BREAK -->

<p class="top">
	re, sa culture et son état d’esprit.
	Ce texte est à effacer (après lecture si c’est votre première visite) ou à conserver en bas de votre pad –––––  
	Bienvenue sur Framapad !  Ce service s’inscrit dans le réseau associatif Framasoft qui propose un ensemble de sites et de projets
	er (après lecture si c’est votre première visite) ou à conserver en bas de votre pad –––––  
	Bienvenue sur Framapad !  Ce service s’inscrit dans le réseau associatif Framasoft qui propose un ensemble de sites 
	 autour du logiciel libre, sa culture et son état d’esprit.
</p>
	<img class="horschamps" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Ursus_arctos_Dessin_ours_brun_grand.jpg" />

