@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        font-size: 13pt;
        background-color: lightblue;
}

img{
 width:200%;
}
     
h2{
       margin-left: 15%;  
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: 
}        

.image{
    position: absolute;
    margin: -25px -0px 0px -15px;
    width: 20%;
}
   


        

