@font-face {
    font-family: 'bagnardregular';
    src: url('../font/baganard/bagnard-webfont.woff2') format('woff2'),
         url('../font/baganard/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#rating_menu_logout{
      margin: 5px 10px 10px 0px;
       font-size: 20px;
        font-weight: bold;
         letter-spacing: 1px;
          text-align: center;

}
#messCase2{
 
	font-family: bagnardregular;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
        filter: hue-rotate(90deg);
}
#messCase3{
 
	font-family: bagnardregular;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
        filter: hue-rotate(90deg);
}
#texte{
    margin: 5px 5px 5px 5px;
     transform: skewY(10deg);
      transform: skewX(3deg);  
}
#texte2{
    margin: 5px 5px 5px 5px;
     transform: skewY(10deg);
      transform: skewX(3deg);  
}
html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
        background:linear-gradient(to right, pink , white, pink);
    }
#circle{
   
    overflow: hidden;
    width: 200px;         
    height:200px;       
    background: red;         
    moz-border-radius: 50px;        
    webkit-border-radius: 50px;       
    border-radius: 200px;
    display: 
    
}
#avatar1{
    position: absolute;
    margin: -25px -0px 0px -15px;
    width: 100%;

    }  
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
   } 
    #gland{
       color: red;
     
        width: 300px;
        height: 100px;
        text-align: left;
        line-height: 15px;
        width: 100px;
        margin: 10px auto 10px 230px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
 
}
 #S{
       filter: hue-rotate(90deg);
        text-align: left;
        line-height: 10px;
        width: 100px;
        margin: 10px auto 10px 230px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
          color: white;
}
}
}
