h1{
    font-size: 120px;
    top: 1cm;
    }
    
#rectangle{
        position: fixed;
        left: 3.5cm;
        top: 1cm;
        width: 3cm;
        height: 6cm;
         background: red;
}
         
.pagination{
    position: absolute;
    bottom: 1cm;
    left: 1cm;
    font-size: 24pt;
    }
