@font-face{
font-family: 'font1';    src: url('fontes/The-Million-Mile Man.ttf');
}

#title{
        text-align: center;
        font-family: 'font1';
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px pink;
   } 
