@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';       
}




.clear{
        clear: both;
    }
    
img{
	 width:100%;
	display: block;
}

#container-image{
	   width: 70%;
	margin-left: 15%;
    }

#image1{
    margin-top: 30px;
    padding-left: -25px;
     width: 450px;
    height: 91px
}

#image2{
      margin-top: 800px;
    padding-right: 110px;
     width: 450px;
    height: 91px;
    transform: rotate(180deg);
    position: relative;
    z-index:1;
}

#image3{
    padding-right: 110px;
     width: 120px;
    height: 40px;
    position: relative;
    margin-left:5%;
}
    #image4{
    padding-right: 110px;
     width: 120px;
    height: 40px;
    position: relative;
    margin-left:5%;
     filter: grayscale(100%);
    }
    
       #image5{
    padding-right: 110px;
     width: 120px;
    height: 40px;
    position: relative;
    margin-left:5%;
    }
 #image6{
    padding-right: 110px;
     width: 130px;
    height: 40px;
    position: relative;
    margin-left:5%;
    margin-bottom:9px;

    }

#cercle1{
  margin-top: 30px;
  margin-left: 90px;
  background:white;
  border-radius:50%;
  width:330px;
  height:300px;
  position:absolute;
}

#cercle2{
  margin-top: 560px;
  margin-left: 140px;
  background:white;
  border-radius:50%;
  width:330px;
  height:300px;
  position:absolute;
  z-index:2;
}

h6{
    margin-left: -20px;
    margin-top: 420px;
    color: grey;
     transform: rotate(-20deg);
    position:absolute;
    font-size:80pt;
    letter-spacing: 10px;
    z-index:4;
    }

    
h1{
	font-size:12pt;
	 margin-left: 150px;
	margin-top:80px;
	position:absolute;
	z-index:3;
}

    
h3{
	font-size:10pt;
	 margin-left: 220px;
	margin-top:83px;
	position:absolute;
	z-index:3;
}

p1{
    font-size: 10pt;
	 margin-left: 150px;
	margin-top:100px;
	width: 30%;
	position:absolute;
	z-index:3;
    
    }
    
h4{
	font-size:12pt;
	 margin-left: 200px;
	margin-top:620px;
	position:absolute;
	z-index:3;
	font-style: bold;
}

    
h5{
	font-size:10pt;
	 margin-left: 250px;
	margin-top: 623px;
	position:absolute;
	z-index:3;
}


p2{
    font-size: 10pt;
	 margin-left: 200px;
	margin-top:640px;
	width: 30%;
	position:absolute;
	z-index:3;
    
    }
    
    

   
h2{
       margin-top: 35px;
       margin-left: 25%;  
       font-size: 22pt;
} 

    
p{
font-size: 12pt;
margin-top:-60px;
margin: 0,5 cm;
 width: 70%;
margin-left: 25%;
text-align: justify;
position: relative;
}        

#forum{
    margin-top:-10px;
    background: black;
    color: white;
    width:490px;
    text-align:center;
    padding:10px;
    margin-left:25%;
    }




        


