
	<div id="container-image">
<h6> NOS RÊVES ??</h6>
	
<h1> Julien2Par​is </h1> <h3> Posté le 11/04/2005 à 15:33:47</h3>
<p1> Bonjour. Je realise actuellement un dossier sur le conscient et l'inconscient et plus precisement sur la frontiere qui les sépare. Si vous avez des conseils ou des remarques pertinentes je suis preneur. J'essaie de demontrer qu'il y a une sorte de frontiere que l'on peut "passer" lorsque qu'on rentre dans l'etat de veille juste avant le sommeil car meme si l'inconscient est omniprésent lorsque l'on est conscient les deux états sont separés.</p1>

<div id="cercle1">
</div>

<div  id="image1">
               <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkxQ7PnajQx-I43wB-irnCaP9VzJaDI8OgI9vhd1r7eSPmBQcrzQ"/>
               </div>
               
<h4> FloFlo08 </h4> <h5> Posté le 18/04/2005 à 17:19:26 </h5>

<p2> ton dossier m'nteresse tu pourais peut etre me dire comment laisser aller son inconscien? comment par exemple ne pas prendre conscience que l'on s'endort?
MON  probleme: je n'arrive pas a dormir , parce ke des que je sens ke je m'endor,mon inconscien prend conscience que je passe "cette frontiere" et du cou c plus fort ke moi "je bloc" et ne dors plus!!! ssssssssssss.OOOOOOOOOOOOO.SSS​SSSS</p2>
<div id="cercle2">
</div>
               
               
<div id="image2">
               <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkxQ7PnajQx-I43wB-irnCaP9VzJaDI8OgI9vhd1r7eSPmBQcrzQ"/>
               </div>

               <!-- BREAK -->
  
  </div>        
       <h2>RÊVER DE CACA</h2>
<div id="image3">
               <img src="http://image.flaticon.com/icons/svg/2/2008.svg"/>
               </div>
       <p><strong>Rêver d’excréments n’est pas fréquent. Néanmoins, ce type de rêve a toujours une signification forte pour le rêveur, ne serait-ce par les émotions qu’il suscite. En général, les personnes qui font ce type de rêve ont l’impression d’être sali(e)s ou d’avoir sali les autres. Les excréments étant toujours associés à la puanteur, le sordide voire l’interdit.</strong></p>

    <div id="forum">  <span>"<em>Je suis sur le tr&ocirc;ne en train de d&eacute;f&eacute;quer. Je n&rsquo;arrive pas &agrave; m&rsquo;arr&ecirc;ter. Tr&egrave;s rapidement, je me retrouve au sommet d&rsquo;une montagne de merde d&rsquo;o&ugrave; je contemple le monde. J&rsquo;ai un sentiment de puissance incroyable</em> ". Jean-Philippe, 48 ans</span> </div>
        
<h2>RÊVER D'ÊTRE NU</h2>
<div id="image4">
        <img src="http://blogue.voyagesbergeron.com/wp-content/uploads/2009/08/24-aout-2009-e1350592196296.jpg"/>
               </div>
        </div>
<p><strong>R&ecirc;ver de sa propre nudit&eacute; est un r&ecirc;ve fr&eacute;quent. Ce qui est singulier, c&rsquo;est la situation dans laquelle se trouve le r&ecirc;veur. Qu&rsquo;il soit nu dans une foule ou au milieu du d&eacute;sert n&rsquo;aura pas la m&ecirc;me signification : soit la nudit&eacute; sera associ&eacute;e &agrave; la honte ou la culpabilit&eacute;, soit elle le sera &agrave; un besoin d&rsquo;innocence enfantine et de d&eacute;responsabilisation.</strong></p>

<div id="forum">  <span>"<em>Cette nuit encore j'ai rêvé que je sortais et j'étais nue, je me cachais comme je pouvais, les gens me voyaient mais n'avaient pas l'air "choqué" de me voir déambuler nue ...
J'ai réussi à trouver un pull, mais il ne couvrait pas le bas de mon corps.</em> " Par un Doctinaute. 

</span> </div>

<h2>RÊVER DE PERDRE SES DENTS</h2>
<div id="image5">
        <img src="https://image.freepik.com/free-icon/tooth-fall-chopped_318-28590.jpg"/>
               </div>
<p><strong>R&ecirc;ver de perdre ses dents, d&rsquo;avoir les dents cass&eacute;es ou de se les faire arracher est un cauchemar fr&eacute;quent. Ce type de r&ecirc;ve &eacute;voque g&eacute;n&eacute;ralement une angoisse profonde et peut &ecirc;tre associ&eacute; &agrave; une peur de la mort. Il est &eacute;galement possible d&rsquo;y voir une forme d&eacute;tourn&eacute;e d&rsquo;une peur de la castration.</strong></p>
<div id="forum"> <span>" <em> Plusieurs fois j'ai rêver que je perdais plusieurs dents et elles n'étaient jamais intactes, toujours en morceaux. Au bout d'un moment les morceaux emplissaient ma bouche au point que je devais souffler pour les faire sortir ! </em> " Par Little Irish Fairy.</span></div>

<h2>RÊVER D'URINER</h2>
<div id="image6">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/f3/0a/6e/f30a6ecea2d651998adee5ecc53d7af7.jpg"/>
               </div>
        <p><strong>Rêver d’uriner est une forme de rêve qui renvoie directement au besoin de marquer son territoire. C’est un geste très animal et très archaïque qui semble traduire une angoisse d’être envahi par des pensées ou par une trop grande présence des autres dans son univers intime.</strong></p>       
         <div id="forum"> <span>" <em>Je passe le bac. Je suis dans la salle d’examen. Je viens de finir mon devoir. Je me lève et je me pisse dessus. Je suis fier de moi</em> ". Sébastien, 17 ans.</span></div>





