@font-face{
    font-family: 'selectric';
    src: url('fontes/SelectricMono-webfont.ttf');
}
	
*{
    font-family: 'selectric';
    font-size: 9pt;
    }

img{
    filter: grayscale(100%);
    width: 8cm;
}

#author{
	width: 4cm;
	margin: 0.25cm;
	position: absolute;
}

#author img{
    width: 100%;
}

#content{
    position: absolute;
    left: 








