#title{
        text-align: center;
        font-family: 'Simplepixels';
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px pink;
   } 
