@font-face{
    font-family: 'Averia';
    src: url('fontes/Averia-Bold.ttf);
}


#sujet{
        width: 100%;
        height: 6pt;
        margin-left: 5pt;
        margin-top: 7pt;
        font-family: Averia;
}

#nevermorebox{
        width: 70%;
        height:80%;
        background:  black;
        font-family: Career;
}



#sujet{
        width: 100%;
        height: 6pt;
        margin-left: 5pt;
        margin-top: 7pt;
        font-family: Averia;
}

#nevermorebox{
        width: 70%;
        height:80%;
        background: -moz-linear-gradient(right, black, lightgrey);
        font-family: Career;
        
}

.profile{
        width: 15pt;
        height: 2pt;
        text-color: grey;
        letter-spacing: 3pt;
}

.avatar{
        transform: skewY(25deg);
}

#nevermoreprofile{
        background:
        
}

#nevermoretext{
        
}

#nevermore1{
        
}

#nevermore2{
        
}

#nevermore3{
        
}

#nevermore4{
        
}

#answers{
        
}

#answersprofile{
        
}

#bloc2{
        
}

#bloc3{
        
}

#bloc4{
        
}

#bloc5{
        
}

#answerstext{
        
}

#enkore{
        
}

#bonjourbonsoir{
        
}

#bonjourbonsoir1{
        
}

#bonjourbonsoir2{
        
}

#bonjourbonsoir3{
        
}

#pouletvengeur{
        
}

#valium{

}

        
}

.profile{
        width: 15%;
        height: 2%;
        text-color: grey;
        letter-spacing: 3pt;
}

.avatar{
        transform: skewY(25deg);
}

#nevermoreprofile{
        background:
        
}

#nevermoretext{
        
}

#nevermore1{
        
}

#nevermore2{
        
}

#nevermore3{
        
}

#nevermore4{
        
}

#answers{
        
}

#answersprofile{
        
}

#bloc2{
        
}

#bloc3{
        
}

#bloc4{
        
}

#bloc5{
        
}

#answerstext{
        
}

#enkore{
        
}

#bonjourbonsoir{
        
}

#bonjourbonsoir1{
        
}

#bonjourbonsoir2{
        
}

#bonjourbonsoir3{
        
}

#pouletvengeur{
        
}

#valium{

}

