<div id="Sujet"><h3> Sujet : comment se fait il que les hommes soient si b&ecirc;tes ?</h3></div>

<div id="nevermorebox">
        <div id="nevermoreprofile">
                <div id="bloc1" class="profile">
                        <strong>nevermore020</strong>
                <strong>Profil :</strong> Doctinaute d'argent
        </div>
        <div class="avatar">
        <img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/1/5/9685015/2001472/tns1-2001472.jpg?v=11">
                </div>
        </div>
</div>
        <div id="nevermoretext">
                 <div id="nevermore1"> l'id&eacute;e que les hommes sont b&ecirc;tes me r&eacute;veille toutes les minutes.<br>
               Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! les Hommes n'en parlons pas.<br>
                                                        Je me souviens de quelqu'un qui avait dit il y a deux semaines qu'il y a des hommes qui ne se lavent pas et qui mettent du d&eacute;o pour cacher le tout.<br>
                                                        Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        &ccedil;a signifie que dans sa t&ecirc;te il y a des humains qui aiment &ecirc;tre sales et d'autres propres. Comme c'est b&ecirc;te !<br>
                                                        Surtout qu'il est incapable de se demander pourquoi certains sont propres et d'autres sales ?<br>
                                                        En fait, il ne poss&egrave;de que le savoir inculqu&eacute; par ses parents et son entourage et rien de plus. Qu'est ce qu'il est b&ecirc;te !<br>
                                                        <br>
                                                        n'en parlons pas en amour ! qu'est ce qu'ils sont b&ecirc;tes !<br>
                                                        ils sont b&ecirc;tes sans m&ecirc;me reconna&icirc;tre qu'ils sont b&ecirc;tes.<br>
         </div>
                                                 
                                    
        <div id="nevermore2">        <br> Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        La plupart font du shopping certes je suis bien d'accord.<br>
                                                        Mais c'est pour plaire &agrave; lui, et il ne comprend toujours pas ?!!? Mon Dieu qu'est ce qu'il est b&ecirc;te !<br>
                                                        C'est vrai quand je vois une femme, je la trouve en recherche de v&ecirc;tements qui pourront lui donner un beau corps, des v&ecirc;tements o&ugrave; ses fesses et ses seins pourront &ecirc;tre remarquer pour le plaisir des hommes.<br>
                                                        Attention, nous ne sommes pas toutes ainsi ! Mais encore une fois, les v&ecirc;tements, &ccedil;a permet avant tout d'&ecirc;tre civiliser et belles pour les yeux aveugles des hommes.<br>
                                                        Aussi parce qu'Il ne comprend pas que nous ne sommes pas toutes &agrave; &eacute;galit&eacute; sur le plan financier, parce qu'il n'est pas de d&eacute;passer l'&eacute;ducation re&ccedil;ue, pas en mesure de comprendre que les v&ecirc;tements sugg&egrave;rent beaucoup et qu'ils d&eacute;sirent sans le savoir &agrave; travers certains v&ecirc;tements que portent certaines femmes.<br>
                                                        Bref, je ne suis pas la m&egrave;re de Il donc qu'il aille voir ailleurs mais ce que je sais c'est qu'Il est trop b&ecirc;te.</p><br>
        </div>
                          
        <div id="nevermore3"> Mon Dieu, j'ai eu d'un coup un &eacute;tranglement &agrave; la pens&eacute;e soudaine des hommes b&ecirc;tes.<br>
                                                        Mon Dieu comme ils sont b&ecirc;tes ! Je pensais &agrave; celui qui pr&eacute;f&egrave;re la femme au naturel et qui trouve que celle qui porte du maquillage est artificielle.<br>
                                                        Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! Il faut tout leur expliquer.<br>
                                                        La teinture comme les soins esth&eacute;tique (dentaire, esth&eacute;tique avec gommage et &eacute;pilation et massages etc, le fitness) c'est tr&egrave;s naturel.<br>
                                                        Comme les hommes sont b&ecirc;tes derri&egrave;re quelques dipl&ocirc;mes et quelques postes &agrave; responsabilit&eacute;.<br>
                                                        <br>
                                                        Ca me tue, comment ai je fait pour ne pas voir &ccedil;a auparavant.<br>
                                                        </div>
                                        
        <div id="nevermore4"> <br>
                                                        Pour anecdote, l'ex de ma copine avait rencontr&eacute; dans les poubelles du Net, quelqu'un de ce genre, une personne cliniquement malade mental et qui vivait en soci&eacute;t&eacute; comme nous mais lui pour le malheur des faibles.<br>
                                                        Comment se faisait il qu'il n'avait pas &eacute;t&eacute; conduit de force en l'h&ocirc;pital psychiatrique ou en prison ?<br>
                                                            et l&agrave; je me demande comment font les hommes pour devenir fous cliniquement c'est &agrave; dire malade mental &agrave; cause d'une rupture avec une femme belle physiquement ?<br>
                                        </div>
        </div>
</div>

        <!-- BREAK -->

<div id="answers">
        <div id="answersprofile">
                <div id="bloc2" class="profile">
                        <strong>enKore</strong>
            <strong>Profil :</strong> Doctinaute de diamant
                </div>
                <div class="avatar">
                        <img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/1/7/10824017/2166642/tns1-2166642.jpg?v=3">
                </div>
                <div id="bloc3" class="profile">
                        <strong>Bonjour-Bonsoir</strong>
            <strong>Profil :</strong> Habitu&eacute;
                </div>
                <div class="avatar">
                        <img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png">
                </div>
                <div id="bloc4" class="profile">
                        <strong>Le Poulet Vengeur</strong>
                        <strong>Profil :</strong> Habitu&eacute;
                </div>
                <div class="avatar">
                        <img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png">
                </div>
                <div id="bloc5" class="profile">
                        <strong>Valium_et_Temesta</strong>
                                        </div><strong>Profil :</strong> Fid&egrave;le
                </div>
                <div class="avatar">
                        <img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png">
                </div>
        </div>
        <div id="answerstext">
                
                <div id="enkore">
                                                        Ils ont des bites qu'ils doivent de temps en temps faire marcher ! Il faut un temps pour tout, quoi.
        </div>
                
                <div id="bonjourbonsoir"> <div id="bonjourbonsoir1">
                                                        c vrai que le shopping est une activit&eacute; qui developpe n&ocirc;tre intelligence de toute fa&ccedil;on
         </div>
         <div id="bonjourbonsoir2">
                                                        Les femmes, elles ,font du shopping. Ce n'est pas vraiment mieux .Elles doivent s&ucirc;rement , &agrave; partir de 12 ans, passer plus de 40 % derri&egrave;re un miroir ou dans un magasin de v&ecirc;tements . Mais bon je trouve cela b&ecirc;te de dire que les hommes sont b&ecirc;tes sachant qu'il ne sont pas tous les m&ecirc;mes.
                                                </div>
         <div id="bonjourbonsoir3">
                                                        Nevermore020 , si tu pr&eacute;f&egrave;res dans tes messages tu sembles dire que les hommes sont b&ecirc;te d'aller vers les femmes qui essayent de leur plaire et de ne pas aller vers les femmes qui font la m&ecirc;me chose<br>
                                                        En d'autres termes si toutes les femmes du monde essayent de leur plaire , si ils vont vers elles ils sont b&ecirc;tes et si ils ne font rien , donc ils ne vont pas vers elles, ils sont b&ecirc;tes...<br>
                                                        C'est compl&egrave;tement illogique<br>
                                                       </div>
        </div>
                <div id="pouletvengeur">
                                                        Moi aussi j'ai un sujet int&eacute;ressant ! "Pourquoi certaines femmes pensent que les hommes sont stupides ?" &agrave; travers cette question je corrige le sujet du topic qui g&eacute;n&eacute;ralise trop &agrave; mon go&ucirc;t.<br>
                                                        <br>
                                                        En effet la notion de b&eacute;tise ne se d&eacute;termine pas &agrave; partir du sexe, mais plut&ocirc;t &agrave; partir de l'individu et son &eacute;volution dans le temps, exemple : un homme lambda peut &ecirc;tre aussi stupide qu'une femme lambda, de m&ecirc;me que tout autre attrait physique n'influe pas ( &agrave; ma connaissance, si vous avez les preuves, balancez) sur la capacit&eacute; cognitive de l'individu. &Agrave; cela s'ajoute le d&eacute;veloppement des connaissances et de la sagesse, qui diff&egrave;re chez chaque &ecirc;tre humain selon son parcours de vie.<br>
                                                        Enfin, je ne connais pas le pass&eacute; de chacun, peut-etre certaines pr&eacute;sentes ici ont eu une mauvaise exp&eacute;rience avec le genre masculin, mais &ccedil;a n'en fait pas pour autant un genre &agrave; insulter, merci de ne pas g&eacute;n&eacute;raliser.<br>
                </div>
                <div id="valium">
                                                        Et comment &ccedil;a se passe pour les fr&egrave;res et s&oelig;urs siamoises ? Elles vivent la m&ecirc;me chose mais pourtant une (ou un) des deux peut cruellement pourrir la vie de l'autre si elle(il) est conne(con) comme ses pieds (pas les pieds de l'autre hein...) quoique, je sais pas comment &ccedil;a se passe l&agrave; si y'a trois jambes, et que une des s&oelig;urs dit :<br>
                                                        <br>
                                                        _"Vas-y bouge"<br>
                                                        <br>
                                                        Tandis que l&rsquo;autre "&eacute;met" un "blocage" ... ?<br>
                                                        <br>
                                                        Elles (ils) peuvent pas se mettre des baffes du coup vu que l'autre "voit" la claque arriver ?<br>
                                                        <br>
                                                        Faut attendre que l'autre s'endorme lol... L&agrave; hop ! l Tu te l&egrave;ves du lit en louzd&eacute;, et tu lui colles la t&ecirc;te dans l'r&eacute;frig&eacute;rateur 10 minutes mdrrrrrrr <img alt="" src="http://images.doctissimo.fr/design/smilies/custom/love.gif"><br>
                                                     
                                                        .....
       </div>
        </div>
</div>
