p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0.5cm;
transform: skewY(-15deg); 

}


h1{
    font-size: 30px; 
    text-align: lift;
    text-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    transform: skewY(-15deg); 
    margin: 0,5cm;
    }

h2{
    font-size: 20px;
	margin : 0.5cm;
	transform: skewY(-15deg); 
	transform: skewX(deg);
	font-weight: bold;
	}
li{
    transform: skewY(-15deg); 
    }
  























