@font-face{
    font-family: 'Outrun future';
     src: url('fontes/Outrun future.otf');
     }
     
@font-face{
    font-family: 'Inner City';
    src: url('fontes/Inner City.ttf');
    }
    @font-face{
    font-family: 'dumbnerd';
    src: url('fontes/dumbnerd.ttf');
    }
    
   @font-face{
    font-family: 'lintsec_';
    src: url('fontes/lintsec_.ttf');
    }
	
@font-face{
    font-family: 'adrip1';
     src: url('fontes/adrip1.ttf');
     }

 .deg{
      font-family: dumbnerd;
      text-transform : uppercase;
      font-size: 25px;
     }   
.deg1{
      font-family: lintsec_;
      text-transform : uppercase;
      font-size: 15px;
      
     }   
     
.deg2{
      font-family: lintsec_;
      text-transform : uppercase;
      font-size: 20px;
      display: inline-block;
        transform: skewY(10deg); 
}   
.deg3{
      font-family: lintsec_;
      text-transform : uppercase;
      font-size: 33px;
     }  
.#textd{
    transform: skewY(-5deg); 
    }

#textd1{
    transform: skewY(5deg);
    } 
    
#textd2{
        transform: skewY(-7deg);
        margin-top: -0.25cm;
    }    
#textd3{
        transform: skewY(-10deg);
        margin-top: -0.25cm;
    }    
    
#textli1{
	background: black;
	color: white;
	transform: skewY(3deg);
	width: 70%;
	margin-top:0;
    }
#textli2{
	background: black;
	color: white;
	transform: skewY(-3deg);
	margin-top: -0.5cm;
	
    }
    
    #textli3{
	transform: skewY(2deg);
    }
    #textli4{
	transform: skewY(-2deg);
    }
    
#textc{
        transform: skewY(-5deg);
        margin-top: -0.25cm;
    }      
    
#textc1{
        transform: skewY(8deg);
        margin-top: -0.25cm;
    }  
#textc2{
        transform: skewY(-1deg);
        width: 80%;
    }  

#textc3{
        transform: skewY(-3deg);
    }  
    
#proutfin{
    margin-left: 3cm;
    margin-top: -0.5cm;
    }
p{
    margin-bottom: 0;
font-family:adrip1;
   margin-right: 0.5cm;
text-align:justify;
}



h1{
    font-size: 25px; 
    transform: skewY(-5deg); 
    margin: 0.5cm;
    text-transform : uppercase;
    font-family:Outrun future;
    background: black;
    color: white;
    text-align: center;
    }

h2{
    font-size: 13px;
	margin-left : 2cm;
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	transform: skewY(-5deg)
	}
h3{
        font-size: 13px;
	margin-left : 2cm;
	margin-top: 1cm;
	margin-bottom: 0.25cm;
	transform: skewY(5deg); 
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	    }
	
h4{
    font-size: 15px;
	margin-left : 7cm;
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	}
h5{
    font-size: 15px;
	margin-left : 7cm;
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	transform: skewY(10deg);
	margin-bottom: 0;
}

h6{
        font-size: 16px;
	margin-left : 2cm;
	margin-top: 0.5cm;
	margin-bottom: 0.25cm;
	transform: skewY(2deg); 
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	    }



li{
	margin-right: 1cm;
	margin-top: 0cm;
	margin-bottom:0cm;
	text-align: justify;
	font-family: adrip1;
}


p, li, h2{
	width: 80%;
	margin-left: 10%;  
}




















