@font-face{
    font-family: 'term';
    src: url('fontes/terminal-grotesque.ttf');  
}

h1{
    padding: 10mm;    
}

all{
    font-family: 'term';
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
}

ul{
    color: red;    
}


