.cont{
    margin: 10mm;
}

h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

h1{
}

h3{
    font-size: 7pt;
}
    
h4{
    font-size: 7pt;
    color: red;
    -webkit-columns: 2;
     -moz-columns: 2;
     columns: 2;
    }
h5{
    font-size: 7pt;
    color: red;
    -webkit-columns: 3;
     -moz-columns: 3;
     columns: 3;
    }
