<div class="cont">
<h1>REPONDRE
</h1>
<h3>Pour répondre au critère de l'univocité que garantit, dans le domaine de la scientificité d'une science linguistique, le sens étymologique, le mot texte ramène à l'étymologie du mot tissu. En effet, texte, apparu au xiie siècle, vient du latin texere = 'tisser' (du participe passé textus d'où est dérivé tissu), au sens figuré d'un tissu qui comporte une chaîne et une trame. La chaîne étant le dispositif vertical sur lequel opère transversalement la trame et comportant des anneaux où celle-ci puisse s'insérer.
Pour répondre au critère de l'univocité que garantit, dans le domaine de la scientificité d'une science linguistique, le sens étymologique, le mot texte ramène à l'étymologie du mot tissu. En effet, texte, apparu au xiie siècle, vient du latin texere = 'tisser' (du participe passé textus d'où est dérivé tissu), au sens figuré d'un tissu qui comporte une chaîne et une trame. La chaîne étant le dispositif vertical sur lequel opère transversalement la trame et comportant des anneaux où celle-ci puisse s'insérer.
</h3>
<h4>Pour répondre au critère de l'univocité que garantit, dans le domaine de la scientificité d'une science linguistique, le sens étymologique, le mot texte ramène à l'étymologie du mot tissu. En effet, texte, apparu au xiie siècle, vient du latin texere = 'tisser' (du participe passé textus d'où est dérivé tissu), au sens figuré d'un tissu qui comporte une chaîne et une trame. La chaîne étant le dispositif vertical sur lequel opère transversalement la trame et comportant des anneaux où celle-ci puisse s'insérer.
Pour répondre au critère de l'univocité que garantit, dans le domaine de la scientificité d'une science linguistique, le sens étymologique, le mot texte ramène à l'étymologie du mot tissu. En effet, texte, apparu au xiie siècle, vient du latin texere = 'tisser' (du participe passé textus d'où est dérivé tissu), au sens figuré d'un tissu qui comporte une chaîne et une trame. La chaîne étant le dispositif vertical sur lequel opère transversalement la trame et comportant des anneaux où celle-ci puisse s'insérer.
</h4>
<h5>Pour répondre au critère de l'univocité que garantit, dans le domaine de la scientificité d'une science linguistique, le sens étymologique, le mot texte ramène à l'étymologie du mot tissu. En effet, texte, apparu au xiie siècle, vient du latin texere = 'tisser' (du participe passé textus d'où est dérivé tissu), au sens figuré d'un tissu qui comporte une chaîne et une trame. La chaîne étant le dispositif vertical sur lequel opère transversalement la trame et comportant des anneaux où celle-ci puisse s'insérer.
</h5>
</div>
