@font-face{
}

html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
    }
    
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;;
        box-shadow: 5px 5px 10px blue;
   } 
