@font-face{
    font-family: 'univers';
    src: url('fontes/UniversElse-Regular.ttf');
}

.cont{
	padding: 8mm;
	-moz-column-count: 2;
	-moz-column-gap: 15px;
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
	column-count: 2;
	column-gap: 15px;
    }
ul, p{
     font-family: 'univers';
     font-size: 7.5pt;
     line-height: 8pt;
     
}

img{
    display: none;
    }
