<div class="cont">
        <p><strong>Conditions g&eacute;n&eacute;rales d'utilisation du site Doctissimo</strong></p>
        <p>En utilisant le site Doctissimo vous acceptez de respecter les conditions g&eacute;n&eacute;rales d'utilisation et de navigation ci-apr&egrave;s d&eacute;finies.</p>
        <p><strong>1. Le site Doctissimo ne permet pas la r&eacute;alisation d'une consultation m&eacute;dicale</strong></p>
        <p>Les informations et services propos&eacute;s au sein du site Doctissimo ne constituent ni directement, ni indirectement une consultation m&eacute;dicale. Les informations fournies sur le site internet Doctissimo sont destin&eacute;s &agrave; am&eacute;liorer et non &agrave; remplacer la relation directe entre le patient et les professionnels de sant&eacute;. En aucun cas, les informations et services propos&eacute;s sont susceptibles de se substituer &agrave; une consultation, une visite ou un diagnostic formul&eacute; par votre m&eacute;decin ou peuvent &ecirc;tre interpr&eacute;t&eacute;es comme assurant la promotion de m&eacute;dicaments.</p>
        <p>Vous ne devez pas mettre en oeuvre les informations disponibles sur le site Doctissimo pour la formulation d'un diagnostic, la d&eacute;termination d'un traitement ou la prise et/ou la cessation de la prise de m&eacute;dicament sans consulter pr&eacute;alablement un m&eacute;decin g&eacute;n&eacute;raliste ou sp&eacute;cialiste.</p>
        <p>Vous reconnaissez que les informations qui sont mises &agrave; votre disposition ne sont ni compl&egrave;tes, ni exhaustives et que ces informations ne traitent pas de l'int&eacute;gralit&eacute; des diff&eacute;rents sympt&ocirc;mes, m&eacute;dicaments et traitements appropri&eacute;s aux pathologies et diff&eacute;rents maux quotidiens qui vous int&eacute;ressent.</p>
        <p>En outre, Doctissimo ne garantit en aucun cas un quelconque r&eacute;sultat &agrave; la suite de la mise en application des informations et services propos&eacute;s.</p>
        <p>Plus particuli&egrave;rement, les r&eacute;sultats que vous obtenez dans le cadre des diff&eacute;rents quizz propos&eacute;s ne sont donn&eacute;s qu'&agrave; titre indicatif, et ne pr&eacute;sume pas de la qualit&eacute; de votre &eacute;tat de sant&eacute; actuel et/ou futur, ou &agrave; l'inverse ne peuvent remettre en cause votre &eacute;tat de sant&eacute;.</p>
        <p>En cons&eacute;quence, vous reconnaissez que la responsabilit&eacute; de Doctissimo ne pourra &ecirc;tre recherch&eacute;e au titre de l'information et des services propos&eacute;s sur le site, et vous acceptez que l'utilisation de ces informations et services s'effectue sous votre seule et enti&egrave;re responsabilit&eacute;, contr&ocirc;le et direction.</p>
        <p><strong>2. Confidentialit&eacute; des donn&eacute;es</strong></p>
        <p>La base de donn&eacute;es personnelles constitu&eacute;e &agrave; l'occasion de l'inscription &agrave; la newsletter de Doctissimo et &agrave; 'inscription au Club Doctissimo est confidentielle.</p>
        <p>Doctissimo garantit par ailleurs la confidentialit&eacute; des donn&eacute;es personnelles collect&eacute;es (noms, adresses e-mails et mots de passe) lors de l'inscription &agrave; ses services (forums de discussion, blogs, albums photos, webmail, applications m&eacute;dicales, petites annonces, annuaire des Doctinautes, enqu&ecirc;tes en ligne) Seules les adresses des Internautes ayant souscrit &agrave; nos "offres partenaires" (en cochant la case &laquo;&nbsp;J'accepte de recevoir les offres de partenaires de Doctissimo.fr&nbsp;&raquo;) pourront voir leur adresse c&eacute;d&eacute;e &agrave; des tiers.</p>
        <p>Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s du 6 janvier 1978, tout utilisateur dispose d'un droit d'acc&egrave;s, de modification, de rectification et de suppression de ses donn&eacute;es.</p>
        <p>Doctissimo ne peut garantir ni la confidentialit&eacute; ni l'effacement des donn&eacute;es personnelles post&eacute;es volontairement par l'utilisateur dans les parties publiques du forum, des blogs, des chats ou dans ses messages priv&eacute;s.</p>
        <p>Doctissimo ne saurait &ecirc;tre tenu responsable du "spam" subi par les utilisateurs des forums qui auraient d&eacute;cid&eacute; volontairement et spontan&eacute;ment de publier en ligne leur adresse email.</p>
        <p>Conform&eacute;ment aux dispositions de la loi dans la Confiance dans l'&eacute;conomie num&eacute;rique du 21 juin 2004, les donn&eacute;es de nature &agrave; permettre l'identification des internautes (et notamment les adresses IP) ayant contribu&eacute; &agrave; la cr&eacute;ation de contenus sur le site internet Doctissimo sont d&eacute;tenues et conserv&eacute;es par Doctissimo.</p>
        <p>Les donn&eacute;es statistiques non personnelles (exemple&nbsp;: nombre de visiteurs uniques, nombre de pages vues en moyenne par utilisateur) sont analys&eacute;es par Doctissimo pour conna&icirc;tre les habitudes d'utilisation du site internet Doctissimo dans le but d'am&eacute;liorer le contenu &eacute;ditorial et communautaire et d'en informer les annonceurs, publicitaires ou institutionnels.</p>
        <p>L'identification automatique des Utilisateurs permettant d'acc&eacute;der directement aux forums de discussion de Doctissimo sans avoir &agrave; ressaisir l'identifiant et le mot de passe &agrave; chaque connexion n&eacute;cessite la mise en place d'un cookie. Les cookies rattach&eacute;s aux liens de la newsletter ne sont pas nominatifs et permettent uniquement de conna&icirc;tre le nombre de clics de chaque Utilisateur.</p>
        <p>Les cookies externes li&eacute;s aux publicit&eacute;s permettent de conditionner les campagnes publicitaires pour &eacute;viter leur r&eacute;p&eacute;tition excessive sur le site internet Doctissimo.</p>
        <p>Il n'y a pas de tracking personnalis&eacute; sur le site internet Doctissimo (IP, cookies).</p>
        <p>Les donn&eacute;es de l&rsquo;utilisateur pourront &ecirc;tre utilis&eacute;es dans le cadre de l&rsquo;organisation de jeux concours.</p>
        <p><strong>3. L'utilisation et la navigation sur le site Doctissimo doit respecter les lois et r&egrave;glements en vigueur</strong></p>
        <p>Vous &ecirc;tes inform&eacute; que l'ensemble des lois et r&egrave;glements en vigueur est applicable sur internet.</p>
        <p>A ce titre, lorsque vous utilisez les services offerts sur le site Doctissimo et que vous naviguez sur le site Doctissimo, il vous appartient de respecter l'ensemble des r&eacute;glementations applicables suivantes, et notamment :</p>
        <ul>
                <li>&nbsp;Les r&egrave;gles en mati&egrave;re de droits d'auteur et &agrave; de propri&eacute;t&eacute; industrielle tels que notamment cr&eacute;ations multim&eacute;dias, logiciels, textes, articles, photos, marques d&eacute;pos&eacute;es, base de donn&eacute;es, images de toute nature.</li>
                <li>Les personnes figurant sur les photographies sont des mod&egrave;les et leur image n'est utilis&eacute;e &agrave; des fins d'illustration.</li>
                <li>Les photographies figurant sur ce site ont &eacute;t&eacute; r&eacute;guli&egrave;rement acquises aupr&egrave;s des agences photographiques suivantes :</li>
        </ul>
        <p>&copy; Corbis, &copy; Eyewire, &copy; Fontshop, &copy; Getty Images, &copy; Goodshoot,<br>
        &copy; Iconotec, &copy; Image 100, &copy; Photo Alto, &copy; PictureQuest, &copy; Rubberball<br>
        &copy;&nbsp;Bsip, &copy; Maxppp, &copy; Phanie, &copy; Sipa</p>
        <p>La soci&eacute;t&eacute; Doctissimo et dans certains cas ses partenaires, sont propri&eacute;taires de l'int&eacute;gralit&eacute; des droits de propri&eacute;t&eacute; intellectuelle et industrielle relatifs au contenu du site Doctissimo. A ce titre, il vous est rappel&eacute; que toutes mentions relatives &agrave; l'existence de droits ne pourront &ecirc;tre supprim&eacute;es et que toutes reproductions, totales ou partielles, non autoris&eacute;es constitueraient des actes de contrefa&ccedil;on.</p>
        <p>En outre, il vous est interdit de proc&eacute;der &agrave; une extraction qualitativement ou quantitativement substantielle des bases de donn&eacute;es mises en ligne sur le site Doctissimo, ou d'utiliser ces bases de donn&eacute;es dans un cadre anormal.</p>
        <p>- Les r&egrave;gles en mati&egrave;re de traitements automatis&eacute;s de donn&eacute;es nominatives.</p>
        <p>- Les r&egrave;gles d'ordre public, telle que par exemple la r&eacute;glementation en mati&egrave;re de contenu pornographique, raciste ou illicite qui serait susceptible de porter atteinte &agrave; l'int&eacute;grit&eacute; ou &agrave; la sensibilit&eacute; d'un autre internaute ou &agrave; l'image de marque de Doctissimo par l'interm&eacute;diaire de messages, textes ou images provocants.</p>
        <p>- Les r&egrave;gles relatives au respect de la vie priv&eacute;e des personnes, internautes connect&eacute;s sur le site Doctissimo ou tiers. A ce titre vous vous engagez &agrave; vous abstenir de diffuser au sein des services interactifs qui vous sont propos&eacute;s des messages &agrave; caract&egrave;re injurieux, insultant, d&eacute;nigrant, d&eacute;gradant ou n'ayant aucun lien avec les questions abord&eacute;es.</p>
        <p>- La r&eacute;glementation en mati&egrave;re de droit de la presse. A ce titre, il vous appartient de vous abstenir de diffamer ou d'injurier quiconque, internaute connect&eacute; ou tiers.</p>
        <p>- La r&eacute;glementation en vigueur en mati&egrave;re de fraude informatique. A ce titre, vous devez vous abstenir de tenter une intrusion dans un syst&egrave;me de traitement automatis&eacute; de donn&eacute;es ou d'alt&eacute;rer, totalement ou partiellement les &eacute;l&eacute;ments qu'il contient. Vous &ecirc;tes inform&eacute;s que de tels actes sont passibles de sanctions p&eacute;nales.</p>
        <p>Plus particuli&egrave;rement, dans le cadre des services interactifs, Doctissimo se r&eacute;serve la facult&eacute; de supprimer imm&eacute;diatement et sans mise en demeure pr&eacute;alable tout contenu de quelque nature qu'il soit, et notamment tout message, toute photographie ou graphique qui contreviendrait aux lois et r&egrave;glements en vigueur et notamment aux r&eacute;glementations ci-dessus d&eacute;crites.</p>
        <p><strong>4. Les hyperliens sur Doctissimo</strong></p>
        <p>La mise en place d'un hyperlien vers Doctissimo n&eacute;cessite une autorisation pr&eacute;alable de Doctissimo. Vous devez en cons&eacute;quence prendre contact avec notre <a href="/asp/webmestre/visu_index.asp">Webmestre</a>.</p>
        <p>Doctissimo n'est en aucun cas responsable du contenu, des informations, des produits et des services offerts sur les sites qui font l'objet d'un hyperlien &agrave; partir du site Doctissimo.</p>
        <p>Plus particuli&egrave;rement, la responsabilit&eacute; de Doctissimo au titre des dommages directs ou indirects tels que notamment perte de client&egrave;le, action en justice, trouble commercial quelconque, perte d'image de marque, manque &agrave; gagner, ne pourra &ecirc;tre recherch&eacute;e ni au titre de la qualit&eacute; et/ou des sp&eacute;cifications des produits et services vendus par des partenaires affili&eacute;s, ni au titre des op&eacute;rations de paiements effectu&eacute;es sur ces sites.</p>
                 </div>       
 <!-- BREAK -->
 <div class="cont">
        
        <p><strong>5. La gestion des mots de passe</strong></p>
        <p>Vous &ecirc;tes responsable de la garde des mots de passe qui vous sont attribu&eacute;s pour l'acc&egrave;s et la mise en oeuvre des services &agrave; acc&egrave;s restreints offerts sur Doctissimo.</p>
        <p>Il vous appartient de mettre en oeuvre les mesures de pr&eacute;caution et de s&eacute;curit&eacute; n&eacute;cessaires &agrave; la protection de votre mot de passe et votre login.</p>
        <p>En cas de perte ou de vol de votre mot de passe et/ou de votre login, ou si vous prenez connaissance de l'utilisation de votre mot de passe et de votre login par un tiers non autoris&eacute;, vous devez imm&eacute;diatement <a href="/asp/webmestre/visu_index.asp">nous contacter</a>.</p>
        <p>Dans ce cadre, vous pourrez :</p>
        <ul>
                <li>soit solliciter le remplacement de vos mots de passe et login s'il existe un risque que ceux-ci soient utilis&eacute;s par un tiers.</li>
                <li>soit solliciter la restitution s&eacute;curis&eacute;e de vos mots de passe et login.</li>
        </ul>
        <p>Seul le directeur m&eacute;dical de Doctissimo est habilit&eacute; &agrave; vous restituer vos mots de passe et login, et ce dans le cadre d'une proc&eacute;dure s&eacute;curis&eacute;e &agrave; la suite de votre <a href="/asp/webmestre/visu_index.asp">demande</a>.</p>
        <p>Vous &ecirc;tes par ailleurs inform&eacute; que si pendant une dur&eacute;e de trois ans, vous n'utilisez pas les services qui vous sont offerts par Doctissimo au titre de votre abonnement au club Doctissimo, vous acceptez que votre abonnement soit supprim&eacute;, ainsi que vos mots de passe et login.</p>
        <p>Doctissimo ne pourra &ecirc;tre tenu responsable de l'utilisation frauduleuse de votre mot de passe et de votre login par un tiers qui serait parvenu &agrave; vous les subtiliser.</p>
        

        
        <p><strong>6. Les services interactifs propos&eacute;s sur Doctissimo</strong></p>
        <p>L'ensemble des dispositions de la pr&eacute;sente charte s'applique lors de votre participation aux services interactifs propos&eacute;s sur le site Doctissimo.</p>
        <p>Soyez en cons&eacute;quence respectueux de l'ensemble des dispositions l&eacute;gales et r&eacute;glementaires en vigueur, et notamment de celles d&eacute;crites pr&eacute;c&eacute;demment.</p>
        <p>A ce titre, vous &ecirc;tes seul responsable des informations, messages, images et d'une mani&egrave;re g&eacute;n&eacute;rale de tout contenu que vous diffusez via les services interactifs tels que notamment chat, forum.</p>
        <p>Vous acceptez que Doctissimo prenne l'initiative, sans mise en demeure pr&eacute;alable, de supprimer, en totalit&eacute; ou partiellement, tout contenu que vous diffusez ou qui vous est adress&eacute; via les services interactifs, si ce contenu est susceptible de porter atteinte aux lois et r&egrave;glements en vigueur ou aux bonnes moeurs.</p>
        <p>Vous reconnaissez que vous &ecirc;tes seul responsable de l'utilisation qui pourra &ecirc;tre faite du contenu, de quelque nature qu'il soit, que vous diffusez, et que Doctissimo ne proc&egrave;de au contr&ocirc;le, ni ne garantit l'exactitude, la l&eacute;galit&eacute;, la qualit&eacute; ou la fiabilit&eacute; des contenus de quelque nature qu'ils soient, diffus&eacute;s via les services interactifs propos&eacute;s sur le site.</p>
        <p>Vous &ecirc;tes seul responsable des prises de contact mises en oeuvre via les services interactifs du site Doctissimo.</p>
        <p>Vous reconnaissez que DOCTISSIMO assume la seule responsabilit&eacute; d'un prestataire technique d&eacute;finie &agrave; l'article 6 de la Loi pour la Confiance dans l'Economie Num&eacute;rique (LCEN) au titre des contenus produits par les Utilisateurs dans le cadre des services interactifs et &agrave; ce titre que&nbsp;:</p>
        <p>- DOCTISSIMO n'assume aucune responsabilit&eacute; au titre de la qualit&eacute; et de la conformit&eacute; l&eacute;gale des contenus, quelque qu'ils soient (textes, sons, vid&eacute;os, graphismes, photos ou autres) ainsi produits librement par les Utilisateurs,</p>
        <p>- DOCTISSIMO puisse, conform&eacute;ment &agrave; ses obligations l&eacute;gales, supprimer lesdits contenus apr&egrave;s qu'un tiers ait fait valoir le caract&egrave;re illicite du contenu concern&eacute;,</p>
        <p>- DOCTISSIMO communique, conform&eacute;ment &agrave; ses obligations l&eacute;gales et sur demande formelle des autorit&eacute;s judiciaires les &eacute;l&eacute;ments permettant l'identification des Utilisateurs ayant contribu&eacute; &agrave; ce contenu.</p>
        <p><strong>7. S&eacute;curit&eacute;</strong></p>
        <p>Vous reconnaissez que, nonobstant tous les moyens mis en oeuvre par la soci&eacute;t&eacute; Doctissimo, l'internet pr&eacute;sente des sp&eacute;cificit&eacute;s techniques qui impliquent l'impossibilit&eacute; pour Doctissimo de garantir la continuit&eacute; absolue de l'acc&egrave;s au service et des temps de r&eacute;ponse, ainsi que la s&eacute;curit&eacute; dans la transmission des donn&eacute;es.</p>
        <p>En toutes hypoth&egrave;ses, vous reconnaissez que les informations et services propos&eacute;s sur le site Doctissimo :</p>
        <ul>
                <li>pourront &ecirc;tre interrompues pour des cas de force majeure ou ind&eacute;pendants de la volont&eacute; de Doctissimo ou de faits ne relevant pas de la responsabilit&eacute; de Doctissimo,</li>
                <li>pourront contenir des erreurs de nature technique ou humaine,</li>
                <li>pourront induire des pertes de donn&eacute;es ponctuelles.</li>
        </ul>

        <p><strong>8. Garantie</strong></p>
        <p>De mani&egrave;re g&eacute;n&eacute;rale, Doctissimo ne garantit pas la compl&eacute;tude, l'exhaustivit&eacute; et l'exactitude du contenu des informations et des services propos&eacute;s sur le site Doctissimo, la soci&eacute;t&eacute; Doctissimo mettant tous les moyens disponibles en oeuvre afin d'offrir aux internautes un contenu de qualit&eacute;.</p>
        <p>En toutes hypoth&egrave;ses, la responsabilit&eacute; de la soci&eacute;t&eacute; Doctissimo, de l'un de ses partenaires ou de ses pr&eacute;pos&eacute;s ne pourra &ecirc;tre recherch&eacute;e au titre de l'utilisation que vous ferez des informations et des services propos&eacute;s sur le site et/ou de votre navigation.</p>
        <p>Vous &ecirc;tes engag&eacute;s &agrave; respecter l'ensemble des r&eacute;glementations l&eacute;gales et r&eacute;glementaires en vigueur, et plus particuli&egrave;rement celles vis&eacute;es au sein de la pr&eacute;sente charte.</p>
        <p><strong>9. Dispositions g&eacute;n&eacute;rales</strong></p>
        <p>Doctissimo se r&eacute;serve la facult&eacute; de modifier les dispositions de la pr&eacute;sente charte. En continuant &agrave; utiliser le site Doctissimo et &agrave; naviguer, vous acceptez les modifications qui seraient ainsi intervenues.</p>
        <p>La pr&eacute;sente charte exprime l'int&eacute;gralit&eacute; des engagements des parties, aucune condition g&eacute;n&eacute;rale ou sp&eacute;cifique figurant dans d'autres documents ne pourront &ecirc;tre consid&eacute;r&eacute;s comme &eacute;tant int&eacute;gr&eacute;s au p&eacute;rim&egrave;tre des droits et obligations existant entre Doctissimo et les internautes.</p>
        <p>Si une ou plusieurs des dispositions de la pr&eacute;sente charte &eacute;tait invalid&eacute;e pour quelque cause que ce soit les autres dispositions garderont toute leur force et leur port&eacute;e.</p>
        <p>En cas de difficult&eacute; d'interpr&eacute;tation entre l'un quelconque des titres et les clauses auxquelles ils se rapportent, le titre litigieux sera d&eacute;clar&eacute; inexistant.</p>
        <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales sont r&eacute;gies par la loi fran&ccedil;aise, pour les r&egrave;gles de fond et les r&egrave;gles de forme.</p>
        <p><strong>10. Mesure de l'audience en Belgique</strong></p>
        <p>Ce site participe &agrave; l'Etude CIM Internet. Les sites qui reprennent le logo<br>
        <br>
        <a href="http://www.cim.be/fr/media/internet/DisclaimerCIMInternet"><img alt="" src="http://medias.doctissimo.fr/html/doc/metriweb/images/mwLabel.gif"></a><br>
        <br>
        rassemblent des donn&eacute;es sur le nombre de visiteurs et de pages visit&eacute;es &agrave; l'aide de cookies. Un cookie est un petit fichier texte qui est plac&eacute; par un serveur sur le disque dur de votre ordinateur. Aucun logiciel suppl&eacute;mentaire n'est install&eacute;. Un cookie n'endommage en rien votre mat&eacute;riel ou les programmes que vous utilisez.</p>
        <p>Les donn&eacute;es qui sont r&eacute;colt&eacute;es dans le cadre de cette &eacute;tude sont tout &agrave; fait anonymes. Elles servent uniquement &agrave; la comparaison du nombre de visiteurs sur les sites participants. Vous trouverez de plus amples <a href="http://www.cim.be/fr/media/internet/trafic-0">informations sur l'&eacute;tude</a> et sur les <a href="http://www.cim.be/fr/media/internet/trafic/r%C3%A9sultats">r&eacute;sultats de la mesure</a> sur le site du CIM.</p>
        <p><strong>11 - Charte d'utilisation des forums</strong></p>
        <p>Les forums de Doctissimo sont ouverts &agrave; tout le monde, chacun est libre d'y intervenir, de mani&egrave;re anonyme ou identifi&eacute;e. Nous avons choisi de les mod&eacute;rer a posteriori pour les rendre plus vivants. Les messages post&eacute;s sont donc imm&eacute;diatement visibles en ligne. Ceci implique de la part des utilisateurs le respect de certaines r&egrave;gles &eacute;l&eacute;mentaires, expos&eacute;es dans la charte d'utilisation des forums accessible en <a>cliquant ici</a>.</p>
</div>
</div>

