html, body{
        margin: 0; padding: 0; width: 100%;
        
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre {
                font-family: 'Aileron-Regular';
			text-align: center;
}

#bloc1{
      width: 500px;
	height: 600px; 
	border: 3px solid red;  
	background: red;
	margin-left: 30px;
	padding: 5p
  
  
  
  
  
  
  
  
  
  
  
