<div id="top"> 
        <div id="nevermoreavatar">
        <img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/1/5/9685015/2001472/tns1-2001472.jpg?v=11">
        </div>
</div>
        
<div id="sujet"> Sujet : comment se fait il que les hommes soient si b&ecirc;tes ? </div>  



<div id="nevermorebox">

        <div id="nevermoreprofile" class="profile">

                <div id="bloc1">
                        <strong>nevermore020</strong><br>
                Doctinaute d'argent
        </div>  
        </div>
        <div id="nevermoretext" class="text">
                  l'id&eacute;e que les hommes sont b&ecirc;tes me r&eacute;veille toutes les minutes.<br>
               Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! les Hommes n'en parlons pas.<br>
                                                        Je me souviens de quelqu'un qui avait dit il y a deux semaines qu'il y a des hommes qui ne se lavent pas et qui mettent du d&eacute;o pour cacher le tout.<br>
                                                        Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        &ccedil;a signifie que dans sa t&ecirc;te il y a des humains qui aiment &ecirc;tre sales et d'autres propres. Comme c'est b&ecirc;te !<br>
                                                        Surtout qu'il est incapable de se demander pourquoi certains sont propres et d'autres sales ?<br>
                                                        En fait, il ne poss&egrave;de que le savoir inculqu&eacute; par ses parents et son entourage et rien de plus. Qu'est ce qu'il est b&ecirc;te !<br>
                                                        <br>
                                                        n'en parlons pas en amour ! qu'est ce qu'ils sont b&ecirc;tes !<br>
                                                        ils sont b&ecirc;tes sans m&ecirc;me reconna&icirc;tre qu'ils sont b&ecirc;tes.<br>
         
                                                 
                                    
                <br> Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        La plupart font du shopping certes je suis bien d'accord.<br>
                                                        Mais c'est pour plaire &agrave; lui, et il ne comprend toujours pas ?!!? Mon Dieu qu'est ce qu'il est b&ecirc;te !<br>
                                                        C'est vrai quand je vois une femme, je la trouve en recherche de v&ecirc;tements qui pourront lui donner un beau corps, des v&ecirc;tements o&ugrave; ses fesses et ses seins pourront &ecirc;tre remarquer pour le plaisir des hommes.<br>
                                                        Attention, nous ne sommes pas toutes ainsi ! Mais encore une fois, les v&ecirc;tements, &ccedil;a permet avant tout d'&ecirc;tre civiliser et belles pour les yeux aveugles des hommes.<br>
                                                        Aussi parce qu'Il ne comprend pas que nous ne sommes pas toutes &agrave; &eacute;galit&eacute; sur le plan financier, parce qu'il n'est pas de d&eacute;passer l'&eacute;ducation re&ccedil;ue, pas en mesure de comprendre que les v&ecirc;tements sugg&egrave;rent beaucoup et qu'ils d&eacute;sirent sans le savoir &agrave; travers certains v&ecirc;tements que portent certaines femmes.<br>
                                                        Bref, je ne suis pas la m&egrave;re de Il donc qu'il aille voir ailleurs mais ce que je sais c'est qu'Il est trop b&ecirc;te.</p>
        
                          
        <br> Mon Dieu, j'ai eu d'un coup un &eacute;tranglement &agrave; la pens&eacute;e soudaine des hommes b&ecirc;tes.<br>
                                                        Mon Dieu comme ils sont b&ecirc;tes ! Je pensais &agrave; celui qui pr&eacute;f&egrave;re la femme au naturel et qui trouve que celle qui porte du maquillage est artificielle.<br>
                                                        Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! Il faut tout leur expliquer.<br>
                                                        La teinture comme les soins esth&eacute;tique (dentaire, esth&eacute;tique avec gommage et &eacute;pilation et massages etc, le fitness) c'est tr&egrave;s naturel.<br>
                                                        Comme les hommes sont b&ecirc;tes derri&egrave;re quelques dipl&ocirc;mes et quelques postes &agrave; responsabilit&eacute;.<br>
                                                        <br>
                                                        Ca me tue, comment ai je fait pour ne pas voir &ccedil;a auparavant.<br>
                                                       
                                        
        </div>
</div>

        <!-- BREAK -->

<div id="answers">
        
        <div id="answersprofile">
        
                <div id="bloc2" class="profile">
                        <div class="text"> 
                                <strong>enKore</strong> <br>
                            Doctinaute de diamant
                   </div>
                </div>

                
                <div id="bloc3" class="profile">
                        <div class="text">
                                <strong>Bonjour-Bonsoir</strong> <br>
                            Habitu&eacute;
                        </div>
                </div>
                
                <div id="bloc4" class="profile">
                        <div class="text" >
                                <strong>Le Poulet Vengeur</strong> <br>
                                 Habitu&eacute;
                         </div>
                </div>
                                <div class="avatar">
                        <img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png">
                </div>
        
                <div id="bloc5" class="profile">
                        <div class="text">
                                <strong>Valium_et_Teme</strong> <br>
                        Fid&egrave;le
                </div>
        </div>
        <div class="avatar">
                        <img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png">
                </div>
                
                
        </div>
        
        <div id="answerstext">
                
                <div id="enkore"> 
                        <div class="text">
                                                        <p>Ils ont des bites qu'ils doivent de temps en temps faire marcher ! Il faut un temps pour tout, quoi. </p>
                       </div>        
       </div>
                
                <div id="bonjourbonsoir">
                        <div class="text">
                                                        <p>Les femmes, elles ,font du shopping. Ce n'est pas vraiment mieux .Elles doivent sûrement , à partir de 12 ans, passer plus de 40 % derrière un miroir ou dans un magasin de vêtements . Mais bon je trouve cela bête de dire que les hommes sont bêtes sachant qu'il ne sont pas tous les mêmes.</p>
                 </div>                                              
        </div>
                <div id="pouletvengeur" >
                        <div class="text">
                                                        <p>Moi aussi j'ai un sujet int&eacute;ressant ! "Pourquoi certaines femmes pensent que les hommes sont stupides ?" &agrave; travers cette question je corrige le sujet du topic qui g&eacute;n&eacute;ralise trop &agrave; mon go&ucirc;t.<br>
                                                        <br>
                                                        En effet la notion de b&eacute;tise ne se d&eacute;termine pas &agrave; partir du sexe, mais plut&ocirc;t &agrave; partir de l'individu et son &eacute;volution dans le temps, exemple : un homme lambda peut &ecirc;tre aussi stupide qu'une femme lambda, de m&ecirc;me que tout autre attrait physique n'influe pas ( &agrave; ma connaissance, si vous avez les preuves, balancez) sur la capacit&eacute; cognitive de l'individu. &Agrave; cela s'ajoute le d&eacute;veloppement des connaissances et de la sagesse, qui diff&egrave;re chez chaque &ecirc;tre humain selon son parcours de vie.<br>
                                                        Enfin, je ne connais pas le pass&eacute; de chacun, peut-etre certaines pr&eacute;sentes ici ont eu une mauvaise exp&eacute;rience avec le genre masculin, mais &ccedil;a n'en fait pas pour autant un genre &agrave; insulter, merci de ne pas g&eacute;n&eacute;raliser.</p>
                        </div>
                </div>
                <div id="valium" >
                        <div class="text">
                                                        <p>Et comment &ccedil;a se passe pour les fr&egrave;res et s&oelig;urs siamoises ? Elles vivent la m&ecirc;me chose mais pourtant une (ou un) des deux peut cruellement pourrir la vie de l'autre si elle(il) est conne(con) comme ses pieds (pas les pieds de l'autre hein...) quoique, je sais pas comment &ccedil;a se passe l&agrave; si y'a trois jambes, et que une des s&oelig;urs dit :
                                                            _"Vas-y bouge"<br>
                                                       Tandis que l&rsquo;autre "&eacute;met" un "blocage" ... ?<br>
                                                        Elles (ils) peuvent pas se mettre des baffes du coup vu que l'autre "voit" la claque arriver ?<br>
                                                        Faut attendre que l'autre s'endorme lol... L&agrave; hop ! l Tu te l&egrave;ves du lit en louzd&eacute;, et tu lui colles la t&ecirc;te dans l'r&eacute;frig&eacute;rateur 10 minutes mdrrrrrrr <img alt="" src="http://images.doctissimo.fr/design/smilies/custom/love.gif"><br>
                                                     
                                                        .....</p>
            </div>
       </div>
        </div>
</div>
