@font-face{
    font-family: 'aileron';
    src: url(fontes/Aileron-Regular.otf);
}


.big{
    font-size: 27pt;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
    
img{
    display: none;
}
        
.content{
	-moz-column-count: 2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-gap: 10px;
	-webkit-column-gap:10px;
	column-gap:10px;
	border: 2px solid black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	position: fixed;
	left: 1cm;
	top: 1cm;
	width: 13cm;
	transform: rotate(-10deg);
	padding: 0.5cm;
	font-family: 'aileron';
}
	
	
	
	
}
