@font-face{
    font-family: 'Averia-Bold';
     src: url('fontes/Averia-Bold.ttf');
     }
	
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0.5cm;
transform: skewY(-5deg); 
font-family: Averia-Bold;

}


h1{
    font-size: 25px; 
    text-align: lift;
    text-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    transform: skewY(-5deg); 
    margin: 0.5cm;
    text-transform : uppercase;
    }

h2{
    font-size: 16px;
	margin : 0.5cm;
	transform: skewY(-5deg); 
	font-weight: bold;
	    text-transform : uppercase;
	}
li{
    transform: skewY(-5deg); 
    font-family: Averia-Bold;
    }
  























