html, body{
        margin: 0; padding: 0; width: 100%;
}

@font-face {  
     font-family: 'Din';
}
       
#titre1 {
                font-family: 'Din';
			text-align: left;
			font-size: 40px;
			color: black;
			border: 5px dashed black;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 20px
			
			}
			

			
#loup{
	writing-mode: vertical-rl;
	margin-left: 580px;
	margin-top: 25px;
	font-size: 50px;
	 font-family: 'Aileron-Regular';
	color: red;
	opacity: 0.4;
	}
	@font-face {  
	     font-family: 'Aileron-Regular';
	       src: url(fontes/Aileron-Regular.otf);
	}

#bloc1{
      width: 500px;
	height: 550px; 
	border: 3px dotted red;  
	margin-left: 30px;
	padding: 10px;
	margin-top: -280px;
	        box-shadow: 10px 10px 30px red;
	
}


#celine{
	writing-mode: vertical-rl;
	margin-left: 140px;
	margin-top: 80px;
	font-size: 50px;
	 font-family: 'Career_salle13';
	color: blue;
	opacity: 0.4;
	}
	@font-face {  
	     font-family: 'Career_salle13';
	       src: url(fontes/Career_salle13.otf);
	}
	
	
	
  #bloc2{
      width: 400px;
	height: 320px; 
	border: 3px dashed blue;  
	margin-left: 210px;
	padding: 10px;
	margin-top: -360px;
	background-color: #bbdefb;
	box-shadow: 20px 20px 30px #bbdefb;
	

}
#bloc3{
	moz-column-count: 2;
	webkit-column-count:2;
	column-count:2;
	margin: 0.5cm;
	transform: skewY(-5deg); 

#bloc4{
     width: 500px;
	height: 550px; 
	border: 3px ;  
	margin-left: 30px;
	padding: 10px;
	margin-top: -280px;
	box-shadow: 10px 10px 30px red;
  
  
  
  
