body{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
}
h1{
    font-size: 30px; 
    text-align: center;
    }

h2{
    color: green;
    font-size: 20px;
}
   h2,h3{
	margin: 0.25cm;
  }
  
  























