<body>
<h1>Comment soigner la diarrh&eacute;e</h1>
<h2>Les rem&egrave;des chimiques contre les diarrh&eacute;es</h2>
<p>Pour soulager les sympt&ocirc;mes il existe diff&eacute;rents m&eacute;dicaments disponibles avec ou sans ordonnance. Les m&eacute;dicaments anti-diarrh&eacute;iques&nbsp;comme le lop&eacute;ramide r&eacute;duisent l'activit&eacute; excessive des intestins et am&eacute;liorent l'absorption des liquides. Cela permet de normaliser de nouveau les selles. Ces m&eacute;dicaments peuvent &ecirc;tre pratiques pour les voyageurs qui doivent parcourir de longs trajets. Ils soulagent rapidement votre diarrh&eacute;e et emp&ecirc;chent de perdre trop d'eau et de substances nutritives. En plus de r&eacute;guler les selles, ces m&eacute;dicaments &eacute;vitent ainsi de vous affaiblir. En revanche, ils sont contre-indiqu&eacute;s lorsque vous pr&eacute;sentez une forte fi&egrave;vre (&gt;38,5&deg;C) ou que vos selles contiennent des glaires ou du sang.</p>
<p>Pour les douleurs abdominales, vous pouvez consommer des antipasmodiques.</p>
<p>N'abusez pas trop de ces palliatifs. Rappelons que ces m&eacute;dicaments soulagent les sympt&ocirc;mes mais ne traitent en aucun cas la pathologie qui a provoqu&eacute; l'apparition d'une diarrh&eacute;e. Si les douleurs et les diarrh&eacute;es persistent, vous devez imp&eacute;rativement consulter un m&eacute;decin.</p>
<div>&nbsp;</div>
<h2>Les rem&egrave;des naturels contre les diarrh&eacute;es</h2>
<p>Beaucoup de "recettes de grand-m&egrave;re" existent pour soulager les sympt&ocirc;mes li&eacute;s &agrave; une diarrh&eacute;e. Voici une petite s&eacute;lection :</p>
<ul>
<li>Les probiotiques: Des &eacute;tudes ont montr&eacute; qu'en compl&eacute;ment de la r&eacute;hydratation, les lactobacilles peuvent r&eacute;duire les sympt&ocirc;mes de diarrh&eacute;e en cas d'intol&eacute;rance aux antibiotiques, lorsque celle-ci se d&eacute;clare.</li>
<li>La phytoth&eacute;rapie&nbsp;: celle-ci est pr&eacute;conis&eacute;e pour soigner tout type de diarrh&eacute;e. Vous pouvez consommer de l'&eacute;corce de ch&ecirc;ne&nbsp;en d&eacute;coction. Par son effet astringent, c'est-&agrave;-dire qu'elle r&eacute;duit la perm&eacute;abilit&eacute; de l'intestin, elle soulage les diarrh&eacute;es. Les infusions de camomille&nbsp;ou de gingembre&nbsp;adoucissent aussi les sympt&ocirc;mes.</li>
</ul>
<h2>Diarrh&eacute;e : Quand faut-il consulter ?</h2>
<p>La diarrh&eacute;e est souvent un ph&eacute;nom&egrave;ne passager qui se r&egrave;gle seul en quelques jours. Cependant dans certains cas, il est important de demander l'avis d'un sp&eacute;cialiste. Le professeur Laurent Beaugerie, gastro-ent&eacute;rologue &agrave; l'h&ocirc;pital Saint-Antoine &agrave; Paris pr&eacute;cise ainsi : <em>"Il faut imp&eacute;rativement consulter lorsque votre diarrh&eacute;e est accompagn&eacute;e d'une forte fi&egrave;vre, que vos selles sont glaireuses ou encore qu'elles pr&eacute;sentent du sang. En effet, ces sympt&ocirc;mes sont souvent synonymes d'infections parasitaires &eacute;volutives qu'il faut traiter rapidement."</em></p>
<p>Mais un autre cas de figure n&eacute;cessite une consultation : <em>"Attention aussi aux douleurs abdominales. Lorsqu'elles sont sous forme de spasmes, c'est-&agrave;-dire que la souffrance dure environ cinq minutes et qu'elle dispara&icirc;t apr&egrave;s chaque passage aux toilettes, rien d'inqui&eacute;tant. En revanche, si vous sentez une douleur continue en un point bien pr&eacute;cis du ventre, il faut consulter. Cette derni&egrave;re peut t&eacute;moigner d'une inflammation du c&ocirc;lon, d'une appendicite&nbsp;ou m&ecirc;me d'une p&eacute;ritonite".</em></p>
<p>Si vous pr&eacute;sentez l'un des sympt&ocirc;mes cit&eacute;s par le professeur Beaugerie, ne jouez pas &agrave; l'apprenti sorcier en pratiquant l'autom&eacute;dication. Faites confiance &agrave; votre m&eacute;decin, qui saura vous prendre en charge.</p>


<!-- BREAK -->
<div>
<h1>La constipation en 5 questions</h1>
</div>
<p><strong>La constipation fait encore partie de ces maux tabous. Si peu de gens acceptent d'en parler, elle concerne pourtant 1 personne sur 5 en France. La majorit&eacute; des malades sont des femmes (80 %) et des personnes &acirc;g&eacute;es. A travers 10 questions, Doctissimo r&eacute;pond &agrave; ceux qui, trop souvent, souffrent en silence&hellip;</strong></p>
<div>&nbsp;</div>
<h2>1. Quand peut-on dire qu'on est constip&eacute; ?</h2>
<p>Pour les m&eacute;decins, il y a constipation lorsqu'on va &agrave; la selle moins de 3 fois par semaine, sur une dur&eacute;e de plusieurs semaines voire plusieurs mois.</p>
<h2>2. Pourquoi les femmes sont-elles plus concern&eacute;es que les hommes ?</h2>
<p>&nbsp;La grossesse pr&eacute;dispose &agrave; la constipation. En effet, la diminution des contractions intestinales dues aux modifications hormonales et la compression de l'ut&eacute;rus par le c&ocirc;lon contribuent au ralentissement du transit.</p>
<p>Les personnes &acirc;g&eacute;es y sont aussi fr&eacute;quemment sujettes, la s&eacute;dentarit&eacute; et la prise de certains m&eacute;dicaments constituent des facteurs de risque souvent inh&eacute;rents &agrave; cette p&eacute;riode de la vie.</p>

<h2>3. Quelles sont les causes de la constipation ?</h2>
<p>Deux m&eacute;canismes sont le plus souvent en cause :</p>
<ul>
<li>Une "paresse" du gros intestin : le tube se contracte peu ou mal et les selles progressent lentement ;</li>
<li>Un "dess&egrave;chement" des selles : la paroi du c&ocirc;lon a, entre autres fonctions, celle de r&eacute;absorber l'eau pr&eacute;sente dans les mati&egrave;res f&eacute;cales. En l'absence d'une hydratation r&eacute;guliere et suffisante, cette r&eacute;absorption d'eau dans le gros intestin peut conduire &agrave; la formation de f&egrave;ces dures et s&egrave;ches, rendant leur &eacute;limination difficile.</li>
</ul>
<h2>4. Quels sont les facteurs favorisant la constipation ?</h2>
<p>La constipation peut &ecirc;tre :</p>
<ul>
<li>Occasionnelle : dans ce cas, elle est souvent due &agrave; un changement des habitudes quotidiennes (voyage &agrave; l'&eacute;tranger, modification de r&eacute;gime alimentaire, stress) ou encore au fait de "se retenir" ;</li>
<li>Brutale, sans cause particuli&egrave;re apparente : il convient alors de consulter un m&eacute;decin, car elle peut &ecirc;tre le sympt&ocirc;me d'une maladie plus grave ;</li>
<li>Chronique : lorsqu'elle est due &agrave; une mauvaise hygi&egrave;ne de vie (manque d'exercice, peu de boissons, alimentation d&eacute;s&eacute;quilibr&eacute;e...). Cependant, la grossesse ainsi que certains m&eacute;dicaments (contre la maladie de Parkinson, la d&eacute;pression, l'hypertension ou des maladies cardiaques) peuvent &eacute;galement favoriser une constipation &agrave; long terme.</li>
</ul>

<h2>5. Comment pr&eacute;venir la constipation au quotidien ?</h2>
<ul>
<li>Buvez entre 1,5 et 2 litres de liquide (eau, th&eacute;, jus de fruits) par jour ;</li>
<li>Luttez contre l'inactivit&eacute;, en favorisant la marche et les exercices stimulant la ceinture abdominale ;</li>
<li>Mangez &agrave; des horaires r&eacute;guliers ;</li>
<li>Evitez les repas sur le pouce, prenez votre temps &agrave; table ;</li>
<li>Ne n&eacute;gligez pas d'aller aux toilettes pour limiter les conditions de stress ;</li>
<li>Ne vous retenez jamais.</li>
</ul>

</body>

