@font-face {
    font-family: 'bagnardregular';
    src: url('../font/baganard/bagnard-webfont.woff2') format('woff2'),
         url('../font/baganard/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#rating_menu_logout{
      margin: 5px 10px 10px 0px;
       font-size: 112px;
        font-weight: bold;
         letter-spacing: 1px;
          text-align: center;

}
#messCase2{
        font-family: bagnardregular;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
}
html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
        background:linear-gradient(to right, pink , white, pink);
    }
    
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
   } 
    #gland{
        width: 100px;
        margin: 10px auto 10px 200px;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -5px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
}
}
