html, body{
        position:absolute;
        margin:0; padding:0;
        width:100%;
}

#titre{
        width:70%;
        margin-bottom:20px;
        margin-left:15%;
        text-align: center;
        font-family: 'maverickbold';
        font-size:30px;
   font-weight: bold;
}
