@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
body{
        font-family: 'monauto-regular';
        font-size: 13pt;
    }
     
#h2{
        text-align: center;  
        margin: 0,8 cm;   
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,8 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
}        


        

