@font-face {
    font-family: 'bagnardregular';
    src: url('../font/baganard/bagnard-webfont.woff2') format('woff2'),
         url('../font/baganard/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#rating_menu_logout{
      margin: 5px 10px 10px 0px;
       font-size: 20px;
        font-weight: bold;
         letter-spacing: 1px;
          text-align: center;

}
#messCase2{
		border-radius:5%;
	font-family: bagnardregular;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 3px 2px 1px white;
        box-shadow: 10px 15px 20px red;
    
}
#messCase3{
	text-align:center;
	width:350px;
	height:450px;
	font-family: bagnardregular;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: -1px;
        text-shadow: 5px 5px 5px white;
        box-shadow: 0px 0px 50px red;
        border-radius: 80%;
}
#message_position2{
	  position:aboslute
        text-shadow: 5px 5px 5px white;
        box-shadow: 5px 5px 10px blue;
}
#texte{
    margin: 5px 5px 5px 5px;
     transform: skewY(10deg);
      transform: skewX(3deg);  
}
#texte2{

   text-align:center;
}
html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
        background:linear-gradient(to right, pink , white);
    }
#circle{
    margin-left: 60px;
    overflow: hidden;
    width: 200px;         
    height:200px;       
    background: red;         
    moz-border-radius: 50px;        
    webkit-border-radius: 50px;       
    border-radius: 200px;
    
    
}
#circle2{
 margin-top:200px;
 margin-bottom: -116px;
 margin-left: 349px;
 //position: absolute;
    overflow: hidden;
    width: 50px;         
    height:50px;       
    background: red;         
    moz-border-radius: 50px;        
    webkit-border-radius: 50px;       
    border-radius: 100px; 
    box-shadow: 0px 0px 10px red;   
}
#avatar1{

    margin: -25px -0px 0px -15px;
    width: 100%;
}  

#avatar2{
margin: -25px -0px 0px -15px;
    width: 100%;
    }  
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
   } 
#title2{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
        box-shadow: 5px 5px 10px blue;
        
   } 
    #gland{
       color: red;
        text-shadow: 3px 2px 1px red;
        width: 300px;
        height: 100px;
        text-align: left;
        line-height: 15px;
        width: 100px;
        margin: 10px auto 10px 280px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
        text-shadow: 5px 5px 5px white;15px 15px 10px red;
 
}
 #S{

      text-shadow: 3px 2px 1px red;
       text-align: left;
        line-height: 10px;
        width: 100px;
        margin: 10px auto 10px 285px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: white;
}
 #ovule{
      margin-top: 230px;
      margin-lft: 110px;
      text-shadow: 3px 2px 1px red;
       text-align: center;
        line-height: 10px;
        font-family: bagnardregular;
        font-size: 100px;
        font-weight: bold;
        color: white;
}
}
}
