html, body{
        margin: 0; padding: 0; width: 100%;
        
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre {
                font-family: 'Aileron-Regular';
			text-align: center;
			vertcal-align: middle;
}

#bloc1{
      width: 500px;
	height: 600px; 
	border: 3px dotted red;  
	margin-left: 30px;
	padding: 10px;
	margin-top: 20px;
}
	
  #bloc2{
      width: 400px;
	height: 400px; 
	border: 8px dashed blue;  
	margin-left: 210px;
	padding: 10px;
	margin-top: -70px;
}
  
  
  
  
  
  
  
  
  
