@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        font-size: 12pt;
        background-color: lightblue;
        
}

img{
	 width:100%;
}

.image{
    margin-bottom: 50px;
        float: left; 
        width: 150px; 
}

h1{
	font-size:45pt;
	 margin-left: 15%;  
}
h3{
	font-size:23pt;
	 margin-left: 15%;
	margin-top:5%;  
}
     
h2{
       margin-left: 15%;  
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        



        


