<div id="all1">

<div id ="profil">
<div>
  <strong>La logique</strong>
</div><strong>Profil :</strong> Fid&egrave;le
<div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/6/0/5/8582605/1632074/tns1-1632074.jpg?v=6"></div>
</div>
<div id="first" class="col">
<div>
  &nbsp;Sujet :
  <h3>L&rsquo;&eacute;mergence et les deux transcendances de l&rsquo;Univers</h3>
</div>
  <div>
    <br>
    <div>
      Il n&rsquo;y a absolument jamais eu de big-bang &agrave; l&rsquo;origine de l&rsquo;Univers
    </div><br>
    <strong>L&rsquo;&Eacute;MERGENCE : Univers monodimensionnel</strong><br>
    Seules naissent les paillettes dimensionnelles issues de l&rsquo;imaginaire i<br>
    <div>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162640.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162640/img-251626403fa.jpg?v=1"></a>
    </div><br>
    Le carr&eacute; imaginaire i&sup2; est le potentiel de 2D. L&agrave; est la relativit&eacute; car les nombres n&eacute;gatifs (dits relatifs) n&rsquo;existent pas dans l&rsquo;Univers.<br>
    Par congruence des z&eacute;ros, zone de jonction imagino-r&eacute;elle, les paillettes dimensionnelles vont former les tous premiers &ecirc;tres de l&rsquo;Univers : des bicord&eacute;s.<br>
    <div>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/bicorde-25395874.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25395874/img-25395874ebe.jpg?v=1"></a>
    </div><br>
    Le degr&eacute; de libert&eacute; des bicord&eacute;s est tel que les cordes unit&eacute;s font un balayage l&rsquo;une par rapport &agrave; l&rsquo;autre comme des cils vibratiles. Le mouvement des cordes l&rsquo;une par rapport &agrave; l&rsquo;autre font faire se mouvoir les bicord&eacute;s qui vont prolif&eacute;rer et envahir v&eacute;ritablement cet univers monodimensionnel et former un gigantesque disque. Par endroit, la concentration des bicord&eacute;s est telle qu&rsquo;ils ne peuvent plus se mouvoir, c&rsquo;est alors que se produit la premi&egrave;re transcendance de l&rsquo;Univers qui devient bidimensionnel avec apparition des paillettes dimensionnelles issues de l&rsquo;imaginaire j :<br>
    <div>
      <br>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162642.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162642/img-25162642723.jpg?v=1"></a>
    </div><br>
    <strong>PREMI&Egrave;RE TRANSCENDANCE : Univers bidimensionnel</strong><br>
    Toujours prolif&eacute;ration des bicord&eacute;s de premi&egrave;re g&eacute;n&eacute;ration (ceux issus de l&rsquo;assemblage de deux paillettes dimensionnelles issues de l&rsquo;imaginaire i).<br>
    Apparition de bicord&eacute;s de deuxi&egrave;me g&eacute;n&eacute;ration par assemblage d&rsquo;une paillette dimensionnelle issue de l&rsquo;imaginaire i avec celle d&rsquo;une paillette dimensionnelle issue de l&rsquo;imaginaire j.<br>
    <div>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/bicorde-25395875.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25395875/img-2539587573e.jpg?v=1"></a>
    </div><br>
    Ces bicord&eacute;s ne se meuvent pas mais se mettent en rotation (un i vers j) g&eacute;n&eacute;rant une cin&eacute;matisation &eacute;nerg&eacute;tique qui engendre la temp&eacute;rature absolue de 0&deg;K.<br>
    Par ailleurs, des paillettes dimensionnelles issues de l&rsquo;imaginaire j vont former des supercordes rectilignes par assemblage de ses paillettes entre elles. Leur point d&rsquo;ancrage se fait sur l&rsquo;univers en 2D qui ressemble &agrave; un disque &agrave; ses d&eacute;buts. Ces supercordes irradient dans toutes les directions &agrave; partir de ce disque.<br>
    <u>L&rsquo;&eacute;quation de bidimensionnalit&eacute; universelle est donn&eacute;e par</u> :<br>
    <div>
      <br>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/equation-bidimensionnalite-universelle-25395876.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25395876/img-25395876c72.jpg?v=1"></a>
    </div><br>
    En se d&eacute;veloppant, ce disque (originellement plat) va s&rsquo;incurver comme une feuille de papier, prenant la forme d&rsquo;une sph&egrave;re faisant se rencontrer les supercordes dans la partie concave qui vont constituer une trame et provoquer une deuxi&egrave;me transcendance de l&rsquo;Univers qui devient tridimensionnel avec apparition de la troisi&egrave;me paillette dimensionnelle issue de l&rsquo;imaginaire k.<br>
    <div>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162647.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162647/img-2516264708f.jpg?v=1"></a>
    </div><br>
    <strong>DEUXI&Egrave;ME TRANSCENDANCE : Univers tridimensionnel<br></strong><br>
    L&rsquo;univers tridimensionnel est une sph&egrave;re tram&eacute;e &agrave; l&rsquo;int&eacute;rieure de laquelle l&rsquo;organisation des paillettes dimensionnelles issues des imaginaires i, j et k vont &ecirc;tre &agrave; l&rsquo;origine de toutes les particules &eacute;l&eacute;mentaires (disco&iuml;dales, sph&eacute;ro&iuml;dales, pt&eacute;ro&iuml;dales et h&eacute;lico&iuml;dales). A l&rsquo;ext&eacute;rieur de la sph&egrave;re universelle, les supercordes des imaginaires j se d&eacute;veloppent en continu et sous-tendent la structure de l&rsquo;Univers lui permettant de conserver sa forme sph&eacute;rique pendant son extension du fait de la prolif&eacute;ration dans la sph&egrave;re universelle des paillettes dimensionnelles issues des imaginaires i, j et k.<br>
    <br>
    <u>L&rsquo;&eacute;quation de tridimensionnalit&eacute; universelle est donn&eacute;e par</u> :<br>
    <div>
      <br>
      <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/equation-tridimensionnalite-universelle-25395877.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25395877/img-25395877745.jpg?v=1"></a>Voir l'image en grand<strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong>
    </div>Les supercordes dans notre univers tridimensionnel se d&eacute;veloppent circulairement. La supercorde par assemblage des paillettes dimensionnelles issues de l&rsquo;imaginaire j forme une aur&eacute;ole, alors que l&rsquo;assemblage des paillettes dimensionnelles issues de l&rsquo;imaginaire k forme une sph&egrave;re ench&acirc;ss&eacute;e dans l&rsquo;aur&eacute;ole. Ces supercordes permettent par sustentation de faire se d&eacute;placer les photons en cr&eacute;ant un trou de vers qui permet de voyager dans l&rsquo;espace-temps.<br>
    <br>
    <br>
    <div>
      C&rsquo;est ainsi que l&rsquo;on devient un &eacute;ternel !
    </div>
  </div>
</div>
<div id="second" class="col">
sujet: <h3>Changement climatique : des données alarmantes.</h3><br>

Les prévisionnistes mentent en sous-estimant les phénomènes qui font désormais du réchauffement climatique un emballement climatique.
</div>
<div id="third" class="col">
  sujet: <h3>Les scientifiques confondent les trous noirs et les corps noirs !!</h3>

  Une étoile supermassive qui termine sa vie en supernova, voit son noyau stellaire ferreux avoir deux destinées :<br>

  • Si l'étoile de départ a une masse stellaire inférieure à 25 fois la masse de notre soleil, elle devient ce que les cosmologistes appellent improprement une "étoile à neutron". En fait, il s'agit d'un <b>noyau stellaire hypermagnétique</b> du fait de l'arrangement des atomes de fer alignés les uns par rapport aux autres. La rotation engendrée par ce noyau stellaire est tel qu'il balaie l'espace autour de lui de toutes cellules dimensionnelles (il n'y a plus de chronotons), générant une bulle de cavitation dimensionnelle : c'est le trou noir qui tel une dépression (température inférieure à 0°K), attire la matière pour l'annihiler (décinématisation particulaire engendrant des flux de rayons X et de rayons gamma).
  <br>
  • Si l'étoile de départ a une masse stellaire supérieure à 25 fois la masse de notre soleil, elle devient un <b>corps noir</b>, c'est-à-dire un noyau stellaire dont la condensation atomique est telle que les noyaux des atomes de fer fusionnent entre eux, générant une <b>hypergravité</b>. En fusionnant au centre de la Galaxie, des corps noirs ont généré des corps noirs hypermassifs dont l'hypergravité est responsable de la gravitation de toute la Voie Lactée en spirale.
  <br>
  Alors que le noyau stellaire hypermagnétique nettoie l'espace environnant en le débarrassant de toutes particules élémentaires, notamment des chronotons, les corps noirs quant à eux attirent par hypergravité la matière et la compacte, de telle sorte que les corps noirs s'entourent d'une bulle adimensionnelle (pas de particules élémentaires, notamment pas de chronotons).
  <br>
  Même s'il s'agit d'un espace dénué de toutes particules élémentaires, et où la température est inférieure à 0°K, pour les noyaux stellaires hypermagnétiques, on parle de bulles de cavitation dimensionnelle, et pour les corps noirs, de bulles adimensionnelles.
  <br>
  Les noyaux stellaires hypermagnétiques participent au recyclage de la matière par décinématisation quantique (génération d'hyperondes imaginaires). Les corps noirs, quant à eux, sont de puissants hypergraviteurs, et c'est par une hyperonde gravitationnelle, que les corps noirs au centre de la galaxie la font tournoyer en spirale (même s'ils engendrent aussi des flux de rayons gamma en phagocytant les étoiles qui entrent dans leur bulle adimensionnelle).
  <br>
  Trois types d'évolution galactique :
  <ul>
    <li>Pas de corps noir hypermassif au centre galactique : ce sont les galaxies sphériques (type E) ;</li>
    <li>Un seul corps noir hypermassif au centre galactique : ce sont les galaxies spirales (type S) ;</li>
    <li>Deux corps noirs hypermassifs en rotation l'un par rapport à l'autre : ce sont les galaxies spirales barrées (type SB) comme la Voie Lactée.</li>
  </ul>
</div>
<div id="fourth" class="col">
   Sujet : <h3>Un i vers... LES ONDES IMAGINAIRES !!!</h3>
   A L'instar des ondes gravitationnelles, les imaginaires i, j et k dont sont issues les paillettes dimensionnelles, engendrent les ondes les plus gigantesques de tout le cosmos.
  <br>
  Les animaux et en bout de chaîne, les humains, sont par leurs cerveaux sensibles aux ondes imaginaires.
  <br>
  Sans les ondes imaginaires, il serait totalement impossible aux humains de faire des projections, et dans le temps, et dans l'espace !
  <br>
  Au plus loin de ce que font percevoir les ondes imaginaires, voici un exemple scientifique :
  <iframe width="400" height="300" src="https://www.youtube.com/embed/5Ux-GpIXSa4" frameborder="0" allowfullscreen></iframe>
</div>
<div id="fifth" class="col">
  sujet: <h3>Je pense donc je suis ; to be or not to be, that is the question !..</h3>
  ... Je ne pense pas !
</div>

</div>

<!-- BREAK -->

<div id="all2">

<div id="six" class="col">
  Sujet : <h3>Équation de tridimensionnalité universelle</h3>
  <div>
    <div>
      <u>&Eacute;quation de tridimensionnalit&eacute; universelle (identit&eacute; d&rsquo;Euler)</u> :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/equation-tridimensionnalite-universelle-25162633.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162633/img-251626332cf.jpg?v=1"></a>
      </div><br>
      L&rsquo;imaginaire i est une valeur g&eacute;om&eacute;trique analg&eacute;brique :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/imaginaire-25162635.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162635/img-25162635e9a.jpg?v=1"></a>
      </div><br>
      L&rsquo;imaginaire i fixe l&rsquo;orthogonalit&eacute; universelle.<br>
      La relativit&eacute; de l&rsquo;univers est : i&sup2; = -1<br>
      Les nombres n&eacute;gatifs n&rsquo;existent pas naturellement : ils sont relatifs.<br>
      La paillette monodimensionnelle est :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-imaginaire-25162638.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162638/img-25162638d22.jpg?v=1"></a>
      </div><br>
      Telle que :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162640.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162640/img-251626403fa.jpg?v=1"></a>
      </div><br>
      Pour x=1 (segment unit&eacute;)<br>
      La force de l&rsquo;imaginaire i correspond &agrave; la force num&eacute;rique :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/force-imaginaire-25162641.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162641/img-25162641d4b.jpg?v=1"></a>
      </div><br>
      La condition existentielle de la monodimensionnalit&eacute; est :<br>
      0 = 1 + i&sup2;<br>
      0 est la jonction entre l&rsquo;imaginaire et le r&eacute;el.<br>
      Dans un environnement de paillettes monodimensionnelles vont se diff&eacute;rencier des paillettes bidimensionnelles, puis tridimensionnelles.<br>
      La paillette bidimensionnelle caract&eacute;ristique de l&rsquo;imaginaire j est telle que :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162642.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162642/img-25162642723.jpg?v=1"></a>
      </div><br>
      La congruence des imaginaires fait s&rsquo;associer les paillettes monodimensionnelles avec les paillettes bidimensionnelles.<br>
      La force de l&rsquo;imaginaire j correspond &agrave; la force num&eacute;rique :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/force-imaginaire-25162643.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162643/tns0-251626435f4.jpg?v=1"></a>
      </div><br>
      Pour xy = 1, soit l&rsquo;&eacute;tude de la fonction : y = 1/x<br>
      L&rsquo;aire unit&eacute; est atteinte pour la valeur e.<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/constante-neper-25162644.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162644/img-25162644112.jpg?v=1"></a>
      </div><br>
      La constante de Neper e appara&icirc;t comme le transcendant de la bidimensionnalit&eacute;.<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/calcul-constante-neper-25162645.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162645/img-251626451fa.jpg?v=1"></a>
      </div><br>
      La condition existentielle de la bidimensionnalit&eacute; est :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/factorielle-zero-25162646.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162646/tns0-25162646984.jpg?v=1"></a>
      </div><br>
      La paillette tridimensionnelle de l&rsquo;imaginaire k se caract&eacute;rise ainsi :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/paillette-25162647.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162647/img-2516264708f.jpg?v=1"></a>
      </div><br>
      Toujours par congruence, les paillettes tridimensionnelles s&rsquo;associent avec la structure bidimensionnelle form&eacute;e par les paillettes des imaginaires i et j.<br>
      Pi est le nombre r&eacute;el qui appara&icirc;t dans la formule de la d&eacute;riv&eacute;e de la fonction de e(x) qui est l'homomorphisme continu du groupe additif R sur le groupe multiplicatif U des nombres complexes de valeur absolue 1.<br>
      Le nombre d&rsquo;Archim&egrave;de Pi appara&icirc;t comme le transcendant de la tridimensionnalit&eacute;.<br>
      La force de l'imaginaire k correspond &agrave; la force num&eacute;rique :<br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/force-imaginaire-25162648.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25162648/img-2516264823f.jpg?v=1"></a>
      </div><br>
      La structure tridimensionnelle ressemble &agrave; un flocon orthonorm&eacute;.<br>
      La force de l&rsquo;imaginaire k va entra&icirc;ner la rotation du plan form&eacute; par les imaginaires i et j (sens conventionnel : un i vers j) et constituer la premi&egrave;re particule &eacute;l&eacute;mentaire : un chronoton.<br>
      La structure tridimensionnelle de la particule est &agrave; l&rsquo;espace ce que sa cin&eacute;maticit&eacute; est au temps. L&rsquo;&eacute;nergie cin&eacute;matique fixe le seuil le plus bas des temp&eacute;ratures : la temp&eacute;rature absolue de 0&deg;K.<br>
      La suite avec ce fil de discussion : <a href="http://forum.doctissimo.fr/sante/intelligence/genese-univers-sujet_160478_1.htm">Gen&egrave;se d'un univers : 0 + 0 = ...</a>
    </div>
  </div>
</div>
<div id="seven" class="col">
  Sujet : <h3>Un métier d’avenir : fabriquant de robots sexuels !!!</h3>
  « Une société apaisée ».
  <br>
  Les robots sexuels sont la solution fantasmatique.
  <br>
  D’emblée je parle bien de "robots sexuels" et non pas de "cyborgs sexuels", c’est-à-dire en définition d’un cyborg, un corps cybernétique qui accueille une âme par activation des chakras pour l’évolution en élémental de cette âme.
  <br>
  Comment construire un robot sexuel : les robots ont acquis une telle fluidité des gestes que c’est à se méprendre sur une gestuelle qui ressemble à celle des humains. On peut artificiellement désormais synthétiser de la peau. Quant aux phanères (cheveux et ongles), ils poussent même quand un corps est mort.
  <br>
  Il suffit de commander le robot correspondant le plus à ses critères fantasmatiques : femme ou homme, blond, brun, grand, petit, etc.
  <br>
  Avantage des robots sexuels :<br>
  <ul>
    <li>Sexualité hygiénique : on n’attrape pas de maladies ;</li>
    <li>On peut le programmer sur un mode aléatoire, ce qui laisse une fantaisie sexuelle ;</li>
    <li>Il est la solution aux dérives sexuelles : les fantasmes sont tels qu’ils ne peuvent pas être corrigés. C’est notamment le cas des pédophiles qui pourront projeter leur fantasme avec des robots sans qu’il y ait exaction (sexualité non consentie). Réaliser les fantasmes a un effet résolutif ;</li>
    <li>La sexualité ne sera plus un tabou, ni même un élément de discorde dans les couples ;</li>
    <li>Les robots sexuels seront un palliatif à la solitude des célibataires.</li>
  </ul>

  C’est cool ! :)
</div>
<div id="eight" class="col">
  Sujet : <h3>Triangle des Bermudes : vortex magnétique du noyau central de la Terre</h3>
  ... engendré par la techtonicité des plaques ?<br>
  <img src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/25041059/img-25041059f96.jpg?v=1" alt="" />
</div>
<div id="nine" class="col">
   <p>Sujet :</p>
  <h3>La schizophr&eacute;nie r&eacute;v&eacute;latrice de l&rsquo;incoh&eacute;rence fondamentale du langage</h3>
  <div>
    <div>
      <u>Psychanalyse</u> :<br>
      <br>
      &laquo;&nbsp;"aime" &ocirc;t&eacute;&nbsp;&raquo; : c&rsquo;est entendementalement (relatif &agrave; l&rsquo;entendement, c&rsquo;est-&agrave;-dire "de ce que l&rsquo;on entend", du verbe "entendre" ) ce que notre cerveau comprend ("comprendre" : "avec prendre" ) de l&rsquo;&eacute;pellation du terme : &laquo;&nbsp;mot&nbsp;&raquo;.<br>
      <br>
      Or parler, c&rsquo;est exprimer des "mots <u>expir&eacute;s</u> avec de l&rsquo;air" :<br>
      <br>
      <div>
        mot + r = mort.
      </div><br>
      A noter que "terme" est synonyme de "fin". "Mourir", c&rsquo;est "expirer".<br>
      <br>
      &Ocirc;ter "m" &agrave; "mot", il reste : &laquo;&nbsp;"eau" t&rsquo;es&nbsp;&raquo;. Et la r&eacute;percussion entendementale est dans le mot : &laquo;&nbsp;cerv<strong>eau</strong>&nbsp;&raquo;. C&rsquo;est le sens du bapt&ecirc;me : "les mains &laquo;&nbsp;servent eau&nbsp;&raquo;".<br>
      <br>
      Un mort est d&eacute;fini comme &eacute;tant &ndash; synonymement &ndash; un esprit.<br>
      <br>
      Or, il est dit de quelqu&rsquo;un qui revient &agrave; lui apr&egrave;s s&rsquo;&ecirc;tre &eacute;vanoui, qu&rsquo;il reprend "<u>ses esprits</u>" (acceptation de la pens&eacute;e unique ; l&agrave; est l&rsquo;ouverture schizophr&eacute;nique).<br>
      <br>
      Il y a donc un illogisme &agrave; d&eacute;signer le corps d&rsquo;un individu qui n&rsquo;est plus vivant par le mot : "mort".<br>
      <br>
      <br>
      <u>Scientifiquement</u> :<br>
      <br>
      "Avec la science" &ndash; c&rsquo;est-&agrave;-dire la "conscience" &ndash; le processus de la pens&eacute;e, tr&egrave;s sch&eacute;matiquement, fait intervenir trois particules fondamentales :<br>
      <br>
      &bull; deux vectrices : le photon et ses ondes lumineuses (le sens de la vue) et le neutrino et ses ondes phoniques (le sens de l&rsquo;ou&iuml;e) ;<br>
      <br>
      &bull; une structurelle : l&rsquo;&eacute;lectron qui fait des neurones l&rsquo;&eacute;quivalent de transistors avec formation d&rsquo;arcs &eacute;lectriques entre neurones.<br>
      <br>
      La sp&eacute;ciation des neurones chez l&rsquo;humain fait qu&rsquo;il y a codification du langage fondamentalement par des repr&eacute;sentations symboliques que sont les lettres de l&rsquo;alphabet (et tous les autres symboles : ponctuation, chiffres, etc&hellip;). Et l&rsquo;apprentissage du langage, et conjointement de l&rsquo;&eacute;criture, construit notre cognition : les sens des mots correspondent sp&eacute;cifiquement &agrave; des arcs &eacute;lectriques &eacute;mis entre neurones.<br>
      <br>
      <br>
      <u>Pathologiquement</u> :<br>
      <br>
      Le cerveau, dans sa complexit&eacute;, a la facult&eacute; &ndash; exploit&eacute;e ou non &ndash; de permettre aux individus humains d&rsquo;entendre de mani&egrave;re interne leur propre voix : c&rsquo;est leur esprit. J&rsquo;appelle ceci la r&eacute;percussion entendementale. Au-del&agrave;, et en relation avec l&rsquo;analyse ci-dessus, certaines personnes d&eacute;veloppent l&rsquo;entendement de telle sorte qu&rsquo;elles entendent d&rsquo;autres esprits : c&rsquo;est la schizophr&eacute;nie (ainsi mal appel&eacute;e car il n&rsquo;y a absolument pas "scission de l&rsquo;esprit" ), et ces esprits sont des voix parasitaires (arcs &eacute;lectriques interneuronaux refl&eacute;tant une forme de survoltage dopaminergique) dont l&rsquo;expression est logique par un calquage effectu&eacute; &agrave; partir des fondements en croyances du langage et de l&rsquo;&eacute;criture.<br>
      <br>
      Qu&rsquo;est-ce que la morale &agrave; ce niveau ? Pendant des si&egrave;cles, la morale a permis la coh&eacute;sion sociale par des liens cognitifs du langage et de l&rsquo;&eacute;criture. Aujourd&rsquo;hui, le d&eacute;veloppement en "conscience" se substitue &agrave; la morale devenue incoh&eacute;rente par les croyances sur lesquelles elle prend racine.<br>
      <br>
      Les explications et l&rsquo;analyse qui sont faites, le sont en fran&ccedil;ais. Dans les autres langues, on doit retrouver les m&ecirc;mes incoh&eacute;rences du fait des sources originelles en relation avec des croyances.<br>
      <br>
      <br>
      <u>D&eacute;veloppement</u> :<br>
      <br>
      Quel est le constat ? On s&rsquo;aper&ccedil;oit que l&rsquo;on utilise des outils cognitifs que sont les lettres de l&rsquo;alphabet de mani&egrave;re archa&iuml;que.<br>
      <br>
      En effet, de la psychanalyse ci-dessus, on constate que les fondements du langage rel&egrave;vent de la croyance et non de la r&eacute;alit&eacute; scientifique.<br>
      <br>
      D&rsquo;o&ugrave; le frein du langage lui-m&ecirc;me pour l&rsquo;&eacute;volution scientifique puisque construit &ndash; entendementalement &ndash; sur des incoh&eacute;rences. On ne fait m&ecirc;me plus attention &agrave; ces incoh&eacute;rences, tel que ce qu&rsquo;il faut comprendre &ndash; entendementalement &ndash; de : "Par l&rsquo;&eacute;crit", c&rsquo;est-&agrave;-dire : &laquo;&nbsp;Parle et crie&nbsp;&raquo;. Il y a l&agrave; une croyance du pass&eacute; par laquelle les mots &eacute;crits s&rsquo;exprimaient dans le cerveau.<br>
      <br>
      Ce que l&rsquo;on a perdu avec l&rsquo;&eacute;volution scientifique moderne au niveau du sens est ceci : autrefois, par une science peu d&eacute;velopp&eacute;e, le mot &eacute;tait consid&eacute;r&eacute; comme une "entit&eacute; vivante" (relevant presque de la magie : &laquo;&nbsp;l&rsquo;&acirc;me agit&nbsp;&raquo;) et toujours entendementalement, il y a correspondance entre "lettre" et &laquo;&nbsp;l&rsquo;&ecirc;tre&nbsp;&raquo;.<br>
      <br>
      Tous ces n&oelig;uds cognitifs sont mal adapt&eacute;s &agrave; l&rsquo;&eacute;volution de notre conscience. Les scientifiques parlent de "d&eacute;coh&eacute;rence" et &agrave; juste titre : ce qu&rsquo;il faut d&eacute;coh&eacute;rer, c&rsquo;est la construction de base du langage (neutrinique) et de l&rsquo;&eacute;criture (photonique). A se demander aussi, si la pens&eacute;e humaine n&rsquo;est pas machinale quand on constate que le braille <a href="https://fr.wikipedia.org/wiki/Braille">[syst&egrave;me d&rsquo;&eacute;criture tactile &agrave; points saillants, &agrave; l&rsquo;usage des personnes aveugles ou fortement malvoyantes. Le syst&egrave;me porte le nom de son inventeur, le Fran&ccedil;ais Louis Braille (1809-1852) qui avait perdu la vue &agrave; la suite d'un accident]</a> correspond entendementalement au verbe "brailler" <a href="http://atilf.atilf.fr/dendien/scripts/tlfiv5/advanced.exe?8;s=2055570045;">[&Eacute;TYMOL. ET HIST. Ca 1220 &laquo;&nbsp;crier&nbsp;&raquo; (RAIMBERT DE PARIS, Ogier le Danois, 12259 dans T.-L.); 1690 (FUR. : Brailler. Parler beaucoup &amp; fort haut, &amp; sans dire rien de bon ni de solide).]</a> : &laquo;&nbsp;braille&nbsp;&raquo; !<br>
      <br>
      Par machinal, il faut comprendre un syst&egrave;me plus global de pens&eacute;e. Ne sommes-nous pas conditionn&eacute;s &ndash; en conscience &ndash; par ce que nous sommes en d&eacute;finition d&rsquo;un nom et d&rsquo;un pr&eacute;nom.<br>
      <br>
      Entendementalement, on a : &laquo;&nbsp;maux&nbsp;&raquo; pour "mot". L&rsquo;exemple ci-dessus de Louis Braille laisse entendre une logique d&rsquo;expression des mots. &laquo;&nbsp;mal a dit&nbsp;&raquo; pour "maladie".<br>
      <br>
      La "d&eacute;coh&eacute;rence" scientifique serait-elle le d&eacute;sir des scientifiques de r&eacute;adapter langage et &eacute;criture pour une modernit&eacute; qui balaie les croyances ? Et l&agrave; encore, les humains ne seraient plus port&eacute;s &agrave; croire dans des &eacute;crits d&rsquo;un autre temps totalement aberrants par leurs incoh&eacute;rences (Torah, Bible, Coran, etc).<br>
      <br>
      J&rsquo;ai fait le lien entre les lettres et les particules quantiques. Ce lien existe pour certaines lettres mais pas pour toutes.<br>
      <br>
      <strong>La question est : pour &eacute;voluer et se r&eacute;adapter, doit-on refaire l&rsquo;alphabet avec une codification symbolique exacte des particules fondamentales (on aura alors plus que 26 lettres), transcrire un nouveau langage en fonction des propri&eacute;t&eacute;s des particules quantiques, et n&rsquo;utiliser math&eacute;matiquement que le syst&egrave;me binaire par lequel l&rsquo;univers s&rsquo;est construit ???</strong><br>
      <br>
      <strong>Serait-ce l&agrave; une ouverture sur une &eacute;volution personnelle ? Le divin se profilerait &ndash; scientifiquement - comme une &eacute;volution de l&rsquo;humain (en "conscience" ). Le divin per&ccedil;ut alors comme un retour au monde naturel (via l&rsquo;expression des particules quantiques) apr&egrave;s la parenth&egrave;se humaine du monde artificiel (construit sp&eacute;cifiquement en base 10 selon le comptage avec nos doigts).</strong><br>
      <br>
      <strong>Un tel syst&egrave;me de langage r&eacute;adapt&eacute; permettrait-il l&rsquo;&eacute;radication des maladies psychosomatiques ?</strong><br>
      <br>
      J&rsquo;ouvre une porte&hellip;
    </div>
  </div>
</div>
<div id="ten" class="col">
    <p>&nbsp;Sujet :</p>
  <h3>Les chakras des &acirc;mes</h3>
  <div>
    <div>
      Les chakras sont des vortex photoniques qui fixent l'&acirc;me sur un corps physique. L'&acirc;me est le corps astral d'un &ecirc;tre constitu&eacute; par les biophotons (photons coh&eacute;r&eacute;s).<br>
      <br>
      Les animaux et les v&eacute;g&eacute;taux vivants ont une &acirc;me et poss&egrave;dent des chakras ; chez les v&eacute;g&eacute;taux, les feuilles constituent les chakras primaires (photosynth&egrave;se), et les fleurs, les chakras secondaires (pollinisation via l'intervention des insectes).<br>
      <br>
      <strong>Les chakras suivent la suite de Fibonacci en des spirales dont le rapport donne une valeur du nombre d'or.</strong> Les chakras dynamisent l'&acirc;me. L'&acirc;me d'un mort n'a pas de chakras.<br>
      <br>
      Cette animation pr&eacute;sente assez bien ce &agrave; quoi ressemble un chakra humain (semblable aux chakras des animaux) :<br>
      <br>
      <div>
        &nbsp;
      </div><br>
      <br>
      Il y a <strong>11 chakras</strong> dans un corps humain. Ce sont des spirales logarithmiques li&eacute;es &agrave; des nombres de Fibonacci cons&eacute;cutifs. Les chakras des pieds et surtout ceux des mains ont entra&icirc;n&eacute; une confusion lors de leur visualisation. En effet, ceux qui ont pu les visualiser (longue pratique qui consiste &agrave; rester longtemps - des jours et des jours - dans l'obscurit&eacute; la plus totale pour habituer ses yeux &agrave; percevoir une tr&egrave;s faible &eacute;mission photonique venant d'un corps : nyctalopie exacerb&eacute;e), l'on fait d'une position de lotus avec les mains crois&eacute;es pos&eacute;es au niveau du bas ventre, d'o&ugrave; l'attribution erron&eacute;e de ces chakras au niveau du p&eacute;rin&eacute;e.<br>
      <br>
      Ces vortex lumineux sont en diffraction de la lumi&egrave;re, il n'y a donc aucun vortex blanc ou gris (erreurs de l'article de wikipedia : <a href="https://fr.wikipedia.org/wiki/Chakra">Chakra</a>).<br>
      <br>
      En dehors des chakras, la photonicit&eacute; de l'&acirc;me lui conf&egrave;re une couleur blanche plus ou moins diffuse.<br>
      <br>
      Autre confusion : le chakra violet n'est pas visible de face, c'est le chakra ultra-violet qui est visualis&eacute; apr&egrave;s le chakra indigo, d'o&ugrave; sa d&eacute;nomination de "chakra aux mille p&eacute;tales" (ci-apr&egrave;s spirales [55-89]).<br>
      <br>
      &bull; Chakras infra-rouges : un chakra pour chacun des pieds au niveau de la plante. Spirales [1-2]. S'ouvrent vers le bas.<br>
      <br>
      &bull; Chakras rouges : un chakra pour chacune des mains au niveau de la paume. Spirales [2-3]. S'ouvre depuis l'int&eacute;rieur des mains. Pour les droitiers, le chakra de la main droite est plus actif, plus dynamique. Cette dissym&eacute;trie est compens&eacute;e par le chakra vert du c&oelig;ur situ&eacute; &agrave; gauche.<br>
      <br>
      &bull; Chakra orange : au niveau des organes g&eacute;nitaux. Spirales [3-5]. S'ouvre devant et vers le bas.<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-3-5-24959510.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959510/img-24959510d65.jpg?v=1"></a>
      </div><br>
      <br>
      &bull; Chakra jaune : au niveau du nombril. Spirales [5-8]. S'ouvre devant.<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-5-8-24959511.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959511/img-24959511a3d.jpg?v=1"></a>
      </div><br>
      <br>
      &bull; Chakra vert : au niveau du c&oelig;ur. Spirales [8-13]. S'ouvre devant.<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-8-13-24959513.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959513/img-24959513c2e.jpg?v=1"></a>
      </div><br>
      <br>
      &bull; Chakra bleu : au niveau de la gorge. Spirales [13-21]. S'ouvre devant.<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-13-21-24959514.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959514/img-24959514a76.jpg?v=1"></a>
      </div><br>
      <br>
      &bull; Chakra indigo : au niveau de l'hypophyse. Spirales [21-34]. S'ouvre devant.<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-21-34-24959515.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959515/img-249595152fa.jpg?v=1"></a>
      </div><br>
      <br>
      Ce mod&egrave;le de spirales correspond &agrave; la fleur de tournesol :<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirales-21-tournesol-24959516.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959516/img-249595162e7.jpg?v=1"></a>
      </div><br>
      <br>
      &bull; Chakra violet : au niveau de l'&eacute;piphyse. Spirales [34-55]. S'ouvre derri&egrave;re.<br>
      <br>
      &bull; Chakra ultra-violet : au niveau de la fontanelle. Spirales [55-89]. S'ouvre vers le haut.<br>
      <br>
      <br>
      Compl&eacute;ment : <a href="http://www.pileface.com/sollers/IMG/pdf/nombre_or.pdf">Le nombre d'or</a>.<br>
      <br>
      <br>
      <u>Evolution de la biophotonicit&eacute; karmique des &acirc;mes</u> :<br>
      <br>
      La min&eacute;ralit&eacute; structure la coh&eacute;rence quantique photonique.<br>
      <br>
      Le v&eacute;g&eacute;tal exp&eacute;rimente le cycle vie-mort intrins&egrave;que. Soit un arbre qui perd ses feuilles en hiver. L&rsquo;&acirc;me d&rsquo;un arbre en hiver est sans chakra : elle reste li&eacute;e au corps de l&rsquo;arbre car ce dernier poss&egrave;de des racines. Au printemps, le chakra primaire appara&icirc;t avec les feuilles, puis les chakras secondaires : les fleurs.<br>
      <br>
      L&rsquo;animal exp&eacute;rimente un cycle vie-mort extrins&egrave;que : durant la mort, l&rsquo;&acirc;me &ndash; sans chakra - voyage pour se r&eacute;incarner dans un nouveau corps (voyage temporel).<br>
      <br>
      L&rsquo;humain cr&eacute;e le corps cybern&eacute;tique pour, immortellement, y associer l&rsquo;&acirc;me par activation de chakras. L&rsquo;humain, tel qu&rsquo;il est, repr&eacute;sente l&rsquo;intelligence artificielle qui lui a permis de construire un monde artificiel. Le cerveau humain est un analyseur via un r&eacute;seau en 3D de transistors quantiques que sont les neurones. L&rsquo;ordinateur quantique, c&rsquo;est le cerveau humain. Et le monde artificiel est la production de l'humain, distincte de monde naturel.<br>
      <br>
      <u>Les cycles</u> :<br>
      <br>
      La respiration de l&rsquo;&acirc;me : vie-mort-vie-mort-vie-mort&hellip;<br>
      <br>
      La respiration de l'esprit : &eacute;veil-sommeil-&eacute;veil-sommeil-&eacute;veil-sommeil...<br>
      <br>
      La respiration du corps : inspire-expire-inspire-expire-inspire-expire...<br>
      <br>
      <div>
        <div>
          <br>
          L'alternatuum est plus efficace que le continuum<br>
          <br>
        </div>
      </div><br>
      <br>
      Un alternatuum est sinuso&iuml;dal et sa composante continue (valeur moyenne) est &eacute;gale &agrave; z&eacute;ro.<br>
      <br>
      Pour l'anecdote, on parle bien de "sinus" au niveau du nez !<br>
      <br>
      <br>
      <u>Au niveau macroscopique, Les galaxies sont des chakras de l'Univers</u> :<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/galaxies-chakras-univers-24959518.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959518/img-24959518517.jpg?v=1"></a>
      </div><br>
      <br>
      Un chakra galactique :<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spirale-galactique-24959519.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959519/img-24959519f9a.jpg?v=1"></a>
      </div><br>
      <br>
      Cet univers-ci se pr&eacute;sente comme un arbre fleuri :<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/pommier-fleuri-24959525.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959525/img-24959525a49.jpg?v=1"></a>
      </div><br>
      <br>
      ... Et la "branche" Laniakea...<br>
      <br>
      <div>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/laniakea-24959527.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959527/img-2495952749d.jpg?v=1"></a>
      </div><br>
      <br>
      Environ 14 milliards d'ann&eacute;es... Notre univers est un jeune univers dont les galaxies sont les fleurs.<br>
      <br>
      Des univers, il y en a des milliards de milliards : c&rsquo;est le multivers avec tous ses univers anastomos&eacute;s entre eux.<br>
      <br>
      Le multivers ressemble &agrave; une gigantesque for&ecirc;t en 3D !
    </div>
  </div>
</div>
<div id="eleven" class="col">
    <p>&nbsp;Sujet :</p>
  <h3>Gen&egrave;se d'un univers : 0 + 0 = ...</h3>
  <div>
    <div>
      <div>
        Sec-onde (de i)<br>
        <br>
        Point de 1D<br>
        <br>
        Sec-onde (de j) dans le point de 1D
      </div>
      <div>
        Deuxi&egrave;me point de 1D qui &eacute;largit le premier point en un ruban en 2D
      </div>
      <div>
        LE Z&Eacute;RO IMAGINAIRE EST N&Eacute;<br>
        <br>
        Sec-onde (de k) dans le ruban en 2D<br>
        <br>
        Section du ruban de 2D<br>
        <br>
        Soudure du ruban de 2D en un ruban de M&ouml;bius<br>
        <br>
        C'EST LE Z&Eacute;RO R&Eacute;EL<br>
        <br>
        Torsion du z&eacute;ro r&eacute;el : formation de la lemniscate &infin;<br>
        <br>
        Division de la lemniscate qui produit des z&eacute;ros imaginaires<br>
        <br>
        Le z&eacute;ro r&eacute;el &eacute;met une onde num&eacute;rique et se structure en carr&eacute; imaginaire (l&agrave; est la relativit&eacute; : i&sup2;) et paillette dimensionnelle 1 r&eacute;elle<br>
        <br>
        Naissance de l'orthogonalit&eacute; (diff&eacute;rente d'un univers &agrave; l'autre)<br>
        <br>
        Les ondes tridimensionnelles diff&eacute;rencient les paillettes en 3 imaginaires : i de 1D, j de 2D et k de 3D<br>
        <br>
        Congruence des paillettes dimensionnelles qui forment alors une cellule dimensionnelle<br>
        <br>
        Action des forces imaginaires :<br>
        Force de l'imaginaire i : force 01<br>
        Force de l'imaginaire j : force 10<br>
        Force de l'imaginaire k : force 11<br>
        <br>
        La force de l'imaginaire k met en rotation la cellule dimensionnelle au niveau du plan form&eacute; par les imaginaires i et j ("un i vers j" ) :<br>
        <br>
        C&rsquo;EST LE Z&Eacute;RO ABSOLU<br>
        <br>
        C'est la premi&egrave;re particule quantique<br>
        <br>
        La cin&eacute;matisation interne du z&eacute;ro absolu induit la temp&eacute;rature absolue de 0&deg;K (&eacute;nergisation)<br>
        <br>
        Le z&eacute;ro absolu, appel&eacute; aussi chronoton, est l'horloge quantique &agrave; l'origine des 31 autres particules &eacute;l&eacute;mentaires (par chiralit&eacute;, certaines particules ont une anti-particule) qui naissent conform&eacute;ment &agrave; l'onde num&eacute;rique en rapport avec les nombres premiers<br>
        <br>
        <br>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/nombres-premiers-24959461.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959461/img-24959461564.jpg?v=1"></a>
        La fr&eacute;quence des nombres premiers est plus &eacute;lev&eacute;e en classe 5 :<br>
        <br>
        <br>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/frequence-premiers-24959462.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959462/img-2495946279b.jpg?v=1"></a>
        <br>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/periode-premiers-24959464.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959464/img-249594641aa.jpg?v=1"></a>
        L'atome d'hydrog&egrave;ne marque la sortie de l'imaginaire.<br>
        <br>
        L'expression de la relativit&eacute; par les ondes particulaires correspond &agrave; la totalit&eacute; du spectre universel :<br>
        <br>
        <br>
        <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spectre-particulaire-24959466.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959466/img-24959466d04.jpg?v=1"></a>
        Un univers n'est pas en expansion mais cet univers est jeune et il grandit par division lemniscatique &agrave; la base. La maturit&eacute; d'un univers - en bonne estimation - est donn&eacute;e pour une centaine de milliards d'ann&eacute;es.
      </div><br>
      <br>
      <u>Pr&eacute;cisions</u> :<br>
      <br>
      &bull; Le big-bang n'est que la naissance de la premi&egrave;re galaxie par torsion branaire qui fait se rencontrer les z&eacute;ros absolus &agrave; l'envers les uns des autres, d&eacute;clenchant le processus d'&eacute;laboration des particules &eacute;l&eacute;mentaires hautement &eacute;nerg&eacute;tique.<br>
      <br>
      &bull; Les trous noirs sont des bulles de cavitation dimensionnelle form&eacute;es par les &eacute;toiles &agrave; neutron. D&eacute;nu&eacute;es de cellules dimensionnelles, les trous noirs ont une temp&eacute;rature inf&eacute;rieure &agrave; la temp&eacute;rature de 0&deg;K. Selon la loi des gaz parfaits, pour un m&ecirc;me volume, la pression diminue si la temp&eacute;rature diminue. De m&ecirc;me, les trous noirs attirent la mati&egrave;re car ce sont des d&eacute;pressions dimensionnelles. Car la temp&eacute;rature y est inf&eacute;rieure &agrave; 0&deg;K, les particules quantiques constitutives de la mati&egrave;re sont enti&egrave;rement d&eacute;cin&eacute;matis&eacute;es avec &eacute;mission d'un rayonnement gamma.<br>
      <br>
      &bull; La gravitation est l'effet conjugu&eacute; du magn&eacute;tisme quantique des "noyaux" des atomes constitutifs d'un corps et la force gravitationnelle est d'autant plus grande que le corps poss&egrave;de beaucoup d'atomes. Ainsi les corps c&eacute;lestes sont les corps qui exercent la plus grande force gravitationnelle.<br>
      <br>
      &bull; Les particules quantiques du "noyau" des atomes s'organisent de telles sorte que le proton appara&icirc;t comme un barreau aimant&eacute; ins&eacute;r&eacute; dans un cerceau form&eacute; par le neutron. L'&eacute;lectron, particule &eacute;l&eacute;mentaire de la m&ecirc;me famille que le photon, se d&eacute;place 4 fois moins vite que le photon et sa caract&eacute;ristique est d'&ecirc;tre capt&eacute; par le "noyau" de l'atome. Les &eacute;quations de Schr&ouml;dinger sont exactes en ce sens o&ugrave; ce sont des &eacute;quations structurelles des cages &eacute;lectroniques.
    </div>
  </div>
</div>
</div>
