@font-face {
    font-family: 'arconregular';
    src: url('../font/arcon-regular-webfont.woff2') format('woff2'),
         url('../font/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'arconregular';
    }
    
#title{
        text-align: center;
        font-family: 'arconregular';
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px pink;
   } 
#texte{
    font-size: 30px; 
    text-align: center;
    float: left;
    }
#bloc1{
        width: 60%;
        margin-left: 15%;
        text-align: center;
        font-family: 'arconregular';
        letter-spacing: -1px;
}
#bloc2{
        width: 60%;
        margin-left: 15%;
        text-align: center;
        font-family: 'arconregular';
        letter-spacing: -1px;
}

#bloc3{
        width: 60%;
        margin-left: 15%;
        text-align: center;
        font-family: 'arconregular';
        letter-spacing: -1px;
}
    
#img{
		width: 50px;
		height: 50px;
}
    
    
    
   
   
