@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        
        background-color: lightgrey;
        
}

.clear{
        clear: both;
    }
    
img{
	 width:100%;
}

#container-image{
	   width: 70%;
	margin-left: 15%;
	margin-bottom: 30px;
    }

.image{
    margin-bottom: 10px;
    margin-right: 10px;
        float: left; 
        width: 161px;
        height: 91px;
        overflow: hidden;
        filter: grayscale(80%);
}
 
    
h1{
	font-size:120pt;
	 margin-left: 15%;

	margin-top:20px;
}

h3{
	font-size:30pt;
	 margin-left: 15%; 
	margin-top: -140px;
	
}
     
h2{
       margin-left: 15%;  
       font-size: 22pt;
       } 
        
p{
    font-size: 12pt;
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        



        


