

<h1> NOS RÊVES</>

<h3> Que révèlent-ils?</>

<div class="image">
               <img src="http://www.chiropraxie.com/wp-content/uploads/2014/09/Fotolia_60437833_XL.jpg"/>
               <img src="http://astucesdegrandmere.net/wp-content/uploads/2015/07/rat-ours-en-peluche-dormir-couverture-165605.jpg"/>
               <img src="http://img0.mxstatic.com/dormir/sommeil-combien-d-heures-ou-de-jours-peut-on-tenir-sans-dormir_68312_w460.jpg"/>
               <img src="http://www.interpretationdesreves.net/wp-content/uploads/sites/6/2016/01/rever-de-voler.jpg"/>
               <img src="http://www.techno-science.net/illustration/Source/Universite-Laval/2015/09/24/37650_insomnie-moutons.jpg"/>
               <img src="http://www.superprof.fr/blog/file/2016/02/dormir-rever-en-espagnol.jpg"/>
           </div>   
           
 <p>Nous rêvons parfois d'un style de vie que nous n'avions jamais, consciemment, envisagé. Les rêves influencent-ils notre façon de considérer les événements ou sont-ils simplement les porte-parole de notre inconscient ?</p>
 
  
 
           
 <h2>Des rêves surprenants</h2>
 
 <p> Vous rêvez d'un voyage dans un pays merveilleux, où vous succombez au charme de l'inattendu, alors que, vous adorez les vacances dans le train-train de votre maison de famille. Bien que vous entreteniez de bonnes relations avec vos proches, et que vous vous sentiez respecté par vos collègues de travail, vous êtes bouleversé par les images qui hantent vos nuits : vous combattez ceux avec qui tout semblait harmonieux ou bien vous vous avisez de leur trahison. A l'extrême, vous rêvez d'une relation amoureuse avec celui ou celle qui dans la vie, vous déplaît. En vous faisant prendre conscience d'un ressenti que vous préfériez ignorer, cette métamorphose nocturne de la réalité dévoile vos angoisses ou vos contradictions. Dans les rêves s'expriment, travesties, des émotions refoulées dans l'inconscient.
        <p></p>
        <h2>La réalisation d'un désir</h2>
        <p>Le rêve n'est pas un exercice de voyance sur les événements ou les personnes : il se contente d'exprimer les sentiments que le rêveur "se cache" à lui-même. Dans "Le rêve et son interprétation", Freud précise que le songe n'est pas une prémonition de l'avenir, mais doit toujours se comprendre comme la réalisation d'un désir : la difficulté est parfois d'identifier le désir dont il s'agit. Pour reprendre l'exemple des vacances, le désir conscient, c'est de se reposer dans un lieu familier, où rien d'extraordinaire ne puisse survenir. Or, par le rêve, vous vous avouez que votre aspiration profonde est autre. Le voyage, que suggère votre inconscient, témoigne de votre goût pour l'aventure. En démontrant que votre vision routinière de la vie masque une volonté différente, votre rêve vous rappelle la complexité de vos désirs.</p>
        
<!-- BREAK -->

        <h2>Une ouverture sur l'inconscient</h2>
        <p>Le rêve marque ainsi le fossé qui existe entre la pensée consciente et le refoulement dans l'inconscient : ce que vous jugez " bon pour vous ", selon un ensemble de lois morales qui régissent votre vie, s'exprime par la pensée consciente. Ce qui, croyez-vous, " vous met en danger ", en bouleversant votre façon de vivre ou vos relations sociales, est repoussé dans l'inconscient. Les seules possibilités d'expression de l'inconscient sont le rêve, les actes manqués ou encore les symptômes somatiques. Si des relations, qui semblaient satisfaisantes dans la réalité, apparaissent hostiles dans le rêve, c'est que les sentiments inconscients du rêveur envers les personnes concernées sont plus ambigus qu'il ne le croyait, ou qu'il a noté, sans s'y attarder, une attitude équivoque de leur part. Comme dans l'exemple précédent, l'inconscient se manifeste à l'individu de manière cryptée : à lui d'interpréter le message !</p>
        <h2>Le rêve révélateur</h2>
        <p>Il n'est pas aussi simple qu'on le croit de déchiffrer ses rêves : chaque élément du rêve doit être dissocié du reste pour prendre un sens autonome. En psychanalyse, les rêves sont des outils précieux, parce que leur tonalité donne de la réalité un nouveau point de vue. Ils permettent de comprendre certaines incohérences de la vie réelle et d'y remédier. Pour autant, cela ne signifie pas, qu'au réveil, on doive précipitamment modifier ses rapports avec autrui ou changer totalement de mode de vie. D'un signal d'alerte, on ne doit pas faire un guide ! Le rêve, en proposant une autre vision du réel, celle refoulée dans l'inconscient, permet seulement d'exercer sa vigilance et sa réflexion.</p>

