@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        font-size: 12pt;
        background-color: lightgrey;
        
}

.clear{
        clear: both;
    }
    
img{
	 width:25%;
	height:15%;

}

.image{
    width:100%;
    margin-bottom: 25px;
    margin-left: 50px;
        float: left; 
        filter: grayscale(80%);
}

h1{
	font-size:45pt;
	 margin-left: 15%;
	text-shadow: 15px 15px 0px white
}
.h3{
	font-size:23pt;
	 margin-left: 15%;
	margin-top:5%;  
}
     
h2{
       margin-left: 15%;  
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        



        


