
@font-face {
    font-family: 'bagnardregular';
    src: url('../font/baganard/bagnard-webfont.woff2') format('woff2'),
         url('../font/baganard/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#rating_menu_logout{
      
      margin: 5px 10px 10px 0px;
       font-size: 20px;
        font-weight: bold;
         letter-spacing: 1px;
          text-align: center;

}
#messCase2{
		
		border-radius:5%;
	font-family: bagnardregular;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 10px 15px 20px black;
    
}
#messCase3{
	
	text-align:center;
	width:350px;
	height:430px;
	font-family: bagnardregular;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: -1px;
        box-shadow: 0px 0px 50px black;
        border-radius: 80%;
}
#message_position2{
	
	position:aboslute
        box-shadow:5px 5px 10px black;
}
#texte{
    margin: 5px 5px 5px 5px;
     transform: skewY(10deg);
      transform: skewX(3deg);  
}
#texte2{

   text-align:center;
}
html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
        background:linear-gradient(to right, black , white, black);
    }
#circle{
    margin-left: 114px;
    overflow: hidden;
    width: 200px;         
    height:200px;       
    background: red;         
    moz-border-radius: 50px;        
    webkit-border-radius: 50px;       
    border-radius: 200px;
    box-shadow: -2px 2px 10px black;
    
    
}
#circle2{
 margin-top:50px;
 margin-bottom: -116px;
 margin-left: 349px;
 //position: absolute;
    overflow: hidden;
    width: 50px;         
    height:50px;       
    background: red;         
    moz-border-radius: 50px;        
    webkit-border-radius: 50px;       
    border-radius: 100px; 
    box-shadow: 0px 0px 10px black;   
}
#avatar1{
    margin: -25px -0px 0px -15px;
    width: 100%;
}  

#avatar2{
    margin: -25px -0px 0px -15px;
    width: 100%;
    }  
#title{

        text-align: center;
        width: 500px;
        margin: 40px auto 0 auto ;
        font-family: bagnardregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        box-shadow: 5px 5px 10px black;
   } 
#title2{
        line-height:10px;
        transform: rotate(90deg);
        width: 50px;
        margin-top:90px;
        margin-left:350px;
        font-family: bagnardregular;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing:-0.8px;
        box-shadow: 1px -1px 80px black;
        
   } 
    #gland{
       color: black;
        width: 300px;
        height: 85px;
        text-align: left;
        line-height: 15px;
        width: 100px;
        margin: 0px auto 0px 325px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
}
 #S{
        color: black;
        text-align: left;
        line-height: 10px;
        width: 100px;
        margin: -20px auto 30px 350px;
        font-family: bagnardregular;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
}
 #ovule{
      margin-top: 350px;
      margin-lft: 110px;
       text-align: center;
        line-height: 10px;
        font-family: bagnardregular;
        font-size: 100px;
        font-weight: bold;
         color: black;
}

