@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        
        background-color: lightgrey;
        
}

.clear{
        clear: both;
    }
    
img{
	 width:25%;
	height:15%;

}

.image{
    width:100%;
    margin-bottom: 25px;
    margin-left: 80px;
        float: left; 
        filter: grayscale(80%);
}

h1{
	font-size:120pt;
	 margin-left: 15%;
	text-shadow: 10px 0px 10px white
	margin-
}

h3{
	font-size:30pt;
	 margin-left: 15%; 
	margin-top: -140px;
	text-align: justify;
}
     
h2{
       margin-left: 15%;  
       font-size: 22pt;
       } 
        
p{
    font-size: 12pt;
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        



        


