html, body{
        margin: 0; padding: 0; width: 100%;
        
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre {
                font-family: 'Aileron-Regular';
			text-align: center;
			}

#loup{
rotate:    }

#bloc1{
      width: 500px;
	height: 600px; 
	border: 3px dotted red;  
	margin-left: 30px;
	padding: 10px;
	margin-top: 20px;
	        box-shadow: 10px 10px 30px red;
	
}
	
  #bloc2{
      width: 400px;
	height: 320px; 
	border: 8px dashed blue;  
	margin-left: 210px;
	padding: 10px;
	margin-top: -70px;
	background-color: e3f
}
  
  
  
  
  
  
  
  
  
