@font-face {
    font-family: 'Simplepixels';
    src: url('fontes/Simplepixels.ttf') ;
    font-weight: normal;
    font-style: normal;
    }

html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
    font-family: 'Simplepixels';
    background: linear-gradient(to bottom, pink, white);
    }
    
#title{
        text-align: center;
        font-family: 'Simplepixels';
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px turquoise;
   } 
#texte{
    font-size: 8px; 
    text-align: center;
    float: left;
    }
#bloc1{
        width: 70%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 

}
#bloc2{
        width: 70%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
}

#bloc3{
        width: 60%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
}

#bloc4{
        width: 60%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
}


 
   
   
