html, body{
        margin: 0; padding: 0; width: 100%;
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre1 {
                font-family: 'Aileron-Regular';
			text-align: left;
			font-size: 60px;
			color: white;
			background: black; 
}
			
#titre2 {
                font-family: 'Aileron-Regular';
			text-align: right;
			font-size: 60px;
			margin-top: -30px;
			color: white;
			background: black;
			
}
			
#loup{
	writing-mode: vertical-rl;
	margin-left: 580px;
	margin-top: 25px;
	font-size: 50px;
	 font-family: 'Aileron-Regular';
	color: red;
	opacity: 0.4;
	}
	@font-face {  
	     font-family: 'Aileron-Regular';
	       src: url(fontes/Aileron-Regular.otf);
	}

#bloc1{
      width: 500px;
	height: 550px; 
	border: 3px dotted red;  
	margin-left: 30px;
	padding: 10px;
	margin-top: -280px;
	        box-shadow: 10px 10px 30px red;
	
}


#celine{
	writing-mode: vertical-rl;
	margin-left: 140px;
	margin-top: 80px;
	font-size: 50px;
	 font-family: 'Aileron-Regular';
	color: blue;
	opacity: 0.4;
	}
	@font-face {  
	     font-family: 'Aileron-Regular';
	       src: url(fontes/Aileron-Regular.otf);
	}
	
	
	
  #bloc2{
      width: 400px;
	height: 320px; 
	border: 3px dashed blue;  
	margin-left: 210px;
	padding: 10px;
	margin-top: -360px;
	background-color: #bbdefb;
	box-shadow: 20px 20px 30px #bbdefb;
	

}
#bloc3{
	moz-column-count: 2;
	webkit-column-count:2;
	column-count:2;
	margin: 0.5cm;
	transform: skewY(-5deg); 
  
  
  
  
  
  
  
  
  
