html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
    background: linear-gradient(to bottom, white,grey);
    }

@font-face{
font-family: 'font1';    src: url('fontes/The-Million-Mile Man.ttf');
}

@font-face{
font-family: 'font2';    src: url('fontes/monauto-regular.otf');
}

.titre {
        text-align: justify;
        font-family: 'font2';
        font-size: 20px; 
        font-weight: bold;
        z-index: 1;
        }

.text {
        text-align: justify;
        font-family: 'font2';
        font-size: 16px; 
         z-index: 1;
        }

#title{
        text-align: center;
        font-family: 'font1';
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px grey;
        margin-top: 5%;
         z-index: 1;
   } 

#bloc1{
    position: absolute;
        width: 80%;
        margin-left: 10%;
        margin-top: 7%;
        font-family: 'font2';
        font-size: 24px; 
        border: 3px;
        transform: rotate(-5deg)
        z-index: 0;
        }
        
#bloc2{
		position: absolute;
		width: 45%;
		margin-top: 52%;
		margin-left: 40%;
		z-index: 0;
}
        
#bloc3{
		position: absolute;
	        width: 20%;
	        margin-left: 15%;
	        margin-top: 64%;
		transform: rotate(3deg)
		z-index: 0;
	        }

#bloc4{
		position: absolute;
	        width: 41%;
	        margin-left: 45%;
	        margin-top: 72%;
		transform: rotate(-3deg)
		z-index: 0;
	        }

#bloc5{
		    position: absolute;
	        width: 70%;
	        margin-left: 10%;
	        margin-top: 85%;
	     transform: rotate(7deg)   
		z-index: 0;
		}
	
#bloc6{
		    position: absolute;
	        width: 70%;
	        margin-left: 20%;
	        margin-top: 95%;
	transform: rotate(7deg)
		z-index: 0;
	        }
	
#bloc7{
		    position: absolute;
	        width: 70%;
	        margin-left: 13%;
	        margin-top: 210mm;
		z-index: 0;
	        }
	
#bloc8{
		    position: absolute;
	        width: 65%;
	        margin-left: 15%;
	        margin-top: 12mm;
		transform: rotate(2deg)
 z-index: 1;
	        }
	
#bloc9{
		position: absolute;
	        width: 70%;
	        margin-left: 12%;
	        margin-top: 20%;
		transform: rotate(-3deg)
		 z-index: 1;
	        }
	
#bloc10{
		position: absolute;
	        width: 25%;
	        margin-left: 60%;
	        margin-top: 32%;
	 z-index: 1;
	        }
	
#bloc11{
		position: absolute;
	        width: 70%;
	        margin-left: 5%;
	        margin-top: 45%;
	 z-index: 1;
	        }
	
#bloc12{
		position: absolute;
	        width: 70%;
	        margin-left: 10%;
	        margin-top: 52%;
	 z-index: 1;
	        }
	
#bloc13{
		position: absolute;
	        width: 70%;
	        margin-left: 40%;
	        margin-top: 60%;
		transform: rotate(-5deg)
		 z-index: 1;
	        }
	
#bloc14{
		    position: absolute;
	        width: 50%;
	        margin-left: 8%;
	        margin-top: 73%;
	 z-index: 1;
	        }
	
#bloc15{
		    position: absolute;
	        width: 70%;
	        margin-left: 17%;
	        margin-top: 165mm;
		transform: rotate(-5deg)
		 z-index: 1;
	        }
	
#bloc16{
		    position: absolute;
	        width: 70%;
	        margin-left: 10%;
	        margin-top: 210mm;
	 z-index: 1;
		transform: rotate(3deg)
	        }
#bloc17{
		    position: absolute;
	        width: 100%;
	        margin-top: 70%;
		margin-left: 3%;
		color: white;
		z-index: 0;
		font-family: 'font1';
		font-size: 120px;
		font-weight: bold;
		text-transform: uppercase;  
	        }

#bloc18{
		    position: absolute;
	        width: 100%;
	        margin-top: 50%;
		margin-left: 10%;
		color: white;
		z-index: 0;
		font-family: 'font1';
		font-size: 120px;
		font-weight: bold;
		text-transform: uppercase;  
	        }
   
   
   
   
   


