	
  <h1>Mark Zuckerberg multiplie les compromissions pour p&eacute;n&eacute;trer en Chine</h1>
  <div>
    Par <a href="http://www.liberation.fr/auteur/12926-raphael-balenieri">Rapha&euml;l Balenieri, Correspondant &agrave; P&eacute;kin</a> &mdash; <time>23 novembre 2016 &agrave; 12:57</time>
  </div>
  <div>
    <div>
      <figure>
        <a><img alt="" src="http://md1.libe.com/photo/967747-facebook-founder-and-ceo-mark-zuckerberg-meets-founder-and-executive-chairman-of-alibaba-group-jack-.jpg?modified_at=1479902253&amp;width=960"></a>
        <figcaption>
          Mark Zuckerberg &agrave; P&eacute;kin en mars.Photo Reuters
          <div>
            &nbsp;
          </div>
        </figcaption>
      </figure>
      <h2>D'apr&egrave;s le &laquo;New York Times&raquo;, le fondateur de Facebook serait pr&ecirc;t &agrave; installer un logiciel de censure dans son r&eacute;seau social afin de s'attirer la bienveillance des autorit&eacute;s de P&eacute;kin.</h2>
      <ul>
        <li>Mark Zuckerberg multiplie les compromissions pour p&eacute;n&eacute;trer en Chine</li>
      </ul>
      <div>
        <p>Son nom est encore secret, mais il a d&eacute;j&agrave; provoqu&eacute; une vague de d&eacute;parts au sein de Facebook et pourrait, tr&egrave;s certainement, peser dans les futures n&eacute;gociations entre Mark Zuckerberg et P&eacute;kin. Selon une enqu&ecirc;te du <em>New York Times</em> publi&eacute;e hier, le g&eacute;ant californien serait en train de d&eacute;velopper en interne un outil de censure tr&egrave;s controvers&eacute; permettant de supprimer des contenus jug&eacute;s n&eacute;fastes apparaissant dans le fameux &laquo;News Feed&raquo; &agrave; l&rsquo;int&eacute;rieur de certains pays.</p>
        <p>Ce m&eacute;canisme, continue le quotidien am&eacute;ricain, serait promu personnellement par le fondateur du r&eacute;seau social, et cela afin de tenter un come-back en Chine, pays aux 710 millions d&rsquo;internautes (1) et o&ugrave; Facebook est bloqu&eacute; de fa&ccedil;on permanente depuis 2009.</p>
        <p>Certes, ce m&eacute;canisme, encore en gestation, n&rsquo;aurait pas encore &eacute;t&eacute; pr&eacute;sent&eacute; aux autorit&eacute;s chinoises et pourrait ne jamais voir le jour, rappelle avec pr&eacute;caution le journal am&eacute;ricain. Mais il confirme n&eacute;anmoins la volont&eacute; de Facebook de revenir dans le pays. En Chine, Facebook n&rsquo;est &agrave; pr&eacute;sent accessible que via des VPN, des logiciels payants ou gratuits permettant de contourner le <em>&laquo;Great Firewall&raquo;</em>, surnom donn&eacute; au vaste syst&egrave;me de censure mis en place par P&eacute;kin. Relev&eacute; d&rsquo;un cran lors de crises ou d&rsquo;anniversaires sensibles, ce dernier bloque &eacute;galement Twitter, Instagram ou Google, lesquels, contrairement &agrave; LinkedIn, ont refus&eacute; de domicilier leurs donn&eacute;es utilisateurs sur place.</p>
        <h3>Torpillage cibl&eacute;</h3>
        <p>Mercredi matin, l&rsquo;article du <em>New York Times</em>, sign&eacute; de San Francisco, s&rsquo;est r&eacute;pandu comme une tra&icirc;n&eacute;e de poudre sur Twitter. &laquo;<em>Facebook est tr&egrave;s d&eacute;termin&eacute; pour entrer en Chine. La Chine, elle, veut changer les r&egrave;gles de la gouvernance mondiale du Web. Leurs int&eacute;r&ecirc;ts convergent, d&rsquo;o&ugrave; le danger</em>&raquo;, a r&eacute;agi Nicholas Bequelin, directeur pour l&rsquo;Asie du Nord-Est chez Amnesty International, &agrave; Hongkong.</p>
        <p>En fait, ce logiciel ne supprimerait pas automatiquement les &laquo;posts&raquo; trop populaires ou subversifs. Selon trois sources anonymes contact&eacute;es par le journal, il permettrait en revanche &agrave; une partie tierce &ndash; par exemple, le futur partenaire chinois de Facebook &ndash; de torpiller les messages les plus partag&eacute;s, ou jug&eacute;s critiques envers le r&eacute;gime. &laquo;<em>Nous disons depuis longtemps que nous sommes int&eacute;ress&eacute;s par la Chine, et passons du temps &agrave; comprendre et apprendre davantage sur le pays</em>&raquo;, a bott&eacute; en touche une porte-parole du r&eacute;seau social, dans un email envoy&eacute; aux agences de presse. &laquo;<em>N&eacute;anmoins, nous n&rsquo;avons pris aucune d&eacute;cision sur notre approche vis-&agrave;-vis de la Chine.</em>&raquo;</p><!-- BREAK -->
        <h3>Fous rires</h3>
        <p>Mark Zuckerberg n&rsquo;a jamais cach&eacute; sa sino-mania. Sans faiblir, l&rsquo;Am&eacute;ricain a multipli&eacute; les gestes d&rsquo;ouverture, quitte &agrave; fr&ocirc;ler parfois le ridicule. En octobre 2015, lors de l&rsquo;un des ses nombreux s&eacute;jours &agrave; P&eacute;kin, le milliardaire de 32 ans, mari&eacute; &agrave; une Am&eacute;ricaine d&rsquo;origine chinoise, &eacute;tait all&eacute; jusqu&rsquo;&agrave; prononcer un discours de vingt minutes dans un mandarin quasi-incompr&eacute;hensible qui avait provoqu&eacute; ce mois-l&agrave; des fous rires sur le Web chinois.</p>
        <p>Puis, en mars 2016, une photo post&eacute;e sur son propre compte Facebook, le montrant tout sourires en train de faire son jogging place Tiananmen, malgr&eacute; l&rsquo;&eacute;paisse pollution qui recouvrait la capitale chinoise ce jour-l&agrave;, avait g&eacute;n&eacute;r&eacute; &agrave; son tour moult commentaires incr&eacute;dules. &laquo;<em>C&rsquo;est chouette d&rsquo;&ecirc;tre de retour &agrave; P&eacute;kin !</em>&raquo;, avait &eacute;crit Zuckerberg dans son message. D&rsquo;autres murmurent enfin qu&rsquo;il aurait m&ecirc;me recommand&eacute; &agrave; ses employ&eacute;s la lecture de <em>la Gouvernance de la Chine</em>, un pav&eacute; de propagande de 552 pages classant par th&egrave;mes les principaux discours et &eacute;crits de l&rsquo;actuel pr&eacute;sident chinois Xi Jinping.</p>
        <p>Le nouvel outil r&eacute;v&eacute;l&eacute; par le <em>New York Times</em> s&rsquo;inscrit donc dans une strat&eacute;gie bien &eacute;tablie. Mais jamais le calendrier pour un possible retour de Facebook en Chine n&rsquo;a &eacute;t&eacute; si mauvais. <a href="http://www.liberation.fr/futurs/2016/11/10/sur-internet-la-chine-fait-sa-loi_1527612">Pas plus tard que d&eacute;but novembre, le pouvoir chinois a adopt&eacute; une grande loi sur la cyber-s&eacute;curit&eacute;</a> jug&eacute;e &laquo;<em>r&eacute;gressive</em>&raquo; par Human Rights Watch, et avec laquelle Mark Zuckerberg devra composer s&rsquo;il veut revenir pour de bon dans le pays.</p>
        <p>(1) en juin 2016, selon les chiffres du Centre d&rsquo;information sur le r&eacute;seau Internet de Chine (CNNIC), organisme officiel de P&eacute;kin ayant autorit&eacute; sur le sujet.</p><a href="http://www.liberation.fr/auteur/12926-raphael-balenieri">Rapha&euml;l Balenieri Correspondant &agrave; P&eacute;kin</a>
      </div>
    </div>
  </div>

