
    <h3> Sujet : comment se fait il que les hommes soient si b&ecirc;tes ?</h3>


        <table>
                <tbody>
                        <tr>
                                <td><input type="text"></td>
                                <td>
                                        <div>
                                                <strong>nevermore020</strong>
                                        </div>J&eacute;sus m'a dit que ????<br>
                                        <strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/1/5/9685015/2001472/tns1-2001472.jpg?v=11"></div>
                                </td>
                                <td>
                                        
                                        <div> tout est dans le titre. </div>
                                        
                                    
                                        <div> on peut voir combien les hommes sont b&ecirc;tes aussi &agrave; attendre derri&egrave;re un rideau pendant des heures<br>
                                        </div>
                                        
                                        <div> l'id&eacute;e que les hommes sont b&ecirc;tes me r&eacute;veille toutes les minutes.<br>
                                                        Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! les Hommes n'en parlons pas.<br>
                                                        Je me souviens de quelqu'un qui avait dit il y a deux semaines qu'il y a des hommes qui ne se lavent pas et qui mettent du d&eacute;o pour cacher le tout.<br>
                                                        Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        &ccedil;a signifie que dans sa t&ecirc;te il y a des humains qui aiment &ecirc;tre sales et d'autres propres. Comme c'est b&ecirc;te !<br>
                                                        Surtout qu'il est incapable de se demander pourquoi certains sont propres et d'autres sales ?<br>
                                                        En fait, il ne poss&egrave;de que le savoir inculqu&eacute; par ses parents et son entourage et rien de plus. Qu'est ce qu'il est b&ecirc;te !<br>
                                                        <br>
                                                        n'en parlons pas en amour ! qu'est ce qu'ils sont b&ecirc;tes !<br>
                                                        ils sont b&ecirc;tes sans m&ecirc;me reconna&icirc;tre qu'ils sont b&ecirc;tes.<br></div>
                                                 
                                    
                                        <div><br> Mon dieu ! qu'est ce qu'il est b&ecirc;te !<br>
                                                        La plupart font du shopping certes je suis bien d'accord.<br>
                                                        Mais c'est pour plaire &agrave; lui, et il ne comprend toujours pas ?!!? Mon Dieu qu'est ce qu'il est b&ecirc;te !<br>
                                                        C'est vrai quand je vois une femme, je la trouve en recherche de v&ecirc;tements qui pourront lui donner un beau corps, des v&ecirc;tements o&ugrave; ses fesses et ses seins pourront &ecirc;tre remarquer pour le plaisir des hommes.<br>
                                                        Attention, nous ne sommes pas toutes ainsi ! Mais encore une fois, les v&ecirc;tements, &ccedil;a permet avant tout d'&ecirc;tre civiliser et belles pour les yeux aveugles des hommes.<br>
                                                        Aussi parce qu'Il ne comprend pas que nous ne sommes pas toutes &agrave; &eacute;galit&eacute; sur le plan financier, parce qu'il n'est pas de d&eacute;passer l'&eacute;ducation re&ccedil;ue, pas en mesure de comprendre que les v&ecirc;tements sugg&egrave;rent beaucoup et qu'ils d&eacute;sirent sans le savoir &agrave; travers certains v&ecirc;tements que portent certaines femmes.<br>
                                                        Bref, je ne suis pas la m&egrave;re de Il donc qu'il aille voir ailleurs mais ce que je sais c'est qu'Il est trop b&ecirc;te.</p><br>
                                        </div>
                          
                                        <div> Mon Dieu, j'ai eu d'un coup un &eacute;tranglement &agrave; la pens&eacute;e soudaine des hommes b&ecirc;tes.<br>
                                                        Mon Dieu comme ils sont b&ecirc;tes ! Je pensais &agrave; celui qui pr&eacute;f&egrave;re la femme au naturel et qui trouve que celle qui porte du maquillage est artificielle.<br>
                                                        Mon Dieu qu'est ce qu'ils sont b&ecirc;tes ! Il faut tout leur expliquer.<br>
                                                        La teinture comme les soins esth&eacute;tique (dentaire, esth&eacute;tique avec gommage et &eacute;pilation et massages etc, le fitness) c'est tr&egrave;s naturel.<br>
                                                        Comme les hommes sont b&ecirc;tes derri&egrave;re quelques dipl&ocirc;mes et quelques postes &agrave; responsabilit&eacute;.<br>
                                                        <br>
                                                        Ca me tue, comment ai je fait pour ne pas voir &ccedil;a auparavant.<br>
                                                        <br>
                                                        Sans compter l'humour gaga de cervor&eacute;ptilien, typically french. 
                                        </div>
                                        
                                        <div> "Dans un de tes messages , tu as &eacute;cris " en parlant de bite ils n'ont que &ccedil;a' ...(bla bla bla), ce message &eacute;tait s&ucirc;rement p&eacute;joratif &agrave; l'&eacute;gard des hommes .<br>
                                                        Et Tu as raison , je suis b&ecirc;te ma bite me guide vers les femmes les plus s&eacute;duisante , c'est vrai .Mais dans ton message qui m'&eacute;tait destin&eacute; tu me d&eacute;nigre puisque je ne vois pas qu'une femme s'habille bien pour me plaire .<br>
                                                        Tu ne comprends pas ? Dans ton esprit:<br>
                                                        - Les hommes sont b&ecirc;tes car leur bite les dirigent vers les femmes les plus belle<br>
                                                        =/=<br>
                                                        - Les hommes sont b&ecirc;tes de ne pas voir les efforts d'une femme pour leur plaire"<br>
                                                        <br>
                                                        PAS DE SENS &agrave; ton message !<br>
                                                        Que signifie ce signe =/= ? z&eacute;ro !<br>
                                                        On deviendrait fou &agrave; chercher un sens &agrave; ton message.<br>
                                                        <br>
                                                        Pour anecdote, l'ex de ma copine avait rencontr&eacute; dans les poubelles du Net, quelqu'un de ce genre, une personne cliniquement malade mental et qui vivait en soci&eacute;t&eacute; comme nous mais lui pour le malheur des faibles.<br>
                                                        Comment se faisait il qu'il n'avait pas &eacute;t&eacute; conduit de force en l'h&ocirc;pital psychiatrique ou en prison ?<br>
                                                        lui, il &eacute;tait blanc, il se comportait comme Mr tous le monde.<br>
                                                        <br>
                                                        C'est certain que si c'&eacute;tait quelqu'un d'autre comme un &eacute;tranger la justice serait faite ... voil&agrave; un exemple de justice.<br>
                                                        tout &ccedil;a pour te dire que ton parler bonjour bonsoir me rappelle le sien.<br>
                                                        <br>
                                                        &ccedil;a : "je n'ai pas compris que les femmes veulent me plaire travers leur v&ecirc;tements , peut &ecirc;tre"<br>
                                                        <br>
                                                        avec plus loin<br>
                                                        <br>
                                                        "Mais dans ton message qui m'&eacute;tait destin&eacute; tu me d&eacute;nigre puisque je ne vois pas qu'une femme s'habille bien pour me plaire .<br>
                                                        <br>
                                                        Tu ne comprends pas ?"<br>
                                                        <br>
                                                        comprendre quoi ? le lien entre d&eacute;nigrer et comprendre ?<br>
                                                        <br>
                                                        &ccedil;a c'est un autre ordre, ce n'est pas la b&ecirc;tise mais le follet <img alt="" src="http://images.doctissimo.fr/design/smilies/custom/lol.gif"><br>
                                                        </div>
            
                                       
                                        <div>
                                                        et l&agrave; je me demande comment font les hommes pour devenir fous cliniquement c'est &agrave; dire malade mental &agrave; cause d'une rupture avec une femme belle physiquement ?<br>
                                                 </div>
                                </td>
                        </tr>
        
                </tbody>
        </table>
        
        
        <!-- BREAK -->

    
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <strong>enKore</strong>
                                        </div><strong>Profil :</strong> Doctinaute de diamant
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/1/7/10824017/2166642/tns1-2166642.jpg?v=3"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 24/07/2015&nbsp;&agrave;&nbsp;22:25:43</li>
                                                        </ol>
                                                </div>
                                               </div>
                                        <div>
                                                <div>
                                                        Ils ont des bites qu'ils doivent de temps en temps faire marcher ! Il faut un temps pour tout, quoi.
                                                </div>
                      
                                        </div>
                                </td>
                        </tr>
                </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <a href="#t699556"><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/icon1.gif?v=1477700583"></a>
                                        </div>
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 27/07/2015&nbsp;&agrave;&nbsp;11:17:32</li>
                                                               </ol>
                                                </div>
                                                <div>
                                                        <ol>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/exclam.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>
                                                        c vrai que le shopping est une activit&eacute; qui developpe n&ocirc;tre intelligence de toute fa&ccedil;on
                                                </div>
                                        </div>
                                </td>
                        </tr>
                </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <a href="#t699557"><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/icon1.gif?v=1477700583"></a>
                                        </div>
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 27/07/2015&nbsp;&agrave;&nbsp;11:17:33</li>
                                                                </ol>
                                                </div>
                                                                                </div>
                                        <div>
                                                <div>
                                                        c vrai que le shopping est une activit&eacute; qui developpe n&ocirc;tre intelligence de toute fa&ccedil;on
                                                </div>
                                        </div>
                                </td>
                        </tr>
        
                </tbody>
        </table>

       
        <table>
                <tbody>
                        <tr>
                                <td>
                                    
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 18/08/2015&nbsp;&agrave;&nbsp;00:39:15</li>
                                                        </ol>
                                                </div>
                                                <div>
                                                        <ol>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/exclam.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>
                                                        Les femmes, elles ,font du shopping. Ce n'est pas vraiment mieux .Elles doivent s&ucirc;rement , &agrave; partir de 12 ans, passer plus de 40 % derri&egrave;re un miroir ou dans un magasin de v&ecirc;tements . Mais bon je trouve cela b&ecirc;te de dire que les hommes sont b&ecirc;tes sachant qu'il ne sont pas tous les m&ecirc;mes.
                                                </div>
                                        </div>
                                </td>
                        </tr>
    
                </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
            
                                        <div>
                                                <strong>cervoreptilien</strong>
                                        </div>Animal pr&eacute;historique partouzeur de droite<br>
                                        <strong>Profil :</strong> Doctinaute Hors Comp&eacute;tition
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/2/3/0/4075230/370228/tns1-370228.jpg?v=0"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 18/08/2015&nbsp;&agrave;&nbsp;16:06:11</li>
                                                        </ol>
                                                </div>
                                                
                                        </div>
                                        <div>
                                                <div>
                                                        <div>
                                                                <table>
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td>
                                                                                                <strong><a href="http://forum.doctissimo.fr/sante/intelligence/hommes-soient-betes-sujet_160299_1.htm#t699677">Bonjour-Bonsoir a &eacute;crit :</a></strong><br>
                                                                                                <br>
                                                                                                <p><br>
                                                                                                Les femmes, elles ,font du shopping. Ce n'est pas vraiment mieux .Elles doivent s&ucirc;rement , <strong>&agrave; partir de 12 ans, passer plus de 40 %</strong> derri&egrave;re un miroir ou dans un magasin de v&ecirc;tements . Mais bon je trouve cela b&ecirc;te de dire que les hommes sont b&ecirc;tes sachant qu'il ne sont pas tous les m&ecirc;mes.<br>
                                                                                                <br></p>
                                                                                        </td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                        <p><br>
                                                        Je te parle m&ecirc;me pas du pourcentage en terme de ressources financi&egrave;res. La part allou&eacute;e aux grolles se compte &agrave; elle seule &agrave; deux chiffres.</p><br>
                                                </div>
                                        </div>
                                </td>
                        </tr>

                </tbody>
        </table>


        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <a href="#t699737"><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/icon1.gif?v=1477700583"></a>
                                        </div>
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 28/08/2015&nbsp;&agrave;&nbsp;01:50:27</li>
                                                        </ol>
                                                </div>
                                       
                                        </div>
                                        <div>
                                                <div>
                                                        MDR je n'ai pas compris que les femmes veulent me plaire &agrave; travers leur v&ecirc;tements , peut &ecirc;tre .<br>
                                                        Dans un de tes messages , tu as &eacute;cris " en parlant de bite ils n'ont que &ccedil;a' ...(bla bla bla), ce message &eacute;tait s&ucirc;rement p&eacute;joratif &agrave; l'&eacute;gard des hommes .<br>
                                                        Et Tu as raison , je suis b&ecirc;te ma bite me guide vers les femmes les plus s&eacute;duisante , c'est vrai .Mais dans ton message qui m'&eacute;tait destin&eacute; tu me d&eacute;nigre puisque je ne vois pas qu'une femme s'habille bien pour me plaire .<br>
                                                        Tu ne comprends pas ? Dans ton esprit:<br>
                                                        - Les hommes sont b&ecirc;tes car leur bite les dirigent vers les femmes les plus belle<br>
                                                        =/=<br>
                                                        - Les hommes sont b&ecirc;tes de ne pas voir les efforts d'une femme pour leur plaire<br>
                                                        <br>
                                                        Pourrait on parler d'antith&egrave;se ? Oui<br>
                                                        Continuons<br>
                                                        <br>
                                                        Dans un autre message tu dis " Quest ce qu'ils sont b&ecirc;tes &agrave; attendre des heures derri&egrave;re un rideau "<br>
                                                        La prochaine fois pr&eacute;cise ton cas de figure puisque<br>
                                                        IMAGINONS<br>
                                                        <br>
                                                        Un homme est avec sa copine (femme) ils sont dans un magasin pour femmes (habits) la femme prends des v&ecirc;tements et part se changer dans une cabine d'essaillage , l'homme joue le r&ocirc;le de porte-manteau pour habits f&eacute;minin . Chaque 20 minutes la femme tire le rideau devant son copain et lui pose la question<br>
                                                        " est ce que je suis belle "<br>
                                                        L'homme &eacute;puis&eacute; va &eacute;videmment lui r&eacute;pondre de mani&egrave;re affirmative<br>
                                                        La femme pas tr&egrave;s convaincu va donc prendre un habit pour femme que porte son copain , pousse le rideau et c'est reparti pour 20 minutes ...<br>
                                                        Tu ne peux que dire oui &agrave; mon exemple sachant que tu m'as r&eacute;pondu que partie des femmes passent bien leur temps dans le shopping<br>
                                                        <br>
                                                        Tu insinues qu'un homme est b&ecirc;te en parlant des hommes qui se lavent pas , mettent du deo pour cacher le tout ... Si tu n'avais que &ccedil;a comme information tu ne pouvais te mettre dans sa t&ecirc;te et savoir &agrave; quoi il pensait . si apr&egrave;s pour toi la grande intelligence d&eacute;duit tout &agrave; partir de priori c'est bien pour toi . mais ce n'est pas de l'intelligence. Et avec des personnes ayant cette mentalit&eacute; nous pourrons envoyer bcp d'innocents en prison et laisser les coupables en libert&eacute; . est ce que c'est intelligent ? Je ne penses pas .<br>
                                                        Si tu dis que je ne suis pas en mesure de d&eacute;pass&eacute; mon &eacute;ducation donn&eacute;, je pense que tu as raison mais toi alors es tu d&eacute;nud&eacute;e de tant de cr&eacute;ativit&eacute; et peut &ecirc;tre de savoir pour penser que seul les habits sexy attirent les hommes ... Puisque dans tes paroles tu semble mettre les femmes au dessus des hommes, elles ont l'air intelligenteq pour toi et tu dis toi m&ecirc;me que c'est ce que font les femmes ( si je me trompe ne me dis pas que je suis b&ecirc;te )
                                                </div>
                                        </div>
                                </td>
                        </tr>
                       </tbody>
        </table>


       
       
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                        
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 30/08/2015&nbsp;&agrave;&nbsp;12:43:55</li>
                                                        </ol>
                                                </div>
                                               
                                        </div>
                                        <div>
                                                <div>
                                                        Nevermore020 , si tu pr&eacute;f&egrave;res dans tes messages tu sembles dire que les hommes sont b&ecirc;te d'aller vers les femmes qui essayent de leur plaire et de ne pas aller vers les femmes qui font la m&ecirc;me chose<br>
                                                        En d'autres termes si toutes les femmes du monde essayent de leur plaire , si ils vont vers elles ils sont b&ecirc;tes et si ils ne font rien , donc ils ne vont pas vers elles, ils sont b&ecirc;tes...<br>
                                                        C'est compl&egrave;tement illogique<br>
                                                        <br>
                                                        Toutes personnes , je pense ayant fait des maths jusqu'au lyc&eacute;e c'est que =/= ce signe veut dire diff&eacute;rents je l'ai utilis&eacute; pour te faire remarquer que tes id&eacute;es s'opposaient et tu avais l'air de trouver un sens &agrave; cela<br>
                                                        <br>
                                                        Apr&egrave;s le paragraphe du gars a la clinique tu cites trois passages de mes messages dont le dernier ou c'est &eacute;crit "tu ne comprends pas" excuse moi le premier et le deuxi&egrave;me passage ne font pas parti du m&ecirc;me paragraphes
                                                </div>
                                        </div>
                                </td>
                        </tr>
                        </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                    
                                        <div>
                                                <strong>Bonjour-Bonsoir</strong>
                                        </div>Quand je vole trop haut. Je pr&eacute;f&egrave;re redescendre po<br>
                                        <strong>Profil :</strong> Habitu&eacute;
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 30/08/2015&nbsp;&agrave;&nbsp;12:50:59</li>
                                                        </ol>
                                                </div>
                                                
                                        </div>
                                        <div>
                                                <div>
                                                        Et pour en revenir &agrave; mon premier paragraphe , imaginons un homme va vers une femme qui n'essayent pas de lui plaire particuli&egrave;rement , d'apr&egrave;s toi , la femme devrait elle aller vers l'homme ou le repousser et devenir une femme stupide (puisqu'elle ferait la m&ecirc;me chose que les hommes que tu trouves b&ecirc;tes)
                                                </div>
                                        </div>
                                </td>
                        </tr>
                      </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                    
                                        <div>
                                                <strong>madame-x</strong>
                                        </div><strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/7/8/9/8751789/1752115/tns1-1752115.jpg?v=9"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 01/09/2015&nbsp;&agrave;&nbsp;22:02:31</li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>Au final dans ce que tu dis .. les femmes se maquillent pour plaire, s'habille bien etc. Mais c'est toi qui n'a qu'&agrave; pas &ecirc;tre aussi b&ecirc;te ! Si tu plais &agrave; un homme tu lui plais pour ce que tu es et non ce que tu renvoies ! Si tu as besoin d'artifice pour plaire &agrave; quelqu'un.. c'est triste ..<br>
                                                <br>
                                                Tu te crois sup&eacute;rieure &agrave; g&eacute;n&eacute;raliser ? tss<br>
                                            
                                                <br>
                                                <img alt="" src="http://tickers.doctissimo.fr/make2.php?who=&amp;button=perso&amp;fond_ticker=ruler_14_014.jpg&amp;tick_ticker=ico_15_027.png&amp;jour=31&amp;mois=5&amp;annee=2012&amp;tkr_type=privee&amp;inputtexte=Nous%20deux&amp;nombebe="></div>
                                        </div>
                                </td>
                        </tr>
                        <</tbody>
        </table>
        
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <strong>Le Poulet Vengeur</strong>
                                        </div>
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 07/09/2015&nbsp;&agrave;&nbsp;12:41:59</li>
                                                        </ol>
                                                </div>
                                               
                                        </div>
                                        <div>
                                                <div>
                                                        Moi aussi j'ai un sujet int&eacute;ressant ! "Pourquoi certaines femmes pensent que les hommes sont stupides ?" &agrave; travers cette question je corrige le sujet du topic qui g&eacute;n&eacute;ralise trop &agrave; mon go&ucirc;t.<br>
                                                        <br>
                                                        En effet la notion de b&eacute;tise ne se d&eacute;termine pas &agrave; partir du sexe, mais plut&ocirc;t &agrave; partir de l'individu et son &eacute;volution dans le temps, exemple : un homme lambda peut &ecirc;tre aussi stupide qu'une femme lambda, de m&ecirc;me que tout autre attrait physique n'influe pas ( &agrave; ma connaissance, si vous avez les preuves, balancez) sur la capacit&eacute; cognitive de l'individu. &Agrave; cela s'ajoute le d&eacute;veloppement des connaissances et de la sagesse, qui diff&egrave;re chez chaque &ecirc;tre humain selon son parcours de vie.<br>
                                                        Enfin, je ne connais pas le pass&eacute; de chacun, peut-etre certaines pr&eacute;sentes ici ont eu une mauvaise exp&eacute;rience avec le genre masculin, mais &ccedil;a n'en fait pas pour autant un genre &agrave; insulter, merci de ne pas g&eacute;n&eacute;raliser.<br>
                                                        </div>
                                        </div>
                                </td>
                        </tr>
                        </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <strong>Valium_et_Temesta</strong>
                                        </div><strong>Profil :</strong> Fid&egrave;le
                                        <div><img alt="" src="http://b.imdoc.fr/design/user/avatar/default_tns1_avatar.png"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 07/09/2015&nbsp;&agrave;&nbsp;14:10:23</li>
                                                                 </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>
                                                        Et comment &ccedil;a se passe pour les fr&egrave;res et s&oelig;urs siamoises ? Elles vivent la m&ecirc;me chose mais pourtant une (ou un) des deux peut cruellement pourrir la vie de l'autre si elle(il) est conne(con) comme ses pieds (pas les pieds de l'autre hein...) quoique, je sais pas comment &ccedil;a se passe l&agrave; si y'a trois jambes, et que une des s&oelig;urs dit :<br>
                                                        <br>
                                                        _"Vas-y bouge"<br>
                                                        <br>
                                                        Tandis que l&rsquo;autre "&eacute;met" un "blocage" ... ?<br>
                                                        <br>
                                                        Elles (ils) peuvent pas se mettre des baffes du coup vu que l'autre "voit" la claque arriver ?<br>
                                                        <br>
                                                        Faut attendre que l'autre s'endorme lol... L&agrave; hop ! l Tu te l&egrave;ves du lit en louzd&eacute;, et tu lui colles la t&ecirc;te dans l'r&eacute;frig&eacute;rateur 10 minutes mdrrrrrrr <img alt="" src="http://images.doctissimo.fr/design/smilies/custom/love.gif"><br>
                                                        <br>
                                                        <br>
                                                        .....
                                                </div>
                                                <div>
                                                        Message &eacute;dit&eacute; par Valium_et_Temesta le 07/09/2015&nbsp;&agrave;&nbsp;17:43:47
                                                </div>
                                        </div>
                                </td>
                        </tr>
                        </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                       
                                        <div>
                                                <strong>atikha</strong>
                                        </div><strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/0/4/8853004/2123133/tns1-2123133.jpg?v=2"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 08/09/2015&nbsp;&agrave;&nbsp;22:35:55</li>
                                                        </ol>
                                                </div>

                                        </div>
                                        <div>
                                                <div>
                                                        <p>Les hommes avec un petit "h" on est d'accord?<br>
                                                        Cette race inf&eacute;rieure l&agrave;?<br>
                                                        <br>
                                                        Je t'explique.<br>
                                                        "On" leur dit que c'est le sexe fort, ils doivent assumer. Ils font genre. Tout est dans l'apparence. Je suis un mec, je dois d&eacute;gager cela. Faut que j'en ai une grosse. Faut que je sois le protecteur, fort, tout &ccedil;a quoi.<br>
                                                        Donc je dois masquer mes faiblesses, sinon je serais pas un homme. Je vais chercher d'ailleurs plus faiblard pour montrer que moi j'en ai une grosse, en tous cas en comparaison. Faire genre.<br>
                                                        Or, &agrave; partir du moment o&ugrave; l'on se met en "devoir" de masquer ses faiblesses, on devient un faible. Parce que pas moyen de devenir plus fort quand on veut faire croire et, pire, se faire croire &agrave; soi-m&ecirc;me, que d&eacute;j&agrave; on l'est.<br>
                                                        L'homme est donc l&acirc;che, c'est logique.<br>
                                                        L&acirc;chet&eacute; = j'assume pas. L'homme n'assume pas du tout ses faiblesses, ce qui le rend couille-molle.<br>
                                                        Nul en gestion des probl&egrave;mes. Ou si il parait ne pas trop mal s'en sortir: tu parles, 0. Il est encore dans le masque. J'ai des couilles, je g&egrave;re. Le simple fait qu'il croit en avoir fait qu'il fait croire qu'il g&egrave;re et que du coup il g&egrave;re effectivement.<br>
                                                        Par exemple, j'ai des couilles, je d&eacute;capite sans probl&egrave;me. Alors oui, il d&eacute;gage une certaine force/puissance/autorit&eacute;. Il fiche la trouille. Mais ce con l&agrave;, ne d&eacute;capite que parce qu'il a des couilles et que oui bordel, il va d&eacute;capiter, il a des couilles.<br>
                                                        Tout marche &agrave; l'illusion.<br>
                                                        Le mec qui se veut fort doit s'auto-persuader qu'il a des couilles. En revanche, &ccedil;a ne le rendra pas bien intelligent.<br>
                                                        A noter aussi que tout cela le rend extr&ecirc;mement influen&ccedil;able.<br>
                                                        "Fais &ccedil;a si t'as des couilles".</p>
                                                </div>
                                
                                        </div>
                                </td>
                        </tr>
                  
                </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                        
                                        <div>
                                                <strong>fleurdechampi</strong>
                                        </div><strong>Profil :</strong> Doctinaute de bronze
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/5/8/6/8272586/1377964/tns1-1377964.jpg?v=0"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 09/09/2015&nbsp;&agrave;&nbsp;00:49:33</li>
                                                                </ol>
                                                </div>
                                
                                        </div>
                                        <div>
                                                <div>
                                                        Tant de fragilit&eacute; et de sensibilit&eacute;... c'est tellement beau que j'en reste sans mots...
                                                </div>
                                        </div>
                                </td>
                        </tr>

                </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <a href="#t699931"><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/icon1.gif?v=1477700583"></a>
                                        </div>
                                        <div>
                                                <strong>madame-x</strong>
                                        </div><strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/7/8/9/8751789/1752115/tns1-1752115.jpg?v=9"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 09/09/2015&nbsp;&agrave;&nbsp;11:11:35</li>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/profile.gif?v=1477700583"></li>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/quote.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                                <div>
                                                        <ol>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/exclam.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                        <div>
                                                Les femmes qui ont &eacute;t&eacute; prises pour des connes par certains hommes .. qui g&eacute;n&eacute;ralisent.. c'est triste ..<br>
                                                <br>
                                                Si vous tombez que sur des connards, c'est peut-&ecirc;tre parce que vous &ecirc;tes des grosses connasses ?
                                        </div>
                                        <div>
                                                Message cit&eacute; 2 fois
                                        </div><br>
                                        ---------------<br>
                                        &ldquo;If the doors of perception were cleansed, everything would appear as it is - infinite&rdquo;<br>
                                        <br>
                                        William Blake<br>
                                        <br>
                                        <img alt="" src="http://tickers.doctissimo.fr/make2.php?who=&amp;button=perso&amp;fond_ticker=ruler_14_014.jpg&amp;tick_ticker=ico_15_027.png&amp;jour=31&amp;mois=5&amp;annee=2012&amp;tkr_type=privee&amp;inputtexte=Nous%20deux&amp;nombebe="></div>
                                </td>
                        </tr>
</tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                        <div>
                                                <a href="#t699932"><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/icon1.gif?v=1477700583"></a>
                                        </div>
                                        <div>
                                                <strong>atikha</strong>
                                        </div><strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/0/4/8853004/2123133/tns1-2123133.jpg?v=2"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 09/09/2015&nbsp;&agrave;&nbsp;11:34:56</li>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/profile.gif?v=1477700583"></li>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/quote.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                                <div>
                                                        <ol>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/exclam.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>
                                                        <div>
                                                                <table>
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td>
                                                                                                <strong><a href="http://forum.doctissimo.fr/sante/intelligence/hommes-soient-betes-sujet_160299_1.htm#t699931">madame-x a &eacute;crit :</a></strong><br>
                                                                                                <br>
                                                                                                <p><br>
                                                                                                Les femmes qui ont &eacute;t&eacute; prises pour des connes par certains hommes .. qui g&eacute;n&eacute;ralisent.. c'est triste ..<br>
                                                                                                <br>
                                                                                                Si vous tombez que sur des connards, c'est peut-&ecirc;tre parce que vous &ecirc;tes des grosses connasses ?<br>
                                                                                                <br></p>
                                                                                        </td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                        <p>?<br>
                                                        <br>
                                                        B&ecirc;te = connard pour toi?<br>
                                                        Tu vois o&ugrave; du connard?</p>
                                                </div>
                                        </div>
                                </td>
                        </tr>
 </tbody>
        </table>
        <table>
                <tbody>
                        <tr>
                                <td>
                                    
                                        <div>
                                                <strong>atikha</strong>
                                        </div><strong>Profil :</strong> Doctinaute d'argent
                                        <div><img alt="" src="http://aws-cf.imdoc.fr/prod/avatars/0/0/4/8853004/2123133/tns1-2123133.jpg?v=2"></div>
                                </td>
                                <td>
                                        <div>
                                                <div>
                                                        <ol>
                                                                <li>Post&eacute; le 09/09/2015&nbsp;&agrave;&nbsp;11:39:18</li>
                                                                </ol>
                                                </div>
                                                <div>
                                                        <ol>
                                                                <li><img alt="" src="http://imdoc.fr/forum/themes_static/images_forum/4/exclam.gif?v=1477700583"></li>
                                                        </ol>
                                                </div>
                                        </div>
                                        <div>
                                                <div>
                                                        En tous cas, vous n'avez aucun humour. &ccedil;a pour le coup, c'est un truc de femmes.<br>
                                                        Personnellement je me suis bien marr&eacute;e en &eacute;crivant cela sans compter que j'y ai trouv&eacute; une certaine finesse et intelligence.
                                                </div>
                                        </div>
                                </td>
                        </tr>
</tbody>
        </table>

