 @font-face{
    font-family: 'Averia';
    src: url('fontes/Averia-Bold.ttf);
    font-family: 'Career';
    src: url('fontes/Career.otf);
}


#sujet{
        width: 100%;
        height: 60px;
        margin-left: 20px;
        margin-top: 50px;
        font-family: Averia;
}

#nevermorebox{
        width: 70%;
        height:80%;
        background: -webkit-gradient(right, black, lightgrey);
        font-family: Career;
        
}
.profile{
        
}

.avatar{
        
}

#nevermoreprofile{
        
}

#nevermoretext{
        
}

#nevermore1{
        
}

#nevermore2{
        
}

#nevermore3{
        
}

#nevermore4{
        
}

#answers{
        
}

#answersprofile{
        
}

#bloc2{
        
}

#bloc3{
        
}

#bloc4{
        
}

#bloc5{
        
}

#answerstext{
        
}

#enkore{
        
}

#bonjourbonsoir{
        
}

#bonjourbonsoir1{
        
}

#bonjourbonsoir2{
        
}

#bonjourbonsoir3{
        
}

#pouletvengeur{
        
}

#valium{

}
