
@font-face{
    font-family: 'Outrun future';
     src: url('fontes/Outrun future.otf');
     }
	
@font-face{
   font-family: 'Averia-Bold.ttf';
	     src: url('fontes/Averia-Bold.ttf');
	}

img{
	 width:100%;
}

#image{
    width: 100%;
    transform: skewY(-5deg);
    position: absolute;
    top:20%;
    filter: grayscale(100%);
}

p{
margin: 1cm;
transform: skewY(-5deg); 
font-family: Averia-Bold;
margin-right: 0.5cm;
margin-top: 0.25cm;
margin-bottom: 0.25cm;
text-align:justify;
}


h1{
    font-size: 25px; 
    transform: skewY(-5deg); 
    margin: 0.5cm;
    text-transform : uppercase;
    font-family:Outrun future;
    background: black;
    color: white;
    text-align: center;
    z-index: 2;
    }

h2{
    font-size: 13px;
	margin-left : 2cm;
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
	transform: skewY(-5deg); 
	font-weight: bold;
	text-transform : uppercase;
	font-family:Outrun future;
	   z-index: 2;
	
	}


li{
    transform: skewY(-5deg); 
    font-family: Averia-Bold;
	margin-right: 1cm;
	margin-top: 0cm;
	margin-bottom:0cm;
	text-align: justify;
	    }
ul{
    margin-top:0.25;
    margin-bottom:0.25;
    }

p, li, h2{
	width: 80%;
	margin-left: 10%;  
}




















