@font-face{
    font-family: 'Karla';
    src: url('fontes/Karla-Italic.ttf');
    }
    
body{
        font-family: 'Karla';
        font-size: 11pt;
        color : white;
        position : absolute;
        background-color : red;
    
    }
    
 #forme {
     margin: 0 auto 0 auto;
     margin-left : 1.5cm;
     margin-right : 1.5cm;
     }

#titre {
    text-align: center;
    color : yellow;
    font-size : 20pt;
    }
    
    
      
      
      
      
      
      
      
      
