
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0.5cm;

}


h1{
    font-size: 30px; 
    text-align: center;
    text-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    box-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    }

h2{
    font-size: 20px;

}
   h2,h3{
	margin: 0.5cm;
  }
  
  























