@font-face{
    font-family: 'Karla';
    src: url('fontes/Karla-Italic.ttf');
    }
    
body{
        font-family: 'Karla';
        color : white;
        position : absolute;
        background-color : grey;

    }
    
 #forme {
     

     margin: 0 auto 0 auto;
     margin-left : 1.5cm;
     margin-right : 1.5cm;

     }

#titre {
    margin-top : 0.3cm;
    text-align: center;
    color : white;
    font-size : 20pt;
    margin-left : 1.5cm;
    width : 15cm;
    height : 2cm;
 
    border : 5pt solid black;
    box-shadow: 10px 10px 10px black;
    }


#alinea {
    margin-left : 1cm;
    font-size : 14pt;
    border : 3px dotted red;
    box-shadow: 12px 15px 6px red,
} 
    
#c
-moz-column-count: 2;
-webkit-column-count:2;
column-count:2;
    
      
      
      
      
      
      
      
      
