@font-face {
    font-family: 'arconregular';
    src: url('../font/arcon-regular-webfont.woff2') format('woff2'),
         url('../font/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
    }
    
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
   } 
#texte{
    font-size: 30px; 
    text-align: center;
    }
#bloc1{
    font-size: 10px; 
    text-align: center;
    width: 150px;
    height: 150px;
    background: yellow; 
    position: absolute;
    }
    
    
    
    
    
   
   
