@font-face{
    font-family: 'selectric';
    src: url('fontes/SelectricMono-webfont.ttf');
}
	
*{
    font-family: 'selectric';
    font-size: 7.5pt;
    }

iframe{
    display: none;
}

a{
    color: black;
    text-decoration: underline;
}

img{
    filter: grayscale(100%);
}

div{
    margin: 0;
    padding: 0;
}

#all1, #all2{
    margin: 0.3cm;
    column-count: 6;
    column-gap: 0.1
}


.col, #profil{
    margin-bottom: 0.25cm;
    //width: 2.714cm;
    //margin: 0.25cm;
    text-align: justify;
    letter-spacing:-0.2px;
    //float: left;
    }

.col img, #profil img{
    width: 80%;
    margin 0.2cm 0;
    margin-left: 10%;
}

h3{
    transform: rotate(-6deg);
    text-align: center;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    padding-left: 0.1cm;
    }
    
    
    
    
    
    



