@font-face{
    font-family: 'Averia';
    src: url('fontes/Averia-Bold.ttf');
}

@font-face{
    font-family: 'Career';
    src: url('fontes/Career.otf');
}

#top{
        padding: 0;
        position: absolute;
        float:left;
}

#nevermoreavatar{
        position: absolute;
        margin-top: 15px;
        margin-left: 140px;
        opacity: 0.3;
        float: left;
        transform: skewY(5deg);
        filter: grayscale(100%);
}

#sujet{
        float: left;
        width: 70%;
        height: 15px;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 180px;
        font-family: Averia;
        letter-spacing: 1pt;
        box-shadow: 10px 10px 30px black;
        
}

#nevermorebox{
        font-family: Averia;
        letter-spacing: 2pt;
        float: left;
        Margin-left: 50px;
        width: 80%;
        height:95%;
        background: Gainsboro;
        font-family: Career;
        box-shadow: 10px 10px 30px black;
}



.profile{
        color: white;
        margin-top: 20px;
        float: left;
        width: 190px;
        height: 60px;
        text-color: white;
        letter-spacing: 3pt;
        line-height: 1.3;
        background: grey;

}

.avatar{
        width: 50%;
        opacity: 0.3;
        float: left;
        transform: skewY(10deg);
        filter: grayscale(100%);
        margin-left: 20px;
}

.text{
        margin-left: 10px;
        margin-right: 5px;
}

#nevermoreprofile{
        margin-top:20px;
        margin-bottom: 10px;
        margin-right: 10px;
}

#bloc1{
        margin-left: 10px;
}

#nevermoretext{
}

        

#answers{
        letter-spacing: 2pt;
        line-height: 1.3;
        float: left;
        margin-bottom: 10px;
        margin-left: 30px;
        width: 90%;
        height:95%;
        font-family: Career;

}

#answersprofile{
        font-family: Career;
        letter-spacing: 2pt;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width: 20%;
        height:90%;
        
}

#bloc2{
        margin-bottom:30px;
}

#bloc3{
        margin-bottom:90px;
}

#bloc4{
        margin-bottom:80px;
}

#bloc5{
        margin-bottom:30px;
        margin-top:150px;
}

#answerstext{
        width: 70%;
        margin-left: 200px;
        margin-top: 20px;
}

#enkore{
        text-indent: 5px;
        border-radius: 25px;
        background:Gainsboro;
        box-shadow: 5px 5px 15px black;
        margin-bottom: 25px;
        margin-top: 10px;
}

#bonjourbonsoir{
        text-indent: 5px;
        border-radius: 25px;
        background:Gainsboro;        
        box-shadow: 5px 5px 15px black;
        margin-bottom: 25px;
}


#pouletvengeur{
        text-indent: 5px;
        border-radius: 25px;
        background:Gainsboro;
        box-shadow: 5px 5px 15px black;
        margin-bottom: 25px;
}

#valium{
        border-radius: 25px;
        background: Gainsboro;
        box-shadow: 5px 5px 15px black;
}

        

