html, body{
        margin: 0; padding: 0; width: 100%;
}


@font-face {  
     font-family: 'Impact';
}
       
#titre1 {
                font-family: 'Impact';
			text-align: left;
			font-size: 40px;
			color: black;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 20px
			}
			
			
			@font-face {  
			     font-family: 'Impact';
			}
			       
			#titre2 {
			         font-family: 'Impact';
			text-align: left;
			font-size: 120px;
			color: black;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
			margin-top: -15px;
			}

			
#loup{
	writing-mode: vertical-rl;
	margin-left: 590px;
	margin-top: 5px;
	font-size: 50px;
	 font-family: 'Impact';
	color: black;
	opacity: 0.4;
	}
	@font-face {  
	     font-family: 'Impact';
	}

	#im{
	 width: 400px;
	height: 300px; 
	position:fixed;
	border: 3px dotted black; 
	box-shadow: 10px 10px 30px black;
	opacity: 0.4;
	background: #D5D8DC;
	margin-top: 30px;
	margin-left: 100px;
	}

	


.cross{
	width: 15px;
	height: auto;
	margin-left: 550px;
	margin-top: -180px;
	position:fixed;
	    }

#bloc1{
      width: 500px;
	height: 400px; 
	border: 3px dotted black;  
	margin-left: 30px;
	padding: 20px;
	margin-top: -190px;
	box-shadow: 10px 10px 30px black;
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	background: white;
	
	}


#celine{
	writing-mode: vertical-rl;
	margin-left: 190px;
	margin-top: 90px;
	font-size: 50px;
	 font-family: 'Impact';
	color: black;
	opacity: 0.4;
	}
	
	@font-face {  
	     font-family: 'Impact';
	}
	
	
	.cross1{
	width: 15px;
	height: auto;
	margin-left: 680px;
	margin-top:-340px ;
	position:fixed;
	    }
	
	
  #bloc2{
      width: 400px;
	height: 300px; 
	border: 7px dashed black;  
	margin-left: 260px;
	padding: 20px;
	margin-top: -360px;
	background: white;
	box-shadow: 10px 10px 20px black;
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	position: fixed;
	
	}
	
	

#bloc3{
    width: 200px;
    height: 150px;
    margin-left: 25px;
    margin-top: 20px;
	padding: 15px;
	border: 5px double black; 
			position: fixed;
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	background: #D5D8DC;
	box-shadow: 7px 7px 30px black;
	
}
	.cross2{
	width: 10px;
	height: auto;
	margin-left: 468px;
	margin-top:48px ;
	position:fixed;
	    }


#bloc4{
	width: 200px;
	height: 150px;
	
	padding: 15px;
	border: 5px double black; 
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	position: fixed;
	background: #D5D8DC;
	box-shadow: 7px 7px 30px black;
	margin-left: 250px;
	postion: fixed;
	margin-top: 37px;
}
	
#bloc5{
	width: 200px;
	height: 130px;
	padding: 15px;
	border: 5px double black; 
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	postion: fixed;
	background: #D5D8DC;
	box-shadow: 7px 7px 30px black;
	margin-left: 210px;
	margin-top: 220px;
	
}

#Suelsea{
    
	writing-mode: vertical-rl;
	margin-top: 37px;
	font-size: 50px;
	 font-family: 'Impact';
	color: black;
	opacity: 0.4;
	position: fixed;
	right: 170px;
	}
	
	@font-face {  
	     font-family: 'Impact';
	}
	
	#im2{
	 width: 380px;
	height: 300px; 
	position:fixed;
	border: 3px double black; 
	box-shadow: 10px 10px 30px black;
	opacity: 0.4;
	margin-top: 150px;
	margin-left: 70px;
	}


#bloc6{
	width: 150px;
	height: 495px;
	padding: 15px;
	border: 5px groove black grey; 
	 font-family: 'Optima';
	font-size: 13px;
	text-align: justify;
	postion: fixed;
	box-shadow: 7px 7px 30px black;
	margin-left: 510px;
	margin-top: -60px;
}
	.cross4{
	width: 10px;
	height: auto;
	margin-left: 670px ;
	margin-top: -520px;
	position:fixed;
	    }

#Kawaye{
    
	writing-mode: vertical-rl;
	margin-top: 695px;
	font-size: 50px;
	 font-family: 'Impact';
	color: black;
	opacity: 0.4;
	position: fixed;
	right: 235px;
	}
	
	@font-face {  
	     font-family: 'Impact';
	}


.pee{
	width: 400px;
	height: auto;
	margin-left: 20px;
	margin-top: -550px;
	    }

 
			#OMFG {
			         font-family: 'Impact';
			text-align: left;
			font-size: 120px;
			color: black;
			text-align: center;
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 15px;
			}
			
			@font-face {  
			     font-family: 'Impact';
			
			
  
  
  
