@font-face{
    font-family: 'Karla';
    src: url('fontes/Karla-Italic.ttf');
    }
    
body{
        font-family: 'Karla';
        color : white;
        position : absolute;
        background-color : red;
    text-shadow: 10px 10px 6px black;
    }
    
 #forme {
     margin: 0 auto 0 auto;
     margin-left : 1.5cm;
     margin-right : 1.5cm;
     }

#titre {
    text-align: center;
    color : white;
    font-size : 20pt;
    }

#alinea {
    margin-left : 2cm;
    font-size : 11pt;
} 
    
    
      
      
      
      
      
      
      
      
