html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
    background: linear-gradient(to bottom, white,pink);
    }

@font-face{
font-family: 'font1';    src: url('fontes/The-Million-Mile Man.ttf');
}

@font-face{
font-family: 'font2';    src: url('fontes/monauto-regular.otf');
}

#title{
        text-align: center;
        font-family: 'font1';
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px pink;
   } 

#bloc1{
        width: 75%;
        margin-left: 15%;
        font-family: 'font2';
        font-size: 18px; 
        border: 3px ;
        }

.titre {
        text-align: justify;
        font-family: 'font2';
        font-size: 16px; 
        }

.texte {
        text-align: justify;
        font-family: 'font2';
        font-size: 12px; 
        }
   
   
   
   
   
   
