@font-face{
    font-family: 'selectric';
    src: url('fontes/SelectricMono-webfont.ttf');
}
	
*{
    font-family: 'selectric';
    font-size: 9pt;
    }

img{
    filter: grayscale(100%);
    width: 8cm;
}

div{
    margin: 0;
    padding: 0;
}

#author{
	width: 4cm;
	margin: 0.5cm;
	position: absolute;
}

#author img{
    width: 100%;
}

h3{
    margin-left: 4.75cm;
    margin-top: 0.5cm;
}

#content{
    position: absolute;
    left: 4.75cm;
    right: 0.5cm;
    //column-count: 2;
    //column-gap: 0.25cm;
}

.decale{
    margin-left: 5.25cm;
}





