@font-face {
    font-family: 'Simplepixels';
    src: url('fontes/Simplepixels.ttf') ;
    font-weight: normal;
    font-style: normal;
    }
	
html, body{
    position: absolute;
    margin: 0;
    width: 100%;
     background: white;
    }
    
#title{
        text-align: justify;
        font-family: 'Simplepixels';
        font-size: 120px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 120px 120px 0px #C0C0C0;
        line-height: 100px;
        margin-top: -16px;
   

   } 

img{
    width: 80px;
    height: 80px;
}

.image1{
    width:100%;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-top: 50px;
        float: left; 
        overflow:hidden;
}
.
#texte{
    font-size: 8px; 
    text-align: center;
    float: left;
    }
    
#bloc1{
        width: 80%;
        margin-left: 16%;
        margin-top: 260px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 10px; 
}

#bloc2{
        width: 40%;
        margin-left: 50px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 12px; 
        top: 30px;
        position: absolute;
}

#bloc3{
        width: 40%;
        margin-left: 400px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 12px; 
        top: 30px;
        position: absolute;
}

#bloc4{
        width: 145%;
        margin-left: -130px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 12px; 
        top: 250px;
        position: absolute;
}

#bloc5{
        width: 40%;
        margin-left: -220px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 12px; 
        top: 40px;
        position: absolute;
}

#bloc6{
        width: 350%;
        margin-left: 5px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 17px; 
        top: 230px;
        position: absolute;
}

#bloc7{
        width: 50%;
        margin-left: 230px;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 12px; 
        top: 260px;
        position: absolute;
}


#soustitle{
text-align: justify;
        font-family: 'Simplepixels';
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 10px 10px 0px #C0C0C0;
        line-height: 60px;
        margin-top: -16px;
}


#section{
text-align: justify;
        font-family: 'Simplepixels';
        font-size: 50px;
        font-weight: bold;
        color: grey;
        line-height: 100px;
        margin-top: -270px;
        margin-left: 10px;
	writing-mode: vertical-rl;
        }
        
        
        
        

