html, body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%;
        font-family: 'bagnardregular';
    }
    
#title{
        text-align: center;
        width: 500px;
        margin: 20px auto 0 auto;
        font-family: bagnardregular;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
   } 
#texte{
    font-size: 30px; 
    text-align: center;
    text-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    box-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    }
   
   
