@font-face{
    font-family: 'Karla';
    src: url('fontes/Karla-Italic.ttf');
    }
    
@font-face{
    font-family:'alamain1';
    src: url('fontes/alamain1.ttf');
	}
	
html, body{
	    position: absolute;
	    width: 100%;
	   position : absolute;
        background-color : darkgrey;
  }
  
#texte{
     font-family: 'Karla';
	font-size:15pt;
	 color : white;
	 transform: skewY(-10deg);
	}
#texte2{
     font-family: 'Karla';
	font-size:15pt;
	}
	
 #forme {
     margin: 0 auto 0 auto;
     margin-left : 5cm;
}

#titre {
      font-family:'alamain1';
    text-align: center;
    color : black;
    font-size : 15pt;
    margin-left : 2.0cm;
    margin-top : 2cm;
    width : 15cm;
     letter-spacing: 4px;
    transform: skewY(10deg);
     border : 5pt dotted black;
         background: lightgrey; 
    box-shadow: 20px 20px 20px white;
    }
    
#gauche {
    margin-top : 4cm;
    }


#alinea {
    margin-left : 1cm;
   margin-top:1cm;
    margin-bottom: 1cm;
    font-size : 14pt;
    background: black; 
    border : 3px dotted white;
    box-shadow:5px 5px 5px white;

} 

#alinea2 {
    margin-left : 1cm;
   margin-top:2cm;
    margin-bottom: 1cm;
    font-size : 14pt;
    background: black; 
    border : 3px dotted white;
    box-shadow:5px 5px 5px white;

} 

#height{

    margin-right : 1cm;
    margin-left : 1cm;
    

line-height: 9px;
	 color : white;
	 transform: skewY(-10deg);
}

#spacing{
letter-spacing: -3px;
	
}

#spacing2{
letter-spacing: 3px;
	 
}

#height2{

    margin-right : 1cm;
    margin-left : 1cm;
    margin-bottom : 1cm;
line-height: 25px;
	color : white;
	 transform: skewY(-10deg);
}
      

