body{
	    line-height: 2px;
    
    }
    
    img{
        
        filter: grayscale(50%);
        }
        
        #topicalertmoderator, .replywithquote{
            
            display: none;
            }
            
            
