h1{
    font-size: 50px;
}

a{
    display: none;
}

h2{
    text-align: center;
    transform: rotate(-5deg);
    font-family: monospace;
    margin-top: 0.5cm;
    }
    
p{
    margin: 0 1cm;
    text-align: justify;
    font-family: sans;
    }
    
    
