@font-face{
    font-family: 'Karla';
    src: url('fontes/Karla-Italic.ttf');
    }
    
body{
        font-family: 'Karla';
        font-size: 11pt;
        poistion : absolute;
    }
    
 #forme {
     margin: 0 auto 0 auto;
     margin-left : 5px;
     }
      
      
      
      
      
      
      
      
