@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
    
body{
        font-family: 'monauto-regular';
        
        background-color: lightgrey;
        
}

.clear{
        clear: both;
    }
    
img{
	 width:100%;
	height:15%;

}

.image{
    margin-bottom: 25px;
    margin-left: 80px;
        float: left; 
        filter: grayscale(80%);
}
 
 #image1{
     overflow: hidden;
       width:100%;
    }
 
 #image2{
     overflow: hidden;
       width:100%;
    }
    
 #image3{
     overflow: hidden;
       width:100%;
    }   
    
 #image4{
     overflow: hidden;
       width:100%;
    }
    
#image5{
    overflow: hidden;
      width:100%;
    }
    
#image6{
    overflow: hidden;
      width:100%;
    }
    
h1{
	font-size:120pt;
	 margin-left: 15%;
	text-shadow: 10px 0px 10px white;
	margin-top:20px;
}

h3{
	font-size:30pt;
	 margin-left: 15%; 
	margin-top: -140px;
	
}
     
h2{
       margin-left: 15%;  
       font-size: 22pt;
       } 
        
p{
    font-size: 12pt;
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
position: relative;
}        



        


