@font-face {
    font-family: 'Simplepixels';
    src: url('fontes/Simplepixels.ttf') ;
    font-weight: normal;
    font-style: normal;
    }

@font-face{
   font-family: 'CaviarDreams.ttf';
	     src: url('fontes/CaviarDreams.ttf');
	}
	
html, body{
    position: absolute;
    margin: 0;
    width: 100%;

    background: linear-gradient(to bottom, pink, white);
    }
    
#title{
        text-align: center;
        font-family: 'Simplepixels';
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;  
        text-shadow: 5px 5px 6px turquoise;
        line-height: 80px;

   } 
   

.image1{
    width:100%;
    margin-bottom: 25px;
    margin-left: 30px;
        float: left; 
        filter: grayscale(80%);
}
.image2{
    width:100%;
    margin-bottom: 25px;
    margin-left: 30px;
     margin-top: 50px;
        float: left; 
        filter: grayscale(80%);
}
.image3{
    width:100%;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 50px;
        float: left; 
        filter: grayscale(80%);
}
.image4{
    width:100%;
    margin-bottom: 25px;
    margin-left: 30px;
     margin-top: 50px;
     float: left; 
    filter: grayscale(80%);
}


#texte{
    font-size: 8px; 
    text-align: justify;
    float: left;
    }
    
#bloc1{
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        text-align: justify;
        font-family: 'CaviarDreams';
        letter-spacing: 1px;
        font-size: 11px; 

}
#bloc2{
        width: 70%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
        margin-top: 70px;
}

#bloc3{
        width: 60%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
        margin-top: 120px;
}

#bloc4{
        width: 60%;
        margin-left: 15%;
        text-align: justify;
        font-family: 'Simplepixels';
        letter-spacing: -1px;
        font-size: 9px; 
        margin-top: 170px;
}

 
   
   
