@font-face{
    font-family: 'monauto-regular';
    src: url('fontes/monauto-regular.otf');
    }
    
body{
        font-family: 'monauto-regular';
        font-size: 13pt;
    }
     
h2{
       margin-left: 15%;  
       } 
        
p{
moz-column-count: 2;
webkit-column-count:2;
column-count:2;
margin: 0,5 cm;
 width: 70%;
margin-left: 15%;
text-align: justify;
}        

.image{
 width: 70%;
        margin-left: 15%;
        margin-bottom: 2%;
 filter: invert(100%) hue-rotate(100deg);
}
   
    }


        

