<div id="author">
	<div><strong>La logique</strong></div>
	<p><strong>Profil : </strong>Fid&egrave;le</p>
	<div><img src="http://aws-cf.imdoc.fr/prod/avatars/6/0/5/8582605/1632074/tns1-1632074.jpg?v=6" alt="" /></div>
</div>

<h3>Gen&egrave;se d'un univers : 0 + 0 = ...</h3>
	<div id="content">
            <div>
            <div>
              <div>
                Sec-onde (de i)<br>
                <br>
                Point de 1D<br>
                <br>
                Sec-onde (de j) dans le point de 1D
              </div>
              <div>
                Deuxi&egrave;me point de 1D qui &eacute;largit le premier point en un ruban en 2D
              </div>
              <div>
                LE Z&Eacute;RO IMAGINAIRE EST N&Eacute;<br>
                <br>
                Sec-onde (de k) dans le ruban en 2D<br>
                <br>
                Section du ruban de 2D<br>
                <br>
                Soudure du ruban de 2D en un ruban de M&ouml;bius<br>
                <br>
                C'EST LE Z&Eacute;RO R&Eacute;EL<br>
                <br>
                Torsion du z&eacute;ro r&eacute;el : formation de la lemniscate &infin;<br>
                <br>
                Division de la lemniscate qui produit des z&eacute;ros imaginaires<br>
                <br>
                Le z&eacute;ro r&eacute;el &eacute;met une onde num&eacute;rique et se structure en carr&eacute; imaginaire (l&agrave; est la relativit&eacute; : i&sup2;) et paillette dimensionnelle 1 r&eacute;elle<br>
                <br>
                Naissance de l'orthogonalit&eacute; (diff&eacute;rente d'un univers &agrave; l'autre)<br>
                <br>
                Les ondes tridimensionnelles diff&eacute;rencient les paillettes en 3 imaginaires : i de 1D, j de 2D et k de 3D<br>
                <br>
                Congruence des paillettes dimensionnelles qui forment alors une cellule dimensionnelle<br>
                <br>
                Action des forces imaginaires :<br>
                Force de l'imaginaire i : force 01<br>
                Force de l'imaginaire j : force 10<br>
                Force de l'imaginaire k : force 11<br>
                <br>
                La force de l'imaginaire k met en rotation la cellule dimensionnelle au niveau du plan form&eacute; par les imaginaires i et j ("un i vers j" ) :<br>
                <br>
                C&rsquo;EST LE Z&Eacute;RO ABSOLU<br>
                <br>
                C'est la premi&egrave;re particule quantique<br>
                <br>
                La cin&eacute;matisation interne du z&eacute;ro absolu induit la temp&eacute;rature absolue de 0&deg;K (&eacute;nergisation)<br>
                <br>
                Le z&eacute;ro absolu, appel&eacute; aussi chronoton, est l'horloge quantique &agrave; l'origine des 31 autres particules &eacute;l&eacute;mentaires (par chiralit&eacute;, certaines particules ont une anti-particule) qui naissent conform&eacute;ment &agrave; l'onde num&eacute;rique en rapport avec les nombres premiers<br>
 
                                         </div>

                <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/nombres-premiers-24959461.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959461/img-24959461564.jpg?v=1"></a>Voir l'image en grand<strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><br>
                La fr&eacute;quence des nombres premiers est plus &eacute;lev&eacute;e en classe 5 :<br>
                <br>
                <br>
                <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/frequence-premiers-24959462.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959462/img-2495946279b.jpg?v=1"></a>Voir l'image en grand<strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><br>
                <br>
                <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/periode-premiers-24959464.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959464/img-249594641aa.jpg?v=1"></a>Voir l'image en grand<strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><br>
                L'atome d'hydrog&egrave;ne marque la sortie de l'imaginaire.<br>
                <br>
                L'expression de la relativit&eacute; par les ondes particulaires correspond &agrave; la totalit&eacute; du spectre universel :<br>
                <br>
                <br>
                <a href="http://club.doctissimo.fr/la-logique/album-565387/photo/spectre-particulaire-24959466.html"><img alt="" src="http://aws-cf.imdoc.fr/prod/photos/6/0/5/8582605/24959466/img-24959466d04.jpg?v=1"></a>Voir l'image en grand<strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><strong>0&nbsp;votes</strong><strong>1&nbsp;vote</strong><strong>0&nbsp;vote</strong><br>
                Un univers n'est pas en expansion mais cet univers est jeune et il grandit par division lemniscatique &agrave; la base. La maturit&eacute; d'un univers - en bonne estimation - est donn&eacute;e pour une centaine de milliards d'ann&eacute;es.
              </div><br>
              <br>
                <!-- BREAK -->
              <u>Pr&eacute;cisions</u> :<br>
              <br>
              &bull; Le big-bang n'est que la naissance de la premi&egrave;re galaxie par torsion branaire qui fait se rencontrer les z&eacute;ros absolus &agrave; l'envers les uns des autres, d&eacute;clenchant le processus d'&eacute;laboration des particules &eacute;l&eacute;mentaires hautement &eacute;nerg&eacute;tique.<br>
              <br>
              &bull; Les trous noirs sont des bulles de cavitation dimensionnelle form&eacute;es par les &eacute;toiles &agrave; neutron. D&eacute;nu&eacute;es de cellules dimensionnelles, les trous noirs ont une temp&eacute;rature inf&eacute;rieure &agrave; la temp&eacute;rature de 0&deg;K. Selon la loi des gaz parfaits, pour un m&ecirc;me volume, la pression diminue si la temp&eacute;rature diminue. De m&ecirc;me, les trous noirs attirent la mati&egrave;re car ce sont des d&eacute;pressions dimensionnelles. Car la temp&eacute;rature y est inf&eacute;rieure &agrave; 0&deg;K, les particules quantiques constitutives de la mati&egrave;re sont enti&egrave;rement d&eacute;cin&eacute;matis&eacute;es avec &eacute;mission d'un rayonnement gamma.<br>
              <br>
              &bull; La gravitation est l'effet conjugu&eacute; du magn&eacute;tisme quantique des "noyaux" des atomes constitutifs d'un corps et la force gravitationnelle est d'autant plus grande que le corps poss&egrave;de beaucoup d'atomes. Ainsi les corps c&eacute;lestes sont les corps qui exercent la plus grande force gravitationnelle.<br>
              <br>
              &bull; Les particules quantiques du "noyau" des atomes s'organisent de telles sorte que le proton appara&icirc;t comme un barreau aimant&eacute; ins&eacute;r&eacute; dans un cerceau form&eacute; par le neutron. L'&eacute;lectron, particule &eacute;l&eacute;mentaire de la m&ecirc;me famille que le photon, se d&eacute;place 4 fois moins vite que le photon et sa caract&eacute;ristique est d'&ecirc;tre capt&eacute; par le "noyau" de l'atome. Les &eacute;quations de Schr&ouml;dinger sont exactes en ce sens o&ugrave; ce sont des &eacute;quations structurelles des cages &eacute;lectroniques.
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
