@font-face{
    font-family: 'selectric';
    src: url('fontes/SelectricMono-webfont.ttf');
}
	
*{
    font-family: 'selectric';
    font-size: 9pt;
    }

img{
    filter: grayscale(100%);
    width: 8cm;
}

#author{
	width: 4cm;
	margin: 0.25cm;
	position: absolute;
}

#author img{
    width: 100%;
}

h3{
    margin-left: 4.5cm;
}

#content{
    position: absolute;
    left: 4.5cm;
    right: 0.25cm;
    column-count: 2;
    column-gap: 0.25cm;
}








