 @font-face{
      font-family: 'aileron';
 src: url('fontes/Averia-Bold.ttf');
 }
 
 body{
    padding: 20px; 
    }
table{
width: 95%;    
}
tr{
    height:10px;
    margin: 0, padding: 0;
    }
 
 h3{
	    font-size: 200px; 
	line-height:150px;
	text-transform: uppercase; 
	position: absolute; 
	top: 0px;
     }

body{
	   /* line-height: 2px;*/
	font-size: 24px;
	font-family: 'aileron';
	letter-spacing: -2px;
	
    }
    
    a:link, a:active, a:visited{
	    color: black;
	text-transform: uppercase;    
    }
    
    img{
        
             display: none;
        }
        
        
        #topicalertmoderator, .replywithquote, li{
            
            display: none;
            }
            
.citation, .post_content, .messCase1, .cHeader, .wysiwyg_smiley{
    
	    display: none;
    }
        
        
        
        
        
        
            
            
