html, body{
        margin: 0; padding: 0; width: 100%;
        
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre {
                font-family: 'Aileron-Regular';
			text-align: center;
			}

#loup{
	transform: skewY(-20deg); 
	}

#bloc1{
      width: 500px;
	height: 600px; 
	border: 3px dotted red;  
	margin-left: 30px;
	padding: 10px;
	margin-top: 20px;
	        box-shadow: 10px 10px 30px red;
	
}
	
  #bloc2{
      width: 400px;
	height: 320px; 
	border: 3px dashed blue;  
	margin-left: 210px;
	padding: 10px;
	margin-top: -70px;
	background-color: #bbdefb;
	        box-shadow: 20px 20px 30px #bbdefb;

}
#bloc3{
	moz-column-count: 2;
	webkit-column-count:2;
	column-count:2;
	margin: 0.5cm;
	transform: skewY(-5deg); 
  
  
  
  
  
  
  
  
  
