html, body{
        margin: 0; padding: 0; width: 100%;
        
}

@font-face {  
     font-family: 'Aileron-Regular';
       src: url(fontes/Aileron-Regular.otf);
}
       
#titre {
                font-family: 'Aileron-Regular';
}
