@font-face{
    font-family: 'Averia-Bold';
     src: url('fontes/Averia-Bold.ttf');
     }
	

p{
margin: 1cm;
transform: skewY(-5deg); 
font-family: Averia-Bold;
margin-right: 0.5cm;
margin-top: 0.25cm;
margin-bottom: 0.25cm;
text-align:justify;
}


h1{
    font-size: 25px; 
    text-shadow: 2px 2px 5px grey, 1px 1px 0px grey;
    transform: skewY(-5deg); 
    margin: 0.5cm;
    text-transform : uppercase;
    }

h2{
    font-size: 16px;
	margin-left : 2cm;
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
	transform: skewY(-5deg); 
	font-weight: bold;
	text-transform : uppercase;
	}
li{
    transform: skewY(-5deg); 
    font-family: Averia-Bold;
	margin-right: 1cm;
	margin-top: 0cm;
	margin-bottom:0cm;
	text-align: justify;
    }
ul{
    margin-top:0.25;
    margin-bottom:0.25;
    }


img{
	 width:100%;
}

.image{
    position: absolute;
    width: 20%;
    margin-left: 75%;
    margin-bottom: 50%;
    transform: skewY(-5deg);
    
}

p, li, h2{
	width: 80%;
	margin-left: 10%;  
}




















